<style>
/* dialog panl */
.modal-dialog.CAM200_QUS {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 900px;
	height: auto;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
</style>
<div>
	<div ng-controller="CAM200_QUSController" ng-cloak>
		<div class="modal-dialog CAM200_QUS">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
					<h4 id="myModalAlertLabel" class="modal-title" align="center">問卷資料蒐集</h4>
				</div>
				<div class="modal-body">
					<div class="gv_tab_sc scroll_y" >
						<table>
							<tbody ng-repeat="row in questionList track by $index" ng-init="parentIdx = $index">
								<tr>
									<td align="left">
										<h4 class="h4-title">{{$index + 1}}.&nbsp;{{row.QUESTION_DESC}}</h4>
										<div ng-repeat="answer in row.answer" style="display:inline;">
											<input type="checkbox" ng-disabled="disableType"
												   ng-click="toggleSelection('checkbox', row.QUESTION_VERSION, answer.ANSWER_SEQ, answer.ANSWER_DESC, (answer.ANSWER_DESC != '其他' ? answer.ANSWER_DESC : textOtherAnswer[row.QUESTION_VERSION]))"
												   ng-if="row.QUESTION_TYPE == 'M'"
												   ng-checked="answer.ANSWER_NGCHECK == 'Y'"/>
											<input type="radio" name="questions_{{parentIdx}}" ng-disabled="disableType"
												   ng-click="toggleSelection('radio', row.QUESTION_VERSION, answer.ANSWER_SEQ, answer.ANSWER_DESC, (answer.ANSWER_DESC != '其他' ? answer.ANSWER_DESC : textOtherAnswer[row.QUESTION_VERSION]))"
												   ng-if="row.QUESTION_TYPE == 'S'"
												   ng-checked="answer.ANSWER_NGCHECK == 'Y'"/>
											<input type="text" ng-disabled="disableType"
												   ng-model="textAnswer[row.QUESTION_VERSION]"
												   ng-if="row.QUESTION_TYPE == 'T'"
												   ng-change="toggleSelection('text', row.QUESTION_VERSION, answer.ANSWER_SEQ, answer.ANSWER_DESC, textAnswer[row.QUESTION_VERSION])"
												   ng-value="answer.ANSWER_REMARK"/>
											<input type="text" ng-disabled="disableType"
												   e-input-limit="ND" id="dmt_balanced" name="dmt_balanced"
												   ng-model="textAnswer[row.QUESTION_VERSION]"
												   ng-if="row.QUESTION_TYPE == 'N'"
												   ng-change="toggleSelection('text', row.QUESTION_VERSION, answer.ANSWER_SEQ, answer.ANSWER_DESC, textAnswer[row.QUESTION_VERSION])"
												   ng-value="answer.ANSWER_REMARK"/>
												{{(row.QUESTION_TYPE == 'M' || row.QUESTION_TYPE == 'S') ? answer.ANSWER_DESC : ''}}
												<input type="text" ng-disabled="disableType"
													   ng-model="textOtherAnswer[row.QUESTION_VERSION]"
													   ng-show="answer.ANSWER_DESC == '其他'"
													   ng-change="toggleSelection('others', row.QUESTION_VERSION, answer.ANSWER_SEQ, answer.ANSWER_DESC, textOtherAnswer[row.QUESTION_VERSION])"
													   ng-value="answer.ANSWER_REMARK"/>
												&nbsp;&nbsp;
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-info" ng-click="save()" ng-disabled="inputVO.questionnaireList.length == 0">確定</button>
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')" >取消</button>
				</div>
			</div>
		</div>
	</div>
</div>