<style>
/* dialog panl */
.modal-dialog.CUS160_ROUTE {
	width: 1350px;
	height: auto;
}
</style>
<script type="text/javascript" src="assets/txn/CUS160/CUS160.js"></script>
<div ng-controller="CUS160Controller" ng-cloak>
	<div class="modal-dialog CUS160_ROUTE">
		<div class="modal-content">	
			<div class="modal-header">
  				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title center">{{txnName}}<span ng-if="name">&nbsp;-&nbsp;{{name}}</span></h4>
			</div>
			<div class="modal-body">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" >	
						<div ng-include="routeURL"></div>
				</form>
			</div>
		</div>
	</div>
</div>
				