.drag-bar .dragBar-container {
  width: 100%;
  position: relative;
  min-height: 3.5em;
}

.drag-bar .bar-wrapper {
  position: relative;
  top: 1.5em;
}

.drag-bar .front,
.drag-bar .end {
  font-size: .9em;
  width: 10%;
  display: inline-block;
  line-break: break-all;
}

.drag-bar .front {
  text-align: right;
  padding-right: 5px;
}

.drag-bar .end {
  padding-left: 5px;
}

.drag-bar .bar {
  width: 75%;
  margin: 0 .2em;
  display: inline-block;
  height: 7px;
  border-radius: 10px;
  background-color: #cae3f0;
  position: relative;
  transition-property: background-image;
  transition-duration: 4s;
}

.drag-bar .button {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  top: -5px;
  left: -10px;
  background-image: linear-gradient(to top, #0094c8, #01afb2);
}

.drag-bar .tips {
  position: absolute;
  display: inline-block;
  padding: .3em .5em;
  top: -3em;
  font-size: 0.8em;
  border-radius: 5px;
  left: -2em;
  background-color: #f1f1f1;
  border: .5px solid #e2e2e2;
  min-width: 20%;
  white-space: nowrap;
  text-align: center;
}

.drag-bar .tip-area {
  height: 2em;
  width: 100%;
}

.drag-bar .can-drag.button {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-bar .can-drag.button:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
