<style>
.modal-dialog.INS260 {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 650px;
	height: auto;
}
/* table size */
.INS260 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.INS260 table.little{
	width: 60%;
}
/* change row */
.INS260.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_INS260_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
	float: left !important;
}
</style>
<script type="text/javascript" src="assets/txn/INS260/INS260.js"></script>
<div ng-controller="INS260Controller" ng-cloak>
	<div class="modal-dialog INS260">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">保險規劃書列印</h4>
			</div>
			<div class="modal-body">
				<div class="gv_tab_sc">
					<table class="table table-bordered td_center">
						<tbody>
							<tr>
								<td>壽險規劃</td>
								<td ng-bind="type1Text"></td>
								<td>
									<label ng-if="type1Enable">
										<input type="checkbox" name="selectedTypes[]" value="'1'" ng-checked="inputVO.chkType.indexOf('1') > -1" ng-click="toggleSelection('1')"> 列印建議書
									</label>
								</td>
							</tr>
							<tr>
								<td>意外險規劃</td>
								<td ng-bind="type2Text"></td>
								<td>
									<label ng-if="type2Enable">
										<input type="checkbox" name="selectedTypes[]" value="'2'" ng-checked="inputVO.chkType.indexOf('2') > -1" ng-click="toggleSelection('2')"> 列印建議書
									</label>
								</td>
							</tr>
							<tr>
								<td>醫療險規劃</td>
								<td ng-bind="type3Text"></td>
								<td>
									<label ng-if="type3Enable">
										<input type="checkbox" name="selectedTypes[]" value="'3'" ng-checked="inputVO.chkType.indexOf('3') > -1" ng-click="toggleSelection('3')"> 列印建議書
									</label>
								</td>
							</tr>
							<tr>
								<td>重大疾病(癌症、長期看護)規劃</td>
								<td ng-bind="type4Text"></td>
								<td>
									<label ng-if="type4Enable">
										<input type="checkbox" name="selectedTypes[]" value="'4'" ng-checked="inputVO.chkType.indexOf('4') > -1" ng-click="toggleSelection('4')"> 列印建議書
									</label>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-primary" ng-click="printReport()">列印保險規劃書</button>
					<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>