<style>
input:required:invalid{
	border-color: red;

}
input.bLarger{width: 20px; height: 20px;}

</style>
<script type="text/javascript" src="assets/txn/IOT140/IOT140.js"></script>

<div ng-controller="IOT140Controller" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit">
			<img src="assets/images/icon/tfb_icon_a16.gif">壽險契約送件打包及退件
		</div>
	</div>
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="search_table">
			<table>
				<tr>
					<th>*保險送件類型</th>
					<td><e-combobox id="reg_type" name="reg_type"
							ng-paramtype="IOT.PACK_REG_TYPE" ng-model="inputVO.REG_TYPE"
							ng-validate="false" ng-readonly="false" ng-editable="false"
							ng-format="F3" width="250px" style="line-height:20px;"
							ng-required="true" />
					</td>
					<th>進件來源</th>
					<td colspan="3">
						<e-combobox id="insSource" 
							ng-datasource="mappingSet['INS_SOURCE']"
							ng-model="inputVO.FB_COM_YN"
			   				ng-validate="false" 
			   				ng-readonly="false" 
			   				ng-editable="false"
			   				ng-format="F3"
			   				ng-required="false"
			   				width="200px"
			   				style="line-height:20px;" />
					</td>
    			
    		</div>
				</tr>
				<tr>
					<th>*鍵機日</th>
					<td colspan="2" class="form-inline">
						<div class="form-group">
							<div class="input-group datebox datewidth">
								<input type="text" id="keyin_date_f" name="keyin_date_f"
									class="form-control" uib-datepicker-popup="yyyy/MM/dd"
									ng-model="inputVO.KEYIN_DATE_F" is-open="model.a"
									datepicker-options="bgn_sDateOptions" ng-readonly="true"
									ng-change="limitDate()" />
								<!-- 製作日曆button -->
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event,'a')">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
							～
							<div class="input-group datebox datewidth">
								<input type="text" id="keyin_date_t" name="keyin_date_t"
									class="form-control" uib-datepicker-popup="yyyy/MM/dd"
									ng-model="inputVO.KEYIN_DATE_T" is-open="model.b"
									datepicker-options="bgn_eDateOptions" ng-readonly="true"
									ng-change="limitDate()" />
								<!-- 製作日曆button -->
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event,'b')">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</td>
					<th colspan="3"><input class="uniform_on" type='checkbox'
						id="included_reject" name="included_reject" ng-model='inputVO.INCLUDED_REJECT'
						ng-true-value="'Y'" ng-false-value="'N'" /> 查詢所有尚未送件(含退件)</th>
				</tr>
				<tr>
					<th>被保人ID</th>
					<td><input id="insured_id" name="insured_id" type="text"
						ng-model="inputVO.INSURED_ID" style="text-transform: uppercase;"></td>
					<th style="width: 70px;">要保人ID</th>
					<td><input id="cust_id" name="cust_id" type="text"
						ng-model="inputVO.CUST_ID" style="text-transform: uppercase;"></td>
					<th>保單號碼</th>
					<td>
						<input id="policy_no1" name="policy_no1" type="text" maxlength="20" style="width: 100px;" ng-model="inputVO.POLICY_NO1"> 
						- 
						<input id="policy_no2" name="policy_no2" type="text" maxlength="2" style="width: 30px;" e-input-limit="N" ng-model="inputVO.POLICY_NO2"> 
						- 
						<input id="policy_no3" name="policy_no3" type="text" maxlength="2" style="width: 30px;" ng-model="inputVO.POLICY_NO3">
					</td>
				</tr>
				<tr>
					<th>保險文件編號</th>
					<td><input id="ins_id" name="ins_id" type="text"
						ng-model="inputVO.INS_ID"></td>
					<th>送件人員員編</th>
					<td><input ng-blur="getInfo('RECRUIT')" id="op_batch_oprid"
						name="op_batch_oprid" type="text"
						ng-model="inputVO.OP_BATCH_OPRID"></td>
					<th>送件人員姓名</th>
					<td>{{inputVO.OP_BATCH_OPRNAME}}</td>
				</tr>
				<tr>
		          	<td>
		          		<div style="color: red;font-size: small;text-shadow: black;padding-left: 1%;">註:*為必輸欄位</div>
		          	</td>
         		 </tr>
			</table>
		</div>
		<div class="search_box_btn text-center">
			<button ng-click="queryData()" class="btn btn-info">查詢</button>
			<button ng-click="btnClear()" class="btn btn-info">清除</button>
		</div>
		<div class="text-right">
			<e-jumping-once ng-show="inputVO" output="outputVO"
				totallist="IOT_MAINList" list="data" rowcountlimit="300">
			</e-jumping-once>
		</div>
		<div class="gv_tab_sc scroll_y">
			<table class="e-table-freeze" e-height="500px" e-mode="1" e-top="true" e-list="data">
			<thead>
				<tr>
					<th>
						<input class="uniform_on bLarger" type='checkbox' id="select_all" ng-model="inputVO.select_all" ng-true-value="'Y'" ng-false-value="'N'" ng-change = "select_all()">
						勾選
					</th>
					<th>功能</th>
					<th>狀態</th>
					<th ng-show="showINSPRD_ID">退件原因</th>
					<th>保險文件編號</th>
					<th>文件填寫申請日</th>
					<th ng-show="showOTH_TYPE">文件類型</th>
					<th>要保險人姓名</th>
					<th>被保險人姓名</th>
					<th ng-show="showINSPRD_ID">主約險種</th>
					<th ng-show="showINSPRD_NAME">險種名稱</th>
					<th ng-show="showFXD_PROD_PERIOD">匯利專案檔期</th>
					<th ng-show="showTERMINATED_INC">解約</th>
					<th>分行送件批號</th>
					<th>無紙化</th>
					<th ng-show="showSIGN_INC">需簽署</th>
					<th>保單來源</th>
					<th>保險公司</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="row in data" ng-class-odd="'rowOdd'"
					ng-class-even="'rowEven'">
					<td><input class="uniform_on bLarger" type='checkbox' id="choice"
						name="choice" ng-model='row.choice' ng-true-value="'Y'"
						ng-false-value="'N'" ng-change="select_false(row.choice)"/></td>
					<td><e-combobox id="edit" name="edit" ng-datasource="row.edit"
							ng-model="row.editto" ng-validate="false" ng-readonly="false"
							ng-editable="false" ng-format="F3" ng-required="false"
							ng-change="edit(row)" width="100px" style="line-height:20px;" />
					</td>
					<td>{{row.STATUS | mapping:mappingSet['IOT.MAIN_STATUS']:F3}}</td>
					<td ng-show="showINSPRD_ID">{{row.REJ_REASON}}</td>
					<td>{{row.INS_ID}}</td>
					<td ng-show="row.REG_TYPE != '3'">{{row.APPLY_DATE}}</td>
					<td ng-show="row.REG_TYPE == '3'">{{row.DOC_KEYIN_DATE}}</td>
					<td ng-show="showOTH_TYPE">{{row.OTH_TYPE |mapping:mappingSet['IOT.OTH_TYPE']:F3}}</td>
					<td>{{row.PROPOSER_NAME}}</td>
					<td>{{row.INSURED_NAME}}</td>
					<td ng-show="showINSPRD_ID">{{row.INSPRD_ID}}</td>
					<td ng-show="showINSPRD_NAME">{{row.INSPRD_NAME}}</td>
					<td ng-show="showFXD_PROD_PERIOD">{{row.PROD_PERIOD}}</td>
					<td ng-show="showTERMINATED_INC">{{row.TERMINATED_INC}}</td>
					<td>{{row.OP_BATCH_NO}}</td>
					<td>{{row.NO_PAPER_YN}}</td>
					<td ng-show="showSIGN_INC">{{row.SIGN_INC}}</td>
					<td>{{row.INS_SOURCE}}</td>
					<td>{{row.INS_COM_NAME}}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="search_box_btn text-center">
			<button ng-click="Pack()" class="btn btn-info">打包</button>
			<button ng-click="unPack()" class="btn btn-info">取消打包</button>
			<button ng-click="rePrint()" class="btn btn-info">補印送件明細</button>
		</div>

	</div>




</div>