<style>
/* open dialog */
.ngdialog.CUS130_DETAIL {
	
}
/* dialog panl */
.modal-dialog.CUS130_DETAIL {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1100px;
	height: auto;
}
/* table size */
.CUS130_DETAIL table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.CUS130_DETAIL.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_CUS130_DETAIL_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
}
.red{
	color: red !important;
}
</style>
<div ng-controller="CUS130_DETAILController" ng-cloak>
	<div class="modal-dialog CUS130_DETAIL">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">回報結果</h4>
			</div>
			<div class="modal-body">
				<table>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">回報計畫名稱：</th>
						<td class="col-md-7 tdpadding">{{row.IVG_PLAN_NAME}}</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">回報類型：</th>
						<td class="col-md-7 tdpadding">{{row.IVG_TYPE | mapping:IVG_TYPE:'F3'}}</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">計畫狀態：</th>
						<td class="col-md-7 tdpadding">{{row.IVG_PLAN_TYPE | mapping:IVG_PLAN_TYPE:'F3'}}</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">計畫日期：</th>
						<td class="col-md-7 tdpadding">{{toJsDate(row.IVG_START_DATE) | date:"yyyy/MM/dd"}} ~ {{toJsDate(row.IVG_END_DATE) | date:"yyyy/MM/dd"}}</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">回報計畫說明：</th>
						<td class="col-md-7 tdpadding">
							<textarea id="ivgPlanDesc" name="ivgPlanDesc" class="form-control" ng-model="row.IVG_PLAN_DESC" style="width: 100%; height: 100px" e-length-limit="200" disabled></textarea>
						</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">附加檔案：</th>
						<td class="col-md-7 tdpadding"><a onclick="return false" ng-click="download()">{{row.DOC_NAME}}</a></td>
						<td class="col-xs-1"></td>
					</tr>
				</table>
				<button type="button" class="btn btn-info" ng-click="exportData()">匯出</button>
			</div>
			<div class="modal-body">
				<e-jumping-once output="outputVO" list="data" totallist="totalData" limittotal="false"></e-jumping-once>
				<div class="gv_tab_sc" style="white-space: nowrap;">
					<table class="e-table-freeze" e-height="550px" e-mode="3" e-top="true" e-left="7" e-list="totalData">
						<thead>
							<tr>
								<th>序號</th>
								<th>是否已回報</th>
								<th>業務處</th>
								<th>營運區</th>
								<th>分行</th>
								<th>回報人員</th>
								<th>角色</th>
								<th>最後回報日期</th>
								<th>最後修改日期</th>
								<th class="repeat-row" ng-repeat="row in column track by $index">
									{{row.FIELD_LABEL}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="repeat-row" ng-repeat="row in data track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
								<td>{{row.ROW_NO}}</td>
								<td>{{row.RES_FLAG | mapping:COMMON_YN:'F3'}}</td>
								<td>{{row.REGION_CENTER_NAME}}</td>
								<td>{{row.BRANCH_AREA_NAME}}</td>
								<td>{{row.BRANCH_NBR ? row.BRANCH_NBR + '-' : ''}}{{row.BRANCH_NAME}}</td>
								<td>{{row.EMP_ID}}-{{row.EMP_NAME}}</td>
								<td>{{row.ROLE_NAME}}</td>
								<td>{{row.CREATETIME}}</td>
								<td>{{row.LASTUPDATE}}</td>
								<td class="repeat-row" ng-repeat="row2 in row.SUBITEM track by $index">
									<div ng-switch="row2.FIELD_TYPE">
										<span ng-switch-when="4">
											{{parseFloat(row2.FIELD_VALUE) | date:"yyyy/MM/dd"}}
										</span>
										<span ng-switch-default>
											{{row2.FIELD_VALUE}}
										</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >確定</button>
			</div>
		</div>
	</div>
</div>