<style>
/* table size */
.SOT1610 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.SOT1610.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}

.bigspace{
	margin-left: 50px !important;
}
</style>
<!-- SOT1610-動態鎖利單筆申購  -->
<script type="text/javascript" src="assets/txn/SOT1610/SOT1610.js"></script>
<script type="text/javascript" src="assets/txn/PRD110/PRD110.js"></script>
<script type="text/javascript" src="assets/txn/SOT110/SOT110_ROUTE.js"></script>
<script type="text/javascript" src="assets/txn/SOT712/FitnessMessageDialog.js"></script>
<script type="text/javascript" src="assets/txn/PRD100/PRD100.js"></script>
<script type="text/javascript" src="assets/txn/PRD100/PRD100_BOSS.js"></script>
<script type="text/javascript" src="assets/txn/CRM512/CRM512.js"></script>
<script type="text/javascript" src="assets/txn/CRM512/CRM512_DETAILS.js"></script>

<div class="SOT1610" ng-controller="SOT1610Controller" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >商品資料輸入及適配</div>
	</div>
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="search_table">
			<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
				<h4 class="h4-title">交易資料輸入</h4>
				<div ng-bind="jsLog" class="hidden"></div>
				<div ng-bind="jsCustKycData"  class="hidden"></div>
				<div ng-bind="jsLogCustFeePrdDueDate"  class="hidden"></div>
				<div ng-bind="jsLogCustPLData"  class="hidden"></div>
				<div ng-bind="jsLogCustAcctData"  class="hidden"></div>
				<div ng-bind="jsLogCustInfoData"  class="hidden"></div>
				<div ng-bind="jsLogPRD110Data"  class="hidden"></div>
                
				<table>
					<tr>
						<td colspan="5">
							<table>
								<tr>
									<th colspan="2">
										*客戶ID：
										<input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="custID" name="custID" ng-model="inputVO.custID" ng-disabled="carList.length > 0" ng-blur="validateSeniorCust();" e-length-limit="200" required >
										&nbsp;&nbsp;&nbsp;{{inputVO.custName}}
									</th>
									<th colspan="2">KYC等級/效期：{{inputVO.kycLV}}/{{inputVO.kycDueDate | date:"yyyy-MM-dd"}}</th>
								</tr>
								<tr>
									<th>&nbsp;客戶註記：{{inputVO.custRemarks | mapping:mappingSet['SOT.SPEC_CUSTOMER']:'F3'}}</th>
									<th>OBU註記：{{inputVO.isOBU}}</th>
									<th>同意投資商品諮詢服務：{{inputVO.isAgreeProdAdv}}</th>
									<th>期間議價效期：{{inputVO.bargainDueDate | date:"yyyy-MM-dd"}}</th>
								</tr>
							</table>
						</td>
					</tr>
					<br/>
					<tr>
						<th>*申購方式：</th>
						<td colspan="4">
							<input type="radio" name="isWeb" ng-model="inputVO.isWeb" value="N" ng-change="onWebChange()" ng-disabled="true">臨櫃交易
							<span class="bigspace"></span>
							<input type="radio" name="isWeb" ng-model="inputVO.isWeb" value="Y" ng-change="onWebChange()" ng-disabled="true">網銀行銀快速申購
						</td>
					</tr>
					<tr>
						<th>*母基金代號：</th>
						<td>
							<input type="text" class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="prodId" name="prodId" ng-model="inputVO.prodId" ng-blur="checkFundStatusM()" e-length-limit="100" required>
							<button type="button" class="btn btn-info" ng-click="goPRD110D('M', '')">搜尋母基金</button>
						</td>
						<th>基金名稱：{{inputVO.prodName}}</th>
						<th>計價幣別：{{inputVO.prodCurr}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLv}}</th>
					</tr>
					<tr>
						<th>*信託幣別：</th>
						<td colspan="4" ng-if="(inputVO.prodFus20 == 'C')"><!-- 國內基金 -->
							<label><input type="radio" name="type2" ng-change="currencyType()" ng-model="inputVO.trustCurrType" value="C" required> 臺幣</label>
						</td>
						<td colspan="4" ng-if="(inputVO.prodFus20 != 'C')"><!-- 不是國內基金 -->
							<span ng-if="(inputVO.buyTwd != 'N')">
							<label><input type="radio" name="type2" ng-change="currencyType()" ng-model="inputVO.trustCurrType" value="N" required> 臺幣</label></span>
							<span class="bigspace"></span>
							<label><input type="radio" name="type2" ng-change="currencyType()" ng-model="inputVO.trustCurrType" value="Y" required> 外幣</label>
							<input class="form-control" type="hidden" id="trustCurr" name="trustCurr" ng-model="inputVO.trustCurr" />
						</td>
					</tr>
					<tr>
						<td></td>
						<th>*母基金申請金額：</th>
						<th colspan="3">
						    {{avlCurrency}} <input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="purchaseAmt" name="purchaseAmt" 
						    					e-input-limit="NC" ng-model="inputVO.purchaseAmt"  ng-blur="checkPurchaseAmtLimit('M', '');getFeeTypeListData();getFee('rate')" 
						    					e-length-limit="200" ng-disabled="purchaseAmtDisable == 'Y'"  required>
							<span class="bigspace"></span>
							最低申購金額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinBuyAmt | number:num}}
							<span class="bigspace"></span>
							累進申購面額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinGrdAmt | number:num}}
						</th>
					</tr>
					
					<tr>
						<th >*子基金代號1：</th>
						<td>
							<input type="text" class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="prodIdC1" name="prodIdC1" ng-model="inputVO.prodIdC1" ng-blur="checkFundStatusC1()" e-length-limit="100" required>
							<button type="button" class="btn btn-info" ng-click="goPRD110D('C', '1')" function-type="query">搜尋子基金</button>
						</td>
						<th>基金名稱：{{inputVO.prodNameC1}}</th>
						<th>計價幣別：{{inputVO.prodCurrC1}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC1}}</th>
					</tr>
					<tr>
						<td></td>
						<th>*子基金申請金額1：</th>
						<th colspan="3">
						    {{avlCurrency}} <input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="purchaseAmtC1" name="purchaseAmtC1" 
						    					e-input-limit="NC" ng-model="inputVO.purchaseAmtC1"  ng-blur="checkPurchaseAmtLimit('C', '1');"  
						    					e-length-limit="200" ng-disabled="purchaseAmtDisable == 'Y'"  required>
							<span class="bigspace"></span>
							最低申購金額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinBuyAmtC1 | number:num}}
							<span class="bigspace"></span>
							累進申購面額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinGrdAmtC1 | number:num}}
						</th>
					</tr>
					
					<tr>
						<th >&nbsp;子基金代號2：</th>
						<td>
							<input type="text" class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="prodIdC2" name="prodIdC2" ng-model="inputVO.prodIdC2" ng-blur="checkFundStatusC2()" e-length-limit="100" >
							<button type="button" class="btn btn-info" ng-click="goPRD110D('C', '2')" function-type="query">搜尋子基金</button>
						</td>
						<th>基金名稱：{{inputVO.prodNameC2}}</th>
						<th>計價幣別：{{inputVO.prodCurrC2}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC2}}</th>
					</tr>
					<tr>
						<td></td>
						<th>&nbsp;子基金申請金額2：</th>
						<th colspan="3">
						    {{avlCurrency}} <input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="purchaseAmtC2" name="purchaseAmtC2" 
						    					e-input-limit="NC" ng-model="inputVO.purchaseAmtC2"  ng-blur="checkPurchaseAmtLimit('C', '2');"  
						    					e-length-limit="200" ng-disabled="purchaseAmtDisable == 'Y'"  >
							<span class="bigspace"></span>
							最低申購金額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinBuyAmtC2 | number:num}}
							<span class="bigspace"></span>
							累進申購面額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinGrdAmtC2 | number:num}}
						</th>
					</tr>
					
					<tr>
						<th >&nbsp;子基金代號3：</th>
						<td>
							<input type="text" class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="prodIdC3" name="prodIdC3" ng-model="inputVO.prodIdC3" ng-blur="checkFundStatusC3()" e-length-limit="100" >
							<button type="button" class="btn btn-info" ng-click="goPRD110D('C', '3')" function-type="query">搜尋子基金</button>
						</td>
						<th>基金名稱：{{inputVO.prodNameC3}}</th>
						<th>計價幣別：{{inputVO.prodCurrC3}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC3}}</th>
					</tr>
					<tr>
						<td></td>
						<th>&nbsp;子基金申請金額3：</th>
						<th colspan="3">
						    {{avlCurrency}} <input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="purchaseAmtC3" name="purchaseAmtC3" 
						    					e-input-limit="NC" ng-model="inputVO.purchaseAmtC3"  ng-blur="checkPurchaseAmtLimit('C', '3');"  
						    					e-length-limit="200" ng-disabled="purchaseAmtDisable == 'Y'" >
							<span class="bigspace"></span>
							最低申購金額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinBuyAmtC3 | number:num}}
							<span class="bigspace"></span>
							累進申購面額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinGrdAmtC3 | number:num}}
						</th>
					</tr>				
					
					<tr>
						<th>&nbsp;表定手續費率：</th>
						<td colspan="4">{{inputVO.defaultFeeRate}} %</td> 
					</tr>
					<tr>
						<th>&nbsp;手續費優惠方式：</th>
						<th colspan="4">
							<e-combobox id="feeType" name="feeTypeIndex" 
										ng-datasource="mappingSet['FEE_RATE_TYPE']"
										ng-model="inputVO.feeTypeIndex"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-format="F3"
										ng-change="getFeeType()"
										ng-disabled="inputVO.isBanker == 'Y'"
										width="200px"
										style="line-height:20px;"/> 
							<span class="hidden">{{inputVO.feeTypeIndex}} : {{inputVO.feeType}} <span>
						</th>				
					</tr>	
					<tr> 
					    <th></th>
						<th colspan="4">
							<span ng-if="(inputVO.tradeSubType == '1' && inputVO.feeTypeIndex !='idxBTH' && inputVO.feeType != 'E')">		
	    						*手續費率：<input  type="text"  class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="feeRate" name="feeRate" ng-model="inputVO.feeRate" ng-blur="getFee('rate');checkBestFee()" ng-disabled="feeRateDisabled || inputVO.isBanker == 'Y'" e-length-limit="6" required>%
	    					    <span class="bigspace"></span> 
	    						手續費金額：{{inputVO.trustCurr}} {{inputVO.fee | number:num}}元 
	    						<span class="bigspace"></span>
	    						折數：<input  type="text"  class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="feeDiscount" name="feeDiscount" ng-model="inputVO.feeDiscount" ng-blur="getFee('feeDis');checkBestFee()" ng-disabled="feeRateDisabled || inputVO.isBanker == 'Y'" e-length-limit="6">折
	    					</span> 
						</th>
					</tr>
					<tr> 
					    <th></th>
						<th colspan="4">
							<span ng-if="inputVO.feeType =='A'">
	    						議價原因：<input  type="text"  class="form-control" style="width:600px;display:inline;" placeholder="請輸入..." id="brgReason" name="brgReason" ng-model="inputVO.brgReason" e-length-limit="200">
	    					</span>  
	    					<input class="form-control" type="hidden" id="bargainApplySEQ" name="bargainApplySEQ" ng-model="inputVO.bargainApplySEQ" />
						</th>
					</tr>
					
					<tr>
						<th>*扣款帳號：</th>
						<td colspan="4">
							<e-combobox id="debitAcct" name="debitAcct" 
										ng-datasource="mappingSet['SOT.DEBIT_ACCT_LIST#DISPLAY']"
										ng-model="inputVO.debitAcct"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-required="true"
										ng-disabled="cmbDebitAcct"
										ng-format="F3"
										ng-change="changeAcct('debit')"
										style="line-height:20px;" required/>
									{{avlCurrency}} {{inputVO.debitAvbBalance | number:num}} 
						</td>
					</tr>
					
					<tr>
						<th>*信託帳號：</th>
						<td colspan="4">
							<e-combobox id="trustAcct" name="trustAcct" 
										ng-datasource="mappingSet['SOT.TRUST_ACCT_LIST']"
										ng-model="inputVO.trustAcct"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-required="true"
										ng-format="F3"
										width="200px"
										ng-change="checkTrustAcct();getDefaultFeeRate()"
										style="line-height:20px;"
										required />
						</td>
					</tr>
					<tr>
						<th>*收益入帳帳號：</th>
						<td colspan="4">
							<e-combobox id="creditAcct" name="creditAcct" 
										ng-datasource="mappingSet['SOT.CREDIT_ACCT_LIST#DISPLAY']"
										ng-model="inputVO.creditAcct"
										ng-validate="false" 
										ng-readonly="cmbCreditAcct" 
										ng-editable="false"
										ng-required="true"
										ng-disabled="cmbCreditAcct"
										ng-format="F3"
										width="200px"
										style="line-height:20px;" required/> 
						</td>
					</tr>
					
					<tr>
						<th>*取得公開說明書方式：</th>
						<td colspan="4">
							<e-combobox id="creditAcct" name="prospectusType" 
										ng-datasource="mappingSet['SOT.PROSPECTUS_TYPE']"
										ng-model="inputVO.prospectusType"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-required="true"
										ng-format="F3"
										width="250px"
										ng-disabled="inputVO.prospTypeDisabled"
										style="line-height:20px;" required/> 
						</td>
					</tr>					
					
					<tr>
						<th>*轉換日期：</th>
						<th colspan="4">
							<input type="checkbox" ng-change="" ng-model="inputVO.transDate1" ng-true-value="'Y'" ng-false-value="'N'" >&nbsp;1&nbsp;&nbsp;
							<input type="checkbox" ng-change="" ng-model="inputVO.transDate2" ng-true-value="'Y'" ng-false-value="'N'" >&nbsp;11&nbsp;&nbsp;
							<input type="checkbox" ng-change="" ng-model="inputVO.transDate3" ng-true-value="'Y'" ng-false-value="'N'" >&nbsp;21&nbsp;&nbsp;
							<input type="checkbox" ng-change="" ng-model="inputVO.transDate4" ng-true-value="'Y'" ng-false-value="'N'" >&nbsp;6&nbsp;&nbsp;
							<input type="checkbox" ng-change="" ng-model="inputVO.transDate5" ng-true-value="'Y'" ng-false-value="'N'" >&nbsp;16&nbsp;&nbsp;
							<input type="checkbox" ng-change="" ng-model="inputVO.transDate6" ng-true-value="'Y'" ng-false-value="'N'" >&nbsp;26&nbsp;&nbsp;
						</th>
					</tr>
					<tr>
						<th>*交易日期：</th>
						<th colspan="4" id="tradeDateType">
							<label ng-repeat="row in mappingSet['SOT.TRADE_DATE_TYPE'] | limitTo:displayLimit track by $index">
								<input type="radio" 
									   name="tradeDateType" id="tradeDateType{{row.DATA}}" 
									   ng-model="inputVO.tradeDateType"
									   ng-value="row.DATA" 
									   ng-click="checkTradeDate(row.DATA)" 
									   required> {{row.LABEL}}
								<span class="bigspace"></span>
							</label>
						    <span>({{reserveTradeDay}}天內的營業日 {{toJsDate(inputVO.reservationTradeDate) | date:"yyyy-MM-dd"}})</span>
						</th>
					</tr>
					<tr>
						<th>*約定報酬率：</th>
						<th colspan="4">
							<e-combobox id="engagedROIDisplay" name="engagedROIDisplay" 
								ng-datasource="mappingSet['SOT.NF_ENGAGED_ROI']"
								ng-model="inputVO.engagedROIDisplay"
								ng-validate="false" 
								ng-readonly="false" 
								ng-editable="false"
								ng-required="true"
								ng-format="F3"
								width="200px"
								ng-change="engagedROIDisplayChanged();"
								style="line-height:20px;" required/> 
							<input class="form-control" style="width:100px;display:inline;"  id="engagedROI" name="engagedROI" 
									ng-model="inputVO.engagedROI" e-input-limit="NN" e-length-limit="3" ng-show="inputVO.engagedROIDisplay == '0'"/>%
						</th>
						<td >
							
						</td>
					</tr>
					<tr>
						<th>*解說專員：</th>
						<td colspan="4">
							<input type="text" class="form-control" style="width:auto;display:inline;" id="narratorID" name="narratorID" ng-model="inputVO.narratorID" ng-blur="getSOTEmpInfo()" ng-disabled="narratorDisabled" e-length-limit="200" required>
							<span class="bigspace"></span>
							{{inputVO.narratorName}}
						</td>
					</tr>
				</table>
			</form>
		</div>
		<br>
		<div class="search_box_btn text-center">
			<button type="button" class="btn btn-info" ng-click="init();query();">清除</button>
<!-- 			<button type="button" class="btn btn-info" ng-click="save('1');"  ng-hide="inputVO.bargainStatus != null">暫存</button> -->
			<button type="button" class="btn btn-info" ng-click="save('2');" function-type="maintenance">下一步</button>
			 
		</div>
	</div>
</div>