<style>
/* table size */
.SOT1620 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.SOT1620.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}

.bigspace{
	margin-left: 50px !important;
}
</style>
<!-- SOT1620-動態鎖利母基金加碼  -->
<script type="text/javascript" src="assets/txn/SOT1620/SOT1620.js"></script>
<script type="text/javascript" src="assets/txn/SOT132/SOT132.js"></script>
<script type="text/javascript" src="assets/txn/SOT712/FitnessMessageDialog.js"></script>
<script type="text/javascript" src="assets/txn/PRD100/PRD100.js"></script>
<script type="text/javascript" src="assets/txn/PRD100/PRD100_BOSS.js"></script>
<script type="text/javascript" src="assets/txn/CRM512/CRM512.js"></script>
<script type="text/javascript" src="assets/txn/CRM512/CRM512_DETAILS.js"></script>

<div class="SOT1620" ng-controller="SOT1620Controller" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >商品資料輸入及適配</div>
	</div>
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="search_table">
			<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
				<h4 class="h4-title">交易資料輸入</h4>
				<div ng-bind="jsLog" class="hidden"></div>
				<div ng-bind="jsCustKycData"  class="hidden"></div>
				<div ng-bind="jsLogCustFeePrdDueDate"  class="hidden"></div>
				<div ng-bind="jsLogCustPLData"  class="hidden"></div>
				<div ng-bind="jsLogCustAcctData"  class="hidden"></div>
				<div ng-bind="jsLogCustInfoData"  class="hidden"></div>
				<div ng-bind="jsLogPRD110Data"  class="hidden"></div>
                
				<table>
					<tr>
						<td colspan="5">
							<table>
								<tr>
									<th colspan="2">
										*客戶ID：
										<input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="custID" name="custID" ng-model="inputVO.custID" ng-disabled="carList.length > 0" ng-blur="validateSeniorCust();" e-length-limit="200" required >
										&nbsp;&nbsp;&nbsp;{{inputVO.custName}}
									</th>
									<th colspan="2">KYC等級/效期：{{inputVO.kycLV}}/{{inputVO.kycDueDate | date:"yyyy-MM-dd"}}</th>
								</tr>
								<tr>
									<th>&nbsp;客戶註記：{{inputVO.custRemarks | mapping:mappingSet['SOT.SPEC_CUSTOMER']:'F3'}}</th>
									<th>OBU註記：{{inputVO.isOBU}}</th>
									<th>同意投資商品諮詢服務：{{inputVO.isAgreeProdAdv}}</th>
									<th>期間議價效期：{{inputVO.bargainDueDate | date:"yyyy-MM-dd"}}</th>
								</tr>
							</table>
						</td>
					</tr>
					<br/>
					<tr>
						<td colspan="5">
							<button type="button" class="btn btn-info" ng-disabled="!inputVO.custID" ng-click="goSOT132()" function-type="query">選擇庫存</button>
						</td>
					</tr>
					<tr>
						<th>&nbsp;母基金名稱：</th>
						<td>{{inputVO.prodId}}&nbsp;{{inputVO.prodName}}</td>
						<th>計價幣別：{{inputVO.prodCurr}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLv}}</th>
						<td>信託金額：{{inputVO.trustCurr}}&nbsp;{{inputVO.purchaseAmt | number:num}}</td>
					</tr>
					<tr>
						<th>&nbsp;信託型態：</th>
						<td colspan="4">動態鎖利</td>
					</tr>
					<tr>
						<th>&nbsp;憑證編號：</th>
						<td colspan="4">{{inputVO.certificateID}}</td>
					</tr>
					<tr>
						<th ng-if="inputVO.prodIdC1">&nbsp;子基金1：</th>
						<td>{{inputVO.prodIdC1}}&nbsp;{{inputVO.prodNameC1}}</td>
						<th>計價幣別：{{inputVO.prodCurrC1}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC1}}</th>
						<th>轉換金額：{{inputVO.trustCurr}}&nbsp;{{inputVO.purchaseAmtC1 | number: 2}}</th>
					</tr>
					<tr ng-if="inputVO.prodIdC2">
						<th>&nbsp;子基金2：</th>
						<td>{{inputVO.prodIdC2}}&nbsp;{{inputVO.prodNameC2}}</td>
						<th>計價幣別：{{inputVO.prodCurrC2}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC2}}</th>
						<th>轉換金額：{{inputVO.trustCurr}}&nbsp;{{inputVO.purchaseAmtC2 | number: 2}}</th>
					</tr>
					<tr ng-if="inputVO.prodIdC3">
						<th>&nbsp;子基金3：</th>
						<td>{{inputVO.prodIdC3}}&nbsp;{{inputVO.prodNameC3}}</td>
						<th>計價幣別：{{inputVO.prodCurrC3}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC3}}</th>
						<th>轉換金額：{{inputVO.trustCurr}}&nbsp;{{inputVO.purchaseAmtC3 | number: 2}}</th>
					</tr>
					<tr ng-if="inputVO.prodIdC4">
						<th>&nbsp;子基金4：</th>
						<td>{{inputVO.prodIdC4}}&nbsp;{{inputVO.prodNameC4}}</td>
						<th>計價幣別：{{inputVO.prodCurrC4}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC4}}</th>
						<th>轉換金額：{{inputVO.trustCurr}}&nbsp;{{inputVO.purchaseAmtC4 | number: 2}}</th>
					</tr>
					<tr ng-if="inputVO.prodIdC5">
						<th>&nbsp;子基金5：</th>
						<td>{{inputVO.prodIdC5}}&nbsp;{{inputVO.prodNameC5}}</td>
						<th>計價幣別：{{inputVO.prodCurrC5}}</th>
						<th>產品風險等級：{{inputVO.prodRiskLvC5}}</th>
						<th>轉換金額：{{inputVO.trustCurr}}&nbsp;{{inputVO.purchaseAmtC5 | number: 2}}</th>
					</tr>
<!-- 					<tr> -->
<!-- 						<th>&nbsp;約定報酬率：</th> -->
<!-- 						<td>{{inputVO.engagedROI1 | number: 2}}%</td> -->
<!-- 						<th ng-if="inputVO.BenefitReturnRate2 > 0">{{inputVO.engagedROI2 | number: 2}}%</th> -->
<!-- 						<th ng-if="inputVO.BenefitReturnRate3 > 0">{{inputVO.engagedROI3 | number: 2}}%</th> -->
<!-- 						<th></th> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<th>&nbsp;每月轉換日期：</th> -->
<!-- 						<td colspan="4">{{inputVO.transDate}}</td> -->
<!-- 					</tr> -->
					<tr>
						<th>&nbsp;信託帳號：</th>
						<td colspan="4">{{inputVO.trustAcct}}</td>
					</tr>
					<tr>
						<th>&nbsp;收益入帳帳號：</th>
						<td colspan="4">{{inputVO.creditAcct}}</td>
					</tr>
					<tr>
						<th>*信託幣別：</th>
						<td ng-if="(inputVO.prodFus20 == 'C')" colspan="4"><!-- 國內基金 -->
							<label><input type="radio" name="type2" ng-change="currencyType()" ng-model="inputVO.trustCurrType" value="C" ng-disabled='true' required> 臺幣</label>
							<span  ng-show="parameterTypeEditForm.trustCurrType.$error.required" class="with-errors" colspan="4">請輸入信託幣別</span>
						</td>
						<td ng-if="(inputVO.prodFus20 != 'C')" colspan="4"><!-- 不是國內基金 -->
							<label><input type="radio" name="type2" ng-change="currencyType()" ng-model="inputVO.trustCurrType" value="N" ng-disabled='true' required> 臺幣</label>
							<span class="bigspace"></span>
							<label><input type="radio" name="type2" ng-change="currencyType()" ng-model="inputVO.trustCurrType" value="Y" ng-disabled='true' required> 外幣</label>
							<input class="form-control" type="hidden" id="trustCurr" name="trustCurr" ng-model="inputVO.trustCurr" />
							<span  ng-show="parameterTypeEditForm.trustCurrType.$error.required" class="with-errors" colspan="4">請輸入信託幣別</span>
						</td>
					</tr>
					<tr>
						<th>*加碼金額：</th>
						<th colspan="4">
						    {{inputVO.trustCurr}} <input type="text" class="form-control" style="width:auto;display:inline;" placeholder="請輸入..." id="raiseAmt" name="raiseAmt" 
						    					e-input-limit="NC" ng-model="inputVO.raiseAmt"  ng-blur="checkPurchaseAmtLimit();getFeeTypeListData();getFee('rate')" 
						    					e-length-limit="200" ng-disabled="raiseAmtDisable == 'Y'"  required>
							<span class="bigspace"></span>
							最低申購金額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinBuyAmt | number:num}}
							<span class="bigspace"></span>
							累進申購面額：{{inputVO.BaseAmtOfSPurchaseCurr}} {{inputVO.prodMinGrdAmt | number:num}}
						</th>
					</tr>
					
					<tr>
						<th>&nbsp;表定手續費率：</th>
						<td colspan="4">{{inputVO.defaultFeeRate}} %</td> 
					</tr>
					<tr>
						<th>&nbsp;手續費優惠方式：</th>
						<th colspan="4">
							<e-combobox id="feeType" name="feeTypeIndex" 
										ng-datasource="mappingSet['FEE_RATE_TYPE']"
										ng-model="inputVO.feeTypeIndex"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-format="F3"
										ng-change="getFeeType()"
										ng-disabled="inputVO.isBanker == 'Y'"
										width="200px"
										style="line-height:20px;"/> 
							<span class="hidden">{{inputVO.feeTypeIndex}} : {{inputVO.feeType}} <span>
						</th>				
					</tr>	
					<tr> 
					    <th></th>
						<th colspan="4">
							<span ng-if="(inputVO.feeTypeIndex !='idxBTH' && inputVO.feeType != 'E')">		
	    						*手續費率：<input  type="text"  class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="feeRate" name="feeRate" ng-model="inputVO.feeRate" ng-blur="getFee('rate');checkBestFee()" ng-disabled="feeRateDisabled || inputVO.isBanker == 'Y'" e-length-limit="6" required>%
	    					    <span class="bigspace"></span> 
	    						手續費金額：{{inputVO.trustCurr}} {{inputVO.fee | number:num}}元 
	    						<span class="bigspace"></span>
	    						折數：<input  type="text"  class="form-control" style="width:80px;display:inline;" placeholder="請輸入..." id="feeDiscount" name="feeDiscount" ng-model="inputVO.feeDiscount" ng-blur="getFee('feeDis');checkBestFee()" ng-disabled="feeRateDisabled || inputVO.isBanker == 'Y'" e-length-limit="6">折
	    					</span> 
						</th>
					</tr>
					<tr> 
					    <th></th>
						<th colspan="4">
							<span ng-if="inputVO.feeType =='A'">
	    						議價原因：<input  type="text"  class="form-control" style="width:600px;display:inline;" placeholder="請輸入..." id="brgReason" name="brgReason" ng-model="inputVO.brgReason" e-length-limit="200">
	    					</span>  
	    					<input class="form-control" type="hidden" id="bargainApplySEQ" name="bargainApplySEQ" ng-model="inputVO.bargainApplySEQ" />
						</th>
					</tr>
					<tr>
						<th>*扣款帳號：</th>
						<td colspan="4">
							<e-combobox id="debitAcct" name="debitAcct" 
										ng-datasource="mappingSet['SOT.DEBIT_ACCT_LIST#DISPLAY']"
										ng-model="inputVO.debitAcct"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-required="true"
										ng-disabled="cmbDebitAcct"
										ng-format="F3"
										ng-change="changeAcct('debit')"
										style="line-height:20px;" required/>
									{{inputVO.trustCurr}} {{inputVO.debitAvbBalance | number:num}} 
						</td>
					</tr>
					<tr>
						<th>*取得公開說明書方式：</th>
						<td colspan="4">
							<e-combobox id="creditAcct" name="prospectusType" 
										ng-datasource="mappingSet['SOT.PROSPECTUS_TYPE']"
										ng-model="inputVO.prospectusType"
										ng-validate="false" 
										ng-readonly="false" 
										ng-editable="false"
										ng-required="true"
										ng-format="F3"
										width="250px"
										ng-disabled="inputVO.prospTypeDisabled"
										style="line-height:20px;" required/> 
						</td>
					</tr>			
					<tr>
						<th>*交易日期：</th>
						<th colspan="4" id="tradeDateType">
							<label ng-repeat="row in mappingSet['SOT.TRADE_DATE_TYPE'] | limitTo:displayLimit track by $index">
								<input type="radio" 
									   name="tradeDateType" id="tradeDateType{{row.DATA}}" 
									   ng-model="inputVO.tradeDateType"
									   ng-value="row.DATA" 
									   ng-click="checkTradeDate(row.DATA)" 
									   required> {{row.LABEL}}
								<span class="bigspace"></span>
							</label>
						    <span>({{reserveTradeDay}}天內的營業日 {{toJsDate(inputVO.reservationTradeDate) | date:"yyyy-MM-dd"}})</span>
						</th>
					</tr>		
					<tr>
						<th>*解說專員：</th>
						<td colspan="4">
							<input type="text" class="form-control" style="width:auto;display:inline;" id="narratorID" name="narratorID" ng-model="inputVO.narratorID" ng-blur="getSOTEmpInfo()" ng-disabled="narratorDisabled" e-length-limit="200" required>
							<span class="bigspace"></span>
							{{inputVO.narratorName}}
						</td>
					</tr>
				</table>
			</form>
		</div>
		<br>
		<div class="search_box_btn text-center">
			<button type="button" class="btn btn-info" ng-click="init();">清除</button>
<!-- 			<button type="button" class="btn btn-info" ng-click="save('1');"  ng-hide="inputVO.bargainStatus != null">暫存</button> -->
			<button type="button" class="btn btn-info" ng-click="save('2');" function-type="maintenance">下一步</button>
			 
		</div>
	</div>
</div>