<style>
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
	float: left !important;
}

.PRD170 .jsbEntry {
	display: flex;
	column-gap: 10px;
	align-items: center;
}
</style>
<script type="text/javascript" src="assets/txn/PRD170/PRD170.js"></script>
<script type="text/javascript" src="assets/txn/PRD170/PRD170_PAR_EDIT.js"></script>
<div class="PRD170" ng-controller="PRD170Controller" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >保險</div>
	</div>
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="jsbEntry">
			<div>入口網站：</div>
			<form id="jsbInsuranceSite1" action="#" method="post" target="_blank">
				<input type="text" ng-show="false" name="LoginUser" ng-model="empId" />
				<button class="btn btn-default" type="submit">保代系統入口網</button>
			</form>
			<form id="jsbInsuranceSite2" action="#" method="post" target="_blank">
				<input type="text" ng-show="false" name="LoginUser" ng-model="empId" />
				<input name="KMLoginStatus" ng-show="false" value="TRUE"/>
				<button class="btn btn-default" type="submit">產險住火系統</button>
			</form>
			<form id="jsbInsuranceSite3" action="#" method="post" target="_blank">
				<input type="text" ng-show="false" name="UserID" ng-model="empId" />
				<input name="KMLoginStatus" ng-show="false" value="TRUE"/>
				<button class="btn btn-default" type="submit">產險管理系統</button>
			</form>
		</div>
		<hr>
		<div class="search_table">
			<table style="table-layout: fixed;">
				<tr>
					<!-- menu -->
					<td width="10%">

					</td>
					<!-- other -->
					<td width="90%" height="30px">
						<div ng-if="type == '1'">
							<button type="button" class="btn" ng-class="page == 'PRD171' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD171')">商品參數設定</button>
							<button type="button" class="btn" ng-class="page == 'PRD172' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD172')">壽險其他送件文件設定</button>
							<button type="button" class="btn" ng-class="page == 'PRD173' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD173')">匯利專案設定</button>
							<button type="button" class="btn" ng-class="page == 'PRD174' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD174')">保險重要權益宣告書題目維護</button>
							<button type="button" class="btn" ng-class="page == 'PRD175' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD175')">基金教育訓練查詢</button>
							<button type="button" class="btn" ng-class="page == 'PRD176' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD176')">保險公司設定</button>
							<button type="button" class="btn" ng-class="page == 'PRD177' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD177')">日盛產品管理</button>
							<button type="button" class="btn" ng-class="page == 'PRD178' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD178')">日盛專案管理</button>
							<button type="button" class="btn" ng-class="'btn-info'" ng-click="openPAR_EDIT()">行動投保參數設定</button>
						</div>
						<div ng-if="type == '2'">
							<!-- 請於矩陣式框架移除專員產險證照查詢按鈕 -->
<!-- 							<button type="button" class="btn" ng-class="page == 'PRD180' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD180')">專員產險證照查詢</button> -->
							<button type="button" class="btn" ng-class="page == 'PRD181' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD181')">產險險種維護功能</button>
						</div>
						<div ng-if="type == '3'">
							<button type="button" class="btn" ng-class="page == 'INS950' ? 'btn-success' : 'btn-info'" ng-click="changePage('INS950')">參數設定</button>
							<button type="button" class="btn" ng-class="page == 'INS960' ? 'btn-success' : 'btn-info'" ng-click="changePage('INS960')">保險商品與資訊源對照設定</button>
						</div>
						<div ng-if="type == '4'">
							<button type="button" class="btn" ng-class="page == 'INS910' && InsType == 1 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '1')">壽險保障</button>
                            <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 2 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '2')">意外險保障</button>
                            <button type="button" class="btn" ng-class="page == 'INS930' && InsType == 3 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS930' , '3')">醫療保障</button>
                            <button type="button" class="btn" ng-class="page == 'INS940' && InsType == 4 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS940' , '4')">重大疾病(癌症、長期看護)</button>
                            <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 5 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '5')">退休規劃</button>
                            <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 6 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '6')">子女教育</button>
                            <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 7 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '7')">特定目的</button>

                            <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 8 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '8')">商品組合-還本</button>
                            <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 9 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '9')">商品組合-保障</button>
<!--                             <button type="button" class="btn" ng-class="page == 'INS910' && InsType == 0 ? 'btn-success' : 'btn-info'" ng-click="changeINSPage('INS910' , '0')">保險商品組合參數</button> -->
						</div>
						<div ng-if="type == '5'">
							<button type="button" class="btn" ng-class="page == 'PRD210' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD210')">商品資料維護</button>
							<button type="button" class="btn" ng-class="page == 'PRD220' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD220')">輔銷文件上傳</button>
							<button type="button" class="btn" ng-class="page == 'PRD231' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD231')">投資區域對照表</button>
							<button type="button" class="btn" ng-class="page == 'PRD211' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD211')">商品行事曆維護</button>
							<button type="button" class="btn" ng-class="page == 'PRD210_SORT' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD210_SORT', 'PRD210')">商品主推排序</button>
							<button type="button" class="btn" ng-class="page == 'PRD210_TARGET' ? 'btn-success' : 'btn-info'" ng-click="changePage('PRD210_TARGET', 'PRD210')">投資型保險標的-股債配置</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<button type="button" class="btn" ng-class="type == '1' ? 'btn-success' : 'btn-info'" ng-click="changeTag('1')">壽險進件</button>
						<br><br>
						<button type="button" class="btn" ng-class="type == '2' ? 'btn-success' : 'btn-info'" ng-click="changeTag('2')">產險進件</button>
						<br><br>
						<button type="button" class="btn" ng-class="type == '3' ? 'btn-success' : 'btn-info'" ng-click="changeTag('3')">保單健診</button>
						<br><br>
						<button type="button" class="btn" ng-class="type == '4' ? 'btn-success' : 'btn-info'" ng-click="changeTag('4')">保險規劃</button>
						<br><br>
						<button type="button" class="btn" ng-class="type == '5' ? 'btn-success' : 'btn-info'" ng-click="changeTag('5')">商品資訊</button>
					</td>
					<td>
						<div ng-include="includePage"></div>
						<div ng-if="type == '4'" ng-include="includePage2"></div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
