<style>
/* open dialog */
.ngdialog.28Days {
	
}
/* dialog panl */
.modal-dialog.28Days {
	position: relative;
	top: 200;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
/* table size */
.28Days table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.28Days table.little{
	width: 60%;
}
/* change row */
.28Days.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_28Days_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.modal-content_28Days {
	height: auto;
}
.datewidth{
	width:180px !important;
	float: left !important;
}
</style>
<script type="text/javascript" src="assets/txn/SOT712/28Days_picker.js"></script>
<div  class="28Days" ng-controller="28Days_picker"  ng-cloak>
	<div class="modal-dialog" style="width: 500px;">
		<div class="modal-content modal-content_28Days">
			<div class="modal-header">
				<button type="button" class="close"
					ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title"
					style="text-align: center;">{{title}}</h4>
			</div> 
			<div class="tfb_content">
				<div class="tfb_content_icon"></div>
				<div class="tfb_content_tit">
					<img src="assets/images/icon/tfb_icon_a15.gif">28天
				</div>
			</div>
			<!--Content of the panel-->
			<div class="panel_content"> 
				<table>
					<tr ng-repeat="d in dates">
						<td ng-repeat="date in d" width="650px"> 
						<input type="checkbox" ng-click="click(date,$parent.$index,$index)" ng-model="dates[$parent.$index][$index].check" ng-class="{select: arr.includes(date)}" />&nbsp;{{date.index}}</td>
					</tr>
				</table>
				<br/>
				<div><button type="button" ng-click="selectDays()">確認</button></div> 
			</div>
		</div>
	</div>
</div>