<style>

</style>

<script type="text/javascript" src="assets/txn/CRMESBTEST/CRMESBTEST.js"></script>
<div class="CRMESBTEST" ng-controller="CRMESBTESTController" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >CRM電文匯出測試用</div>
	</div>
	<div class="panel_content">
		<div class="search_table">
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="esbtest()">執行</button>
			</div>
			
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="crmtest()">CRM測試</button>
			</div>
		</div>
	</div>
</div>