<style>
/* open dialog */
.ngdialog.CRM341 {
	
}
/* dialog panl */
.modal-dialog.CRM341 {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
/* table size */
.CRM341 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.CRM341 table.little{
	width: 60%;
}
/* change row */
.CRM341.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_CRM341_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:188px !important;
}
</style>
<script type="text/javascript" src="assets/txn/CRM341/CRM341.js"></script>
<script src="assets/txn/CRM110/crmService.js" type="text/javascript" ></script>
<div class="CRM341" ng-controller="CRM341Controller" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >請輸入移入客戶ID</div>
	</div>
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="search_table search_box2">
			<table>
				<tr>
					<th>客戶身分證字號/統一編號：</th>
					<td><input type="text" class="form-control" placeholder="請輸入..." id="cust_id" name="cust_id" ng-model="inputVO.cust_id" style="width:150px; text-transform: uppercase;" e-length-limit="12" ng-blur="checkUHRM()" ></td>
					<th></th>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="search_box_btn text-center">
			<button type="button" class="btn btn-info" ng-click="inquireInit();inquire();isHighAge();changeNewAO();" ng-disabled="!inputVO.cust_id" function-type="query">查詢</button>
			<button type="button" class="btn btn-info" ng-click="clear();">清除</button>
		</div>
		<div class="search_table search_box2" ng-if="resultList.UEMP_ID == null">
			<table>
				<tr>
					<th>移入AO CODE：</th>
					<td>
						<e-combobox id="new_ao_code" 
									ng-datasource="AO_LIST"
									ng-model="inputVO.new_ao_code"
									ng-disabled="ao_code.length == 1"
									ng-readonly="ao_code.length == 1"
			  						ng-validate="false" 
									ng-editable="false"
									ng-format="F1"
									ng-required="false"
									ng-change="changeNewAO(
												(
												 (resultList.EMP_NAME == '已離職' && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
										         (resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							     				 (!resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR && resultList2.NEW_AO_TYPE == 3)
												) ? 'N' : 'Y')"
									width="350px"
									style="line-height:20px;" />
					</td>
					<!-- 已離職的理專code,仍要被視為有理專的狀態 -->
					<th>異動原因：</th>
					<td>
						<e-combobox id="apl_reason" 
									ng-datasource="TRS_APL_REASON"
									ng-model="inputVO.apl_reason"
			  						ng-readonly="false"
			  						ng-validate="false"
									ng-editable="false"
									ng-format="F3"
									ng-required="false"
									ng-change="clearOTH()"
									width="350px"
									style="line-height:20px;"
									ng-disabled = "inputVO.reasonDisabled" />
					</td>
				</tr>
				<tr ng-if="inputVO.apl_reason == '99'">
					<th></th>
					<td></td>
					<th>其他原因：</th>
					<td>
						<textarea 	id="apl_oth_reason" 
									name="apl_oth_reason" 
									class="form-control" 
									ng-model="inputVO.apl_oth_reason" 
									style="width: 100%; height: 200px" 
									e-length-limit="100"
									ng-disabled = "inputVO.reasonDisabled">
						</textarea>
					</td>
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th ng-show ="(resultList.EMP_NAME == '已離職' && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
								  (resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							      (!resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR && resultList2.NEW_AO_TYPE == 3) ||
							      ((inputVO.isCMDTCust || inputVO.is2022CMDTCust3 || inputVO.is2023CMDTCust4) && resultList.AO_CODE != resultList2.NEW_AO_CODE)"></th>
					<td ng-show ="(resultList.EMP_NAME == '已離職' && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
								  (resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							      (!resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR && resultList2.NEW_AO_TYPE == 3) ||
							      ((inputVO.isCMDTCust || inputVO.is2022CMDTCust3 || inputVO.is2023CMDTCust4) && resultList.AO_CODE != resultList2.NEW_AO_CODE)"><!-- 十保閉鎖期客戶也要出現-->
						<!-- sen issue 4131 20180111 添加已離職判斷-->
						<button type="button" class="btn btn-info" ng-click="download()" ng-disabled="isExist">下載客戶同意書 </button>
						<button type="button" class="btn btn-info" ng-click="clearUpload()">清除上傳申請書</button>
					</td>
					<th ng-show ="(resultList.EMP_NAME == '已離職' && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
								  (resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							      (!resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR && resultList2.NEW_AO_TYPE == 3)">異動申請書編號：</th>
					<td ng-show ="(resultList.EMP_NAME == '已離職' && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
								  (resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							      (!resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR && resultList2.NEW_AO_TYPE == 3)">
						<input type="text" class="form-control" style="width:150px; text-transform: uppercase;" id="agmt_seq" name="agmt_seq" ng-model="inputVO.agmt_seq" e-length-limit="20" >
					</td>
				</tr>
				<tr ng-if ="(resultList.EMP_NAME == '已離職' && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							  (resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR) ||
							  (!resultList.AO_CODE && resultList.BRA_NBR != resultList2.NEW_BRA_NBR && resultList2.NEW_AO_TYPE == 3) || 
							  inputVO.isCMDTCust || inputVO.is2022CMDTCust3 || inputVO.is2023CMDTCust4">
					<th ng-if = "!inputVO.isCMDTCust && !inputVO.is2022CMDTCust3 && !inputVO.is2023CMDTCust4">上傳客戶異動申請書：</th>
					<th ng-if = "(inputVO.isCMDTCust || inputVO.is2022CMDTCust3 || inputVO.is2023CMDTCust4) && resultList.BRA_NBR == resultList2.NEW_BRA_NBR">上傳客戶資產現況表申請書：</th>
					<th ng-if = "(inputVO.isCMDTCust || inputVO.is2022CMDTCust3 || inputVO.is2023CMDTCust4) && resultList.BRA_NBR != resultList2.NEW_BRA_NBR">上傳客戶指定個金客戶經理自主聲明書：</th>
					<td>
						<e-upload success="uploadFinshed(name,rname,'file1')" model="inputVO.realfileName" width="350px"></e-upload>
					</td>
					<th></th>
					<td></td>
				</tr>
				<tr ng-if = "inputVO.isCMDTCust || inputVO.is2022CMDTCust3 || inputVO.is2023CMDTCust4">
					<th>上傳客戶指定理專聲明書：</th>
					<td>
						<e-upload success="uploadFinshed(name,rname,'file2')" model="inputVO.realfileName2" width="350px"></e-upload>
					</td>
					<th></th>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="search_box_btn text-center" ng-if="resultList.UEMP_ID == null">
			<button type="button" class="btn btn-info" ng-click="checkadd()" function-type="maintenance" ng-disabled="(resultList.UEMP_ID != null) || isExist">確認申請</button>
		</div>
	</div>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">申請移入客戶資訊</div>
	</div>
	<div class="panel_content">
		<div class="e_panel_table scroll_y">
			<table class="table table-bordered">
				<thead>
	   				<tr>
	   					<th width="10%" style="background:#ddd!important;color:#000000">客戶ID：</th>
	   					<td width="40%">
	   						{{resultList.CUST_ID}}
	   						<span ng-if="isExist" class="with-errors"><br>該客戶正在移轉覆核流程中：{{isExist}}</span>
	   					</td>
	   					<th width="10%" style="background:#ddd!important;color:#000000">等級：</th>
	   					<td width="40%">{{resultList.CON_DEGREE | mapping:CON_DEGREE:'F3'}}</td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">客戶姓名：</th>
	   					<td>{{resultList.CUST_NAME}}</td>
	   					<th style="background:#ddd!important;color:#000000">客群身分：</th>
	   					<td>{{resultList.VIP_DEGREE | mapping:VIP_DEGREE:'F3'}}</td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">原業務處：</th>
	   					<td>{{resultList.CENTER_NAME}}</td>
	   					<th style="background:#ddd!important;color:#000000">新業務處：</th>
	   					<td>{{resultList2.NEW_CENTER_NAME}}</td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">原營運區：</th>
	   					<td>{{resultList.AREA_NAME}}</td>
	   					<th style="background:#ddd!important;color:#000000">新營運區：</th>
	   					<td>{{resultList2.NEW_AREA_NAME}}</td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">原分行別：</th>
	   					<td>{{resultList.BRA_NBR ? resultList.BRA_NBR + "-" + resultList.BRANCH_NAME : ""}}</td>
	   					<th style="background:#ddd!important;color:#000000">新分行別：</th>
	   					<td>{{resultList2.NEW_BRA_NBR ? resultList2.NEW_BRA_NBR + "-" + resultList2.NEW_BRANCH_NAME : ""}}</td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">原理專：</th>
	   					<td>{{resultList.EMP_NAME}}</td>
	   					<th style="background:#ddd!important;color:#000000">新理專：</th>
	   					<td>{{resultList2.NEW_EMP_NAME}}</td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">原AO CODE：</th>
	   					<td>{{resultList.AO_CODE}}-{{resultList.TYPE | mapping:AOCODE_TYPE:'F3'}}</td>
	   					<th style="background:#ddd!important;color:#000000">新AO CODE：</th>
	   					<td>{{resultList2.NEW_AO_CODE}}-{{resultList2.NEW_AO_TYPE | mapping:AOCODE_TYPE:'F3'}}</td>
	   				</tr>
	   				 <tr>
	   					<th style="background:#ddd!important;color:#000000">UHRM</th>
	   					<td>{{resultList.UEMP_ID}}</td>
	   					<th style="background:rgba(123, 189, 224, 0)!important;color:#000000"></th>
	   					<td></td>
	   				</tr>
	   				<tr>
	   					<th style="background:#ddd!important;color:#000000">資產總餘額：</th>
	   					<td>{{resultList.AUM_AMT | currency:"":0}}</td>
	   					<th style="background:rgba(123, 189, 224, 0)!important;color:#000000"></th>
	   					<td></td>
	   				</tr>
	   			</thead>
			</table>
		</div>
	</div>
</div>