<style>

</style>
<div ng-controller="FPS910_UPLOADController" ng-cloak>
	<div class="modal-dialog FPS910_UPLOAD">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">上傳CSV</h4>
			</div>
			<div class="modal-body">
				<label><input type="radio" name="setting_type_up" ng-model="inputVO.setting_type" ng-value="'2'" ng-change="inquireInit()">全資產規劃</label>
				&emsp;
				<label><input type="radio" name="setting_type_up" ng-model="inputVO.setting_type" ng-value="'1'" ng-change="inquireInit()">目標理財規劃</label>
				<br>
				<a onclick="return false" ng-click="downloadSimple()">(下載範例檔案)</a>
				<e-upload success="uploadFinshed(name,rname)"></e-upload>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()" function-type="maintenance" >確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
			</div>
		</div>
	</div>
</div>