<style>
/* open dialog */
.ngdialog.PMS202_UPFATE {
	
}
/* dialog panl */
.modal-dialog.PMS202_UPFATE {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 750px;
	height: 300px;
}

/* scroll && height */
.scroll_PMS202_UPFATE _dialog {
	overflow: scroll;
	width: 550px;
	height: 300px;
}

.gv_tab_sc th {
	text-align: left !important;
	vertical-align: middle !important;
}

.date {
	width: 100% !important;
}
</style>
<div ng-controller="PMS202UPDATEController" ng-cloak>
	<div class="modal-dialog PMS202_UPDATE ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="left">
					修改Cocaching日期</h4>
			</div>
			<div class="modal-body">
				<div class="">
					<form name="parameterTypeEditForm" class="form-horizontal"
						data-toggle="validator" role="form" autocomplete="off"
						enter-as-tab>
						<table class=" gv_tab_sc" style="width: 100%">
							<tr>
								<th>營運區：</th>
								<td>{{row.BRANCH_AREA_NAME}}</td>
								<td></td>
								<td></td>
								<th>分行別：</th>
								<td>{{row.BRANCH_NAME }}</td>
							</tr>
							<tr>
								<th>理專：</th>
								<td>{{row.AO_CODE}}-{{row.EMP_NAME}}</td>
								<td></td>
								<td></td>
								<th>職級：</th>
								<td>{{row.JOB_TITLE}}</td>
							</tr>
							<tr>
								<th>Cocaching日期：</th>
								<td colspan="3">
									<div class="input-group datebox datewidth">
										<input type="text" id="bgn_sDate" name="bgn_sDate"
											class="form-control" uib-datepicker-popup="yyyy/MM/dd"
											ng-model="inputVO.datec" is-open="model.a"
											datepicker-options="bgn_sDateOptions"
											alt-input-formats="altInputFormats" ng-readonly="true"
											ng-change="limitDate()" />
										<!-- 製作日曆button -->
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open($event,'a')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</td>
								<td></td>
								<td></td>


							</tr>
						</table>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="save()">確定</button>
						<button type="button" class="btn btn-default"
							ng-click="closeThisDialog('cancel')">取消</button>
					</div>
				</div>

			</div>


		</div>
	</div>