<!-- 結果區 -->
<div>
	<div class=" nav-tabs-content">
		<div class="row">
			<div class="col-md-12">
				 <div class="tab-content">
				 	<uib-tabset active="0" justified="true">
					 	<uib-tab index="0" heading="基金">
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_1 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
						<uib-tab index="1" heading="ETF">
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_2 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
			            </uib-tab>  
			            <uib-tab index="2" heading="股票" >
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_3 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
						 <uib-tab index="3" heading="海外債" >
					 	   	<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_4 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
			 			</uib-tab>
			 			<uib-tab index="4" heading="SI" >
					 		<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_5 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
						<uib-tab index="5" heading="SN" >
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_6 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
						<uib-tab index="6" heading="保險" > 
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM165_7 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>	

