<style>
.modal-dialog.KYC320_KYCebankPrint{
	position: relative;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0px;
	width: 90%;
	height: 80vh;
}

</style>

<script type="text/javascript" src="assets/txn/KYC320/KYC320_KYCebank.js"></script>

<div ng-controller="KYC320_KYCebankController" ng-cloak>
	<div class="modal-dialog KYC320_KYCebankPrint" style="width:900px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					ng-click="closeThisDialog('cancel')">&times;</button>
			</div>
			
			<div class="modal-body">
						<div class="gv_tab_sc scroll_y"
							style="height: 400px; white-space: nowrap;">
						<div class="gv_tab_sc scroll_y"
							style="height: 400px; white-space: nowrap;">
						<table class="table-bordered rstable">
							<thead>
							<tr class="middle">
									<th>測試/聲明代號</th>
									<th>題號</th>
									<th>題目</th>
									<th>選項</th>
									<th>答案</th>
							</tr>
						</thead>
						<tbody>
							
							<tr class="repeat-row"
								align="center"
								ng-repeat="row in KYCList | limitTo:displayLimit track by $index"
								ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
								<td align="center">{{row.PROFILE_TEST_ID}}</td>
								<td align="center">{{row.QST_NO}}</td>
								<td align="left">{{row.QUESTION_DESC}}</td>
								<td align="left">{{row.ANSWER_DESC}}</td>
								<td align="center">{{row.ANSWER}}</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<div class="search_box_btn text-center"><br>
					<button type="button" class="btn btn-default" ng-click="exportKYC()" >匯出</button>
				</div>
			</div>
		</div>
	</div>
</div>
