/* ios */

nav.ios ul {
  display: inline-block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

nav.ios li {
  margin-left: -5px;
  display: inline-block;
  width: 120px;
  padding: .1em 1em;
  border: 0.7px solid #29819d;
  background-color: #fff;
  color: #29819d;
  cursor: pointer;
}

nav.ios li:first-of-type {
  margin-left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav.ios li:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav.ios li.active {
  background-color: #38b1d6;
  color: #fff;
}
