<style>
.modal-dialog.PMS301 {
	position: relative;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0px;
	width: 90%;
	height: auto;
}

</style>
<div ng-controller="PMS301_QUERYController" ng-cloak>
	<div class="modal-dialog PMS301">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">分行轄下理專各項商品收益</h4>
			</div>
			<div class="modal-body">
				<e-jumping-once output="outputVO" list="paramList" totallist="totalList"></e-jumping-once>
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<table class="table table-hover">
						<thead>
						<tr>
							<th rowspan="2">分行</th>
							<th rowspan="2">AO_CODE</th>
							<th rowspan="2">姓名</th>
							<th colspan="8">投資商品</th>
							<th colspan="5">保險商品</th>
							<th rowspan="2">投保合計</th>
						</tr>
						<tr>
							<th>基金</th>
							<th>SI</th>
							<th>SN</th>
							<th>DCI</th>
							<th>海外債</th>
							<th>海外股票</th>
							<th>海外ETF</th>
							<!-- <th>匯兌損益</th> -->
							<th>小計</th>
							<th>躉繳</th>
							<th>投資型</th>
							<th>短年期</th>
							<th>長年期</th>
							<th>小計</th>
						</tr>
						</thead>
						<tbody>
						<tr class="repeat-row" ng-repeat="row in paramList track by $index">
							<td style="text-align:center" ng-show="row.BRANCH_NBR">{{row.BRANCH_NBR}}<ps ng-show="row.BRANCH_NAME">-</ps>{{row.BRANCH_NAME}}</td>
							<td style="text-align:center" ng-show="!row.BRANCH_NBR">{{rows.BRANCH_NBR}}-{{rows.BRANCH_NAME}}</td>
							<td style="text-align:center">{{row.AO_CODE}}</td>
							<td style="text-align:center">{{row.EMP_NAME}}</td>	
							<td style="text-align:right">{{row["基金"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["SI"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["SN"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["DCI"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["海外債"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["海外股票"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["海外ETF"] || 0 | number : 0}}</td>
							<!-- <td>{{row["匯兌損益"] || 0 | number : 0}}</td> -->
							<!-- + row["匯兌損益"] -->
							<td style="text-align:right">{{row["TOTALA"] = row["基金"] + row["SI"] + row["SN"] + row["DCI"] + row["海外債"] + row["海外股票"] + row["海外ETF"]  || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["躉繳"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["投資期"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["短年期"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["長年期"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["TOTALB"] = row["躉繳"] + row["投資期"] + row["短年期"] + row["長年期"] || 0 | number : 0}}</td>
							<td style="text-align:right">{{row["TOTALA"] + row["TOTALB"] || 0 | number : 0}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-primary" ng-click="closeThisDialog('cancel')" >確定</button>
				</div>
			</div>
		</div>
	</div>
</div>