<style>
/* open dialog */
.ngdialog.CMMGR010 {
	
}
/* dialog panl */
.modal-dialog.CMMGR010 {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 750px;
	height: auto;
}
/* table size */
.CMMGR010 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.CMMGR010 table.little{
	width: 60%;
}
/* change row */
.CMMGR010.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_CMMGR010_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
</style>
<script type="text/javascript" src="assets/txn/CMMGR010/CMMGR010.js"></script>
<script type="text/javascript" src="assets/txn/CMMGR010/CMMGR010_EDIT.js"></script>
<div class="CMMGR010" ng-controller="CMMGR010_Controller" ng-cloak>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >FTP Server連線設定</div>
	</div>
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="search_table search_box3">
		<form name="queryForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
			<table>
				<tr>
					<th class="col-md-3" style="text-align: right;">Server ID：</th>
					<td class="col-md-3"><input type="text" class="form-control" id="hostid"
						name="hostid" ng-model="inputVO.hostid" maxlength="50"></td>
					<th class="col-md-3" style="text-align: right;">Server IP：</th>
					<td class="col-md-3"><input type="text" class="form-control" id="ip" name="ip"
						ng-model="inputVO.ip"
						ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/"
						maxlength="20"></td>
				</tr>
				<tr ng-show="queryForm.ip.$error.pattern">
					<th class="col-md-3"></th>
					<th class="col-md-3"></th>
					<th class="col-md-3"></th>
					<th class="col-md-3 help-block with-errors">&emsp;須符合IP規則</th>
				</tr>
				<tr>
					<th class="col-md-3" style="text-align: right;">Server PORT：</th>
					<td class="col-md-3"><input type="number" class="form-control" id="port"
						name="port" ng-model="inputVO.port"
						ng-pattern="/^(6553[0-5]|655[0-2]\d|65[0-4]\d\d|6[0-4]\d{3}|[1-5]\d{4}|[1-9]\d{0,3})$/"
						maxlength="5"></td>
					<th class="col-md-3" style="text-align: right;">使用者ID：</th>
					<td class="col-md-3"><input type="text" class="form-control" id="username"
						name="username" ng-model="inputVO.username" maxlength="50"></td>
				</tr>
				<tr ng-show="queryForm.port.$error.pattern">
					<th class="col-md-3"></th>
					<th class="col-md-3 help-block with-errors">&emsp;須符合PORT號規則</th>
					<th class="col-md-3"></th>
					<th class="col-md-3"></th>
				</tr>
			</table>
		</form>	
		</div>
		<div class="search_box_btn text-center">
			<button type="button" class="btn btn-info" ng-click="inquireInit();inquire()" function-type="query">查詢</button>
			<button type="button" class="btn btn-info" ng-click="init()">清除</button>
			<button type="button" class="btn btn-info" ng-click="update()" function-type="maintenance" >新增</button>
		</div>
		<!-- 結果區 -->
		<e-jumping output="outputVO"
			input="inputVO"
			query="inquire()" list="paramList"></e-jumping>
		<div class="gv_tab_sc scroll_y" style="min-height:235px;white-space: nowrap;">
			<table class="table-bordered">
				<thead>
					<tr>
						<th>Server ID</th>
						<th>IP</th>
						<th>PORT</th>
						<th>使用者ID</th>
						<th>最後異動日</th>
						<th>維護者</th>
					</tr>
				</thead>
				<tbody>
					<tr class="repeat-row" ng-repeat="row in paramList | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
						<td><a href="/update/{{row.HOSTID}}" onclick="return false" ng-click="update(row)">{{row.HOSTID}}</a></td>
						<td>{{row.IP}}</td>
						<td>{{row.PORT}}</td>
						<td>{{row.USERNAME}}</td>
						<td>{{row.LASTUPDATE}}</td>
						<td>{{row.MODIFIER}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>