<style>
/* dialog panl */
.modal-dialog.PMS210 {
	position: relative;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 70%;
	height: auto;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
</style>
<script type="text/javascript" src="assets/txn/PMS210/PMS210_setBsBonus.js"></script>
<div ng-controller="PMS210_setBsBonusController" ng-cloak>
	<div class="modal-dialog PMS210">
		<div class="modal-content">
			<div class="tfb_content modal-header">
<!-- 				<div class="tfb_content_icon"></div> -->
<!-- 				<div class="tfb_content_tit"> -->
<!-- 					<img src="assets/images/icon/tfb_icon_a15.gif">請輸入主管調任新舊分行獎金成數 -->
<!-- 				</div> -->
				<h4 id="myModalAlertLabel" class="modal-title" align="center">請輸入主管調任新舊分行獎金成數</h4>
			</div>
			<!--Content of the panel-->
			<div class="panel_content">
				<div  class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<form>
						<table class="table-bordered">
							<tr>
								<th>第N個月</th>
								<th>新任轄區</th>
								<th>原任轄區</th>								
							</tr>
							<tr>
								<td style="width:25%; text-align:center">
									<input type="text" style="width=100%; text-align:right" ng-model="new_N_MONTH" e-input-limit='N' e-length-limit="2"/>
								</td>
								<td style="width:25%; text-align:center">
									<input type="text" style="width=100%; text-align:right" ng-model="new_NEW_JURI" e-input-limit='ND' e-length-limit="5"/>
								</td>
								<td style="width:25%; text-align:center">
									<input type="text" style="width=100%; text-align:right" ng-model="new_NOW_JURI" e-input-limit='ND' e-length-limit="5"/>
								</td>
								<td style="width:25%; text-align:center; border-right=0px">
									<button type="button" class="btn btn-primary" ng-click="add()" style="width:70%;">加入</button>
								</td>
							</tr>
						</table>
					</form>
					<br>
					<form>
						<table class="table-bordered">
							<tr>
								<th>刪除</th>
								<th>第N個月</th>
								<th>新任轄區</th>
								<th>原任轄區</th>
							</tr>
							<tr ng-repeat="row in bsBonusList">
								<td style="width:10%; text-align:center">
									<button type="button" class="btn btn-primary" ng-click="del($index)"><i class="glyphicon glyphicon-trash"></i></button>
								</td>
								<td style="color:blue; width:30%; text-align:right">{{row.N_MONTH}}</td>
								<td style="color:blue; width:30%; text-align:right">{{row.NEW_JURI}}</td>
								<td style="color:blue; width:30%; text-align:right">{{row.NOW_JURI}}</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()">確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>				
			</div>
		</div>
	</div>
</div>