<style>
/* dialog panl */
.modal-dialog.PMS210 {
	position: relative;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: auto;
}

.tdpadding {
	padding: 10px 5px 5px 5px;
}
</style>
<script type="text/javascript" src="assets/txn/PMS210/PMS210.js"></script>
<script type="text/javascript" src="assets/txn/PMS210/PMS210_setSpLevd.js"></script>
<div ng-controller="PMS210_setSpLevdController" ng-cloak>
	<div class="modal-dialog PMS210">
		<div class="modal-content">
			<div class="tfb_content modal-header">
<!-- 				<div class="tfb_content_icon"></div> -->
<!-- 				<div class="tfb_content_tit"> -->
<!-- 					<img src="assets/images/icon/tfb_icon_a15.gif">請輸入專員休假對應目標折數 -->
<!-- 				</div> -->
				<h4 id="myModalAlertLabel" class="modal-title" align="center">請輸入專員休假對應目標折數</h4>

			</div>

			<!--Content of the panel-->
			<div class="panel_content" >
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<form>
						<table class="table-bordered" >
							<tr>
								<th >天數（起）</th>
								<th >天數（訖）</th>
								<th >試用期使用倍數</th>
							</tr>
							
							<tr ng-repeat="y in spLevdList">
								<td align="center" >
									<input type="text" style="text-align:right" ng-model="y.START_DAY" e-input-limit='ND' e-length-limit="5"/>
									
								</td>
								<td align="center">
									<input type="text" style="text-align:right" ng-model="y.END_DAY" e-input-limit='ND' e-length-limit="5"/>
								
								</td>
								<td align="center">
									<input type="text" style="text-align:right" ng-model="y.TAR_DIS" e-input-limit='ND' e-length-limit="5"/>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()">儲存</button>
				<button type="button" class="btn btn-default"
					ng-click="closeThisDialog('cancel')">取消</button>
			</div>
		</div>
	</div>
</div>
