<style>
/* dialog panl */
.modal-dialog.PMS210 {
	position: relative;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.table-border tr input {
	width:100px;
}
</style>
<script type="text/javascript" src="assets/txn/PMS210/PMS210.js"></script>
<script type="text/javascript" src="assets/txn/PMS210/PMS210_setNewSpBen.js"></script>
<div ng-controller="PMS210_setNewSpBenController" ng-cloak>
	<div class="modal-dialog PMS210">
		<div class="modal-content">
			<div class="tfb_content modal-header">
<!-- 				<div class="tfb_content_icon"></div> -->
<!-- 				<div class="tfb_content_tit"> -->
<!-- 					<img src="assets/images/icon/tfb_icon_a15.gif">人員新任計績對應領獎門檻折數 -->
<!-- 				</div> -->
				<h4 id="myModalAlertLabel" class="modal-title" align="center">人員新任計績對應領獎門檻折數</h4>

			</div>
				<!--Content of the panel-->
			<div class="panel_content">
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<form>
						<table class="table-bordered table-border">
							<tr>
								<th rowspan="2">職級</th>
								<th colspan="6">掛GOAL後每月折數</th>
							</tr>
							<tr>
								<th>第1個月</th>
								<th>第2個月</th>
								<th>第3個月</th>
								<th>第4個月</th>
								<th>第5個月</th>
								<th>第6個月</th>
							</tr>
							<tr ng-repeat="y in newSpBenList">
								<!-- index = 0 對應屬性AO_JOB_RANK，直接顯示 -->
								<td style="color:blue; text-align:center">{{y.AO_JOB_RANK}}</td>
								<td align="center" >
									<input type="text" style="text-align:right"  ng-model="y.MONTH1" e-input-limit='ND' e-length-limit="8"/>
								</td>
								<td align="center" >
									<input type="text" style="text-align:right"  ng-model="y.MONTH2" e-input-limit='ND' e-length-limit="8"/>
								</td>
								<td align="center" >
									<input type="text" style="text-align:right"  ng-model="y.MONTH3" e-input-limit='ND' e-length-limit="8"/>
								</td>
								<td align="center" >
									<input type="text" style="text-align:right"  ng-model="y.MONTH4" e-input-limit='ND' e-length-limit="8"/>
								</td>
								<td align="center" >
									<input type="text" style="text-align:right"  ng-model="y.MONTH5" e-input-limit='ND' e-length-limit="8"/>
								</td>
								<td align="center" >
									<input type="text" style="text-align:right"  ng-model="y.MONTH6" e-input-limit='ND' e-length-limit="8"/>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()">儲存</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>				
			</div>
		</div>
	</div>