<style>
    .FPS330::after {
        display: block;
        clear: both;
        content: ''
    }

    .FPS330 table {
        table-layout: fixed;
    }

    .FPS330 table th,
    .FPS330 table td {
        text-align: center;
    }

</style>

<div ng-controller="FPS330_PController"
     class="FPS330">
    <div ng-show="!errorText">
    	<div style="text-align: left;" ng-if="yearRateSize <= 5">年份</div>
    	<div style="text-align: left;" ng-if="yearRateSize > 5">報酬率</div>
        <div id="p_rangeBartChart"
             style="height: 300px; width: 95%; margin-left: auto; margin-right: auto;"></div>
        <div style="text-align: right;" ng-if="yearRateSize <= 5">報酬率</div>
        <div style="text-align: right;" ng-if="yearRateSize > 5">年份</div>
    </div>
  <div ng-show="errorText" style="text-align: center;">
  	<span ng-bind="errorText"></span>
  </div>
</div>
