<style>
/* open dialog */
.ngdialog.CRM827_DETAIL {
	
}
/* dialog panl */
.modal-dialog.CRM683_DETAIL {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: 550px;
	overflow:auto;
}

@media only screen and (min-height: 800px) {
  .modal-dialog.CRM683_DETAIL {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: 850px;
	overflow:auto;
}
}

</style>
<script type="text/javascript" src="assets/txn/CRM683/CRM683_DEP.js"></script>
<div class="CRM683_DETAIL" ng-controller="CRM683_DETAILController" ng-cloak>
	<div class="modal-dialog CRM683_DETAIL">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">明細畫面</h4>
			</div>
			<div class="modal-body">
				<h4 class="h4-title">受益人受益權比例</h4>
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<table class="table-bordered">
						<tr>
							<th style="width:50%">受益人名稱</th>
							<th style="width:50%">受益權比例</th>
						</tr>
						<tr ng-if ="row.DB_ARR09.length > 0">
							<td align="center">{{row.DB_ARR09}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR10 | number:2}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR15.length > 0">
							<td align="center">{{row.DB_ARR15}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR16 | number:2}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR21.length > 0">
							<td align="center">{{row.DB_ARR21}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR22 | number:2}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR27.length > 0">
							<td align="center">{{row.DB_ARR27}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR28 | number:2}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR33.length > 0">
							<td align="center">{{row.DB_ARR33}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR34 | number:2}}</td> <!--DB-->
						</tr>
					</table>
					<br>
					<table class="table-bordered">
						<tr>
							<th style="width:35%">受益人名稱</th>
							<th style="width:15%">定額給付幣別</th>
							<th style="width:20%">定額給付金額</th>
							<th style="width:15%">頻率</th>
							<th style="width:15%">給付日</th>
						</tr>
						<tr ng-if ="row.DB_ARR09.length > 0">
							<td align="center">{{row.DB_ARR09}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR11}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR12 | number:2}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR13}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR14}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR15.length > 0">
							<td align="center">{{row.DB_ARR15}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR17}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR18 | number:2}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR19}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR20}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR21.length > 0">
							<td align="center">{{row.DB_ARR21}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR23}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR24 | number:2}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR25}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR26}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR27.length > 0">
							<td align="center">{{row.DB_ARR27}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR29}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR30 | number:2}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR31}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR32}}</td> <!--DB-->
						</tr>
						<tr ng-if ="row.DB_ARR33.length > 0">
							<td align="center">{{row.DB_ARR33}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR35}}</td> <!--DB-->
							<td align="right">{{row.DB_ARR36 | number:2}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR37}}</td> <!--DB-->
							<td align="center">{{row.DB_ARR38}}</td> <!--DB-->
						</tr>
					</table>
				</div>
				<h4 class="h4-title">金錢信託投資商品</h4>
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<table class="table-bordered">
						<tr>
							<th>台外幣活存、定存</th>
							<th>上市櫃股票</th>
							<th>未上市櫃股票</th>
						</tr>
						<tr>
							<td align="center"><a href="" onclick="return false" ng-click="showData = 1">台外幣活存、定存</a></td>
							<td align="center"><a href="" onclick="return false" ng-click="showData = 2">上市櫃股票</a></td>
							<td align="center"><a href="" onclick="return false" ng-click="showData = 3">未上市櫃股票</a></td>
						</tr>
					</table>
				</div>
                <div ng-if="showData==1" ng-include="'assets/txn/CRM683/CRM683_DEP.html'">1</div>
				<div ng-if="showData==2" ng-include="'assets/txn/CRM683/CRM683_LISTED.html'">2</div>
				<div ng-if="showData==3" ng-include="'assets/txn/CRM683/CRM683_NOTLISTED.html'">3</div>
				<h4 class="h4-title">信託財產運用決定權人</h4>
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<table class="table-bordered">
						<tr>
							<th>身份</th>
							<th>特殊條件</th>
						</tr>
						<tr>
							<td align="center">{{row.DA_V0023}}</td>
							<td align="center">{{row.DA_V0024}}</td>
						</tr>
					</table>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')" >確定</button>
				</div>
			</div>
		</div>
	</div>
</div>