<style>
.bigspace {
    margin-left: 50px !important;
}

.form-control-CRM231 {
    padding: 4px 10px;
    font-size: 16px;
    color: #666666;
    background-color: #f4f4f4;
    border: 1px solid #999999;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.formatWidth{
	width:150px !important;
	float: left !important;
}
</style>
<script type="text/javascript" src="assets/txn/CRM231/CRM231.js"></script>
<script type="text/javascript" src="assets/txn/CRM230/CRM230.js"></script>
<script type="text/javascript" src="assets/txn/CUS160/CUS160_ADD.js"></script>
<script type="text/javascript" src="assets/txn/CRM230/CRM230_COMPANY.js"></script>
<div ng-controller="CRM231Controller" ng-cloak>
    <div>
        <div class="tfb_content">
            <div class="tfb_content_icon"></div>
            <div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">查詢條件</div>
        </div>
        <div class="panel_content">
            <div ng-include="'assets/txn/CRM230/CRM230_COMMON.html'"></div>
            <div class="search_table search_box3">
                <hr>
                <h4>所有商品</h4>
                <table>
                    <tr>
                        <th width="10%">商品類別：</th>
                        <td width="40%">
                            <e-combobox id="prod_type" ng-paramtype="CRM.AST_ALLPRD_TYPE" ng-model="inputVO.prod_type" ng-validate="false" ng-readonly="false" ng-editable="false" ng-format="F3" ng-required="false" style="width: 200px;line-height:20px;" />
                        </td>
                        <th width="10%">報酬率(%)：</th>
                        <td width="40%">
	                        <div class="form-group">
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="rtn_rate_wd_bgn" name="rtn_rate_wd_bgn" ng-model="inputVO.rtn_rate_wd_bgn" e-input-limit="ND" e-length-limit="5"></div>
			     				<div style="float: left !important;">%&nbsp ~ &nbsp</div>
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="rtn_rate_wd_end" name="rtn_rate_wd_end" ng-model="inputVO.rtn_rate_wd_end" e-input-limit="ND" e-length-limit="5"></div>
			     				<div style="float: left !important;">%</div>
			     			</div>
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>商品代碼：</th>
                        <td>
                            <input type="text" class="form-control" placeholder="請輸入..." id="prod_id" name="prod_id" ng-model="inputVO.prod_id" e-length-limit="50" size="48" style="width: 200px;text-transform:uppercase;">
                        </td>
                        <th>台幣參考現值：</th>
                        <td>
                        	<div class="form-group">
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="now_amt_twd_bgn" name="now_amt_twd_bgn" ng-model="inputVO.now_amt_twd_bgn" e-input-limit="ND" e-length-limit="12"></div>
			     				<div style="float: left !important;">&nbsp ~ &nbsp</div>
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="now_amt_twd_end" name="now_amt_twd_end" ng-model="inputVO.now_amt_twd_end" e-input-limit="ND" e-length-limit="12"></div>
			     			</div>
                        </td>
                    </tr>
                    <tr>
                        <th>商品名稱：</th>
                        <td>
                            <input type="text" class="form-control" placeholder="請輸入..." id="prod_name" name="prod_name" ng-model="inputVO.prod_name" e-length-limit="50" size="48" style="width: 200px;">
                        </td>
                        <th>投資幣別：</th>
                        <td>
                            <e-combobox id="cur_id" ng-paramtype="FPS.CURRENCY" ng-model="inputVO.cur_id" ng-validate="false" ng-readonly="false" ng-editable="false" ng-format="F3" ng-required="false" width="360px" style="line-height:20px;" />
                        </td>
                    </tr>
                    <tr>
                        <th>客戶停利點(%)：</th>
                        <td>
                        	<div class="form-group">
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="take_prft_pt_bgn" name="take_prft_pt_bgn" ng-model="inputVO.take_prft_pt_bgn" e-input-limit="ND" e-length-limit="5"></div>
			     				<div style="float: left !important;">%&nbsp ~ &nbsp</div>
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="take_prft_pt_end" name="take_prft_pt_end" ng-model="inputVO.take_prft_pt_end" e-input-limit="ND" e-length-limit="5"></div>
			     				<div style="float: left !important;">%</div>
			     			</div>
                        </td>
                        <th>客戶停損點(%)：</th>
                        <td>
                        	<div class="form-group">
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="stop_loss_pt_bgn" name="stop_loss_pt_bgn" ng-model="inputVO.stop_loss_pt_bgn" e-input-limit="ND" e-length-limit="5"></div>
			     				<div style="float: left !important;">%&nbsp ~ &nbsp</div>
			     				<div class="formatWidth"><input type="text" class="form-control" placeholder="請輸入..." id="stop_loss_pt_end" name="stop_loss_pt_end" ng-model="inputVO.stop_loss_pt_end" e-input-limit="ND" e-length-limit="5"></div>
			     				<div style="float: left !important;">%</div>
			     			</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="color: red">註：商品類型為「海外債」、「組合式商品(DCI)」時，「報酬率(%)」欄位無法設定為條件進行篩選。</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="color: red">註：商品類別為「奈米投」時，僅提供「報酬率(%)」、「台幣參考現值」為條件進行篩選。</td>
                    </tr>
                </table>
                <!-- <hr>
                <h4>信用卡</h4>
                <table>
                    <tr>
                        <th width="10%">是否持有有效信用卡：</th>
                        <td>
                            <e-combobox id="hold_card_flg" ng-paramtype="CRM.CRM230_YN" ng-model="inputVO.hold_card_flg" ng-validate="false" ng-readonly="false" ng-editable="false" ng-format="F3" ng-required="false" ng-change="checkCardFlg()" width="200px" style="line-height:20px;" />
                        </td>
                        <th width="10%"></th>
                        <td width="40%"></td>
                    </tr>
                    <tr ng-show="inputVO.hold_card_flg == 'Y'">
                        <th>持有正/附卡：</th>
                        <td>
                            <e-combobox id="ms_type" ng-paramtype="CAM.CARD_TYPE" ng-model="inputVO.ms_type" ng-validate="false" ng-readonly="false" ng-editable="false" ng-format="F1" ng-required="false" width="200px" style="line-height:20px;" /> (選附卡意指只擁有附卡，無任何一張正卡)
                        </td>
                    </tr>
                    <tr ng-show="inputVO.hold_card_flg == 'N'">
                        <th>未持有正/附卡：</th>
                        <td>
                            <input class="uniform_on" type='checkbox' id="spec_check_yn" name="spec_check_yn" ng-model='inputVO.spec_check_yn' ng-true-value="'Y'" ng-false-value="'N'" ng-change="check()" />
                            於
                            <input type="text" id="spec_date" name="spec_date" class="form-control-CRM231" uib-datepicker-popup="yyyy/MM/dd" ng-model="inputVO.spec_date" is-open="model.c" ng-readonly="true" ng-disabled="inputVO.spec_check_yn != 'Y'" size="13" />
                            製作日曆button
                            <button type="button" class="btn btn-default" ng-disabled="inputVO.spec_check_yn != 'Y'" ng-click="open($event,'c')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                            &nbsp&nbsp以前 ( 計 180 天 ) 無有效
                            <e-combobox id="opp_ms_type" ng-paramtype="CAM.CARD_TYPE" ng-model="inputVO.opp_ms_type" ng-validate="false" ng-format="F1" ng-required="false" width="200px" style="line-height:20px;" />
                            者
                        </td>
                    </tr>
                    <tr ng-show="inputVO.hold_card_flg == 'N'">
                        <td>(無勾選日期設限為篩選從未辦卡者)&nbsp&nbsp 選附卡意指只擁有附卡，無任何一張正卡
                        </td>
                    </tr>
                </table> -->
            </div>
            <div class="search_box_btn text-center">
                <button type="button" class="btn btn-info" 
                		ng-disabled="(inputVO.spec_check_yn == 'Y' && inputVO.opp_ms_type == undefined ) || 
                					 (inputVO.spec_check_yn == 'Y' && inputVO.opp_ms_type == '' ) || 
                					 (inputVO.hold_card_flg == 'Y' && inputVO.ms_type == '')" 
                		ng-click="inquireInit_common(); inquire();" 
                		function-type="query">查詢</button>
                <button type="button" class="btn btn-info" ng-click="clearAll();">清除</button>
                <br>
                <label class="with-errors" ng-show="(inputVO.spec_check_yn == 'Y' && inputVO.opp_ms_type == undefined ) || (inputVO.spec_check_yn == 'Y' && inputVO.opp_ms_type == '' ) || (inputVO.hold_card_flg == 'Y' && inputVO.ms_type == '')">
                    請選擇卡片類別
                </label>
            </div>
        </div>
    </div>
    <!-- 結果區 -->
    <div>
        <div class="tfb_content">
            <div class="tfb_content_icon"></div>
            <div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">查詢結果</div>
        </div>
        <!--Content of the panel-->
        <div class="panel_content">
            <!-- 分頁 -->
            <uib-tabset active="0" justified="true">
                <uib-tab index="0" heading="客戶資訊">
                    <!-- 新增待辦 -->
                    <div ng-include="'assets/txn/CRM230/CRM230_INVESTTAB.html'"></div>
                    <!-- 客戶資訊 -->
                    <div ng-include="'assets/txn/CRM230/CRM230_CUSTTAB.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="投資資訊">
                    <!-- 查詢結果 -->
                    <e-jumping-once output="outputVO" list="resultListData" totallist="resultList"></e-jumping-once>
                    <div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
                        <table  class="e-table-freeze" e-height="400px" e-left="2" e-list="resultListData" e-mode="3" e-top="true">
                            <thead>
                                <tr>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="CUST_ID" e-query="inquire()">客戶ID</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="CUST_NAME" e-query="inquire()">客戶姓名</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="PROD_NAME" e-query="inquire()">產品名稱</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="CUR_ID" e-query="inquire()">投資幣別</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="TOTAL_UNIT" e-query="inquire()">總累積單位數
                                            <br>/庫存面額</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="INV_AMT" e-query="inquire()">原始投資金額</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="NOW_AMT" e-query="inquire()">原幣參考現值</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="NOW_AMT_TWD" e-query="inquire()">台幣參考現值</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="REF_PL" e-query="inquire()">外幣損益金額</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="REF_PL_TWD" e-query="inquire()">台幣損益金額</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="EXCH_RATE" e-query="inquire()">參考匯率</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="RTN_RATE_WD" e-query="inquire()">報酬率(%)</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="TAKE_PRFT_PT" e-query="inquire()">客戶停利點(%)</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="STOP_LOSS_PT" e-query="inquire()">客戶停損點(%)</e-sorter>
                                    </th>
                                    <th>
                                        <e-sorter e-input="inputVO" e-mode="auto" e-col="AO_CODE" e-query="inquire()">目前AO Code</e-sorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="repeat-row" ng-repeat="row in resultListData | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
                                    <td><a onclick="return false" ng-click="goCRM610(row)">{{row.CUST_ID}}</a></td>
                                    <!--客戶ID -->
                                    <td>{{row.CUST_NAME}}</td>
                                    <!-- 客戶姓名 -->
                                    <td>{{row.PROD_ID + '-' + row.PROD_NAME}}</td>
                                    <!-- 產品名稱 -->
                                    <td>{{row.CUR_ID | mapping:mappingSet['FPS.CURRENCY']:'F3'}}</td>
                                    <!-- 投資幣別 -->
                                    <td align="right">{{row.TOTAL_UNIT | number : 2}}</td>
                                    <!-- 總累積單位數 -->
                                    <td align="right">{{row.INV_AMT | number : 2}}</td>
                                    <!-- 原始投資金額 -->
                                    <td align="right">{{row.NOW_AMT | number : 2}}</td>
                                    <!-- 原幣參考現值 -->
                                    <td align="right">{{row.NOW_AMT_TWD | number : 0}}</td>
                                    <!-- 台幣參考現值 -->
                                    <!-- 								<td align = "right">{{row.REF_PL | number : 2}}</td>               外幣損益金額 -->
                                    <td align="right">{{(row.isWMBB == true || row.AST_TYPE == '16' || row.REF_PL == 0 ? null : row.REF_PL) | number : 2}}</td>
                                    <!-- 外幣損益金額 -->
                                    <!-- 								<td align = "right">{{row.REF_PL_TWD | number : 0}}</td>           台幣損益金額 -->
                                    <td align="right">{{(row.isWMBB == true || row.AST_TYPE == '16' || row.REF_PL_TWD == 0 ? null : row.REF_PL_TWD) | number : 0}}</td>
                                    <!-- 台幣損益金額 -->
                                    <td align="right">{{row.EXCH_RATE | number : 4}}</td>
                                    <!-- 參考匯率 -->
                                    <!-- 								<td align = "right">{{row.RTN_RATE_WD | number : 2}}</td>          報酬率(%) -->
                                    <td align="right">{{(row.isWMBB == true || row.AST_TYPE == '16' || row.RTN_RATE_WD == 0 ? null : row.RTN_RATE_WD) | number : 2}}</td>
                                    <!-- 報酬率(%) -->
                                    <td align="right">{{row.TAKE_PRFT_PT | number : 2}}</td>
                                    <!-- 客戶停利點(%) -->
                                    <td align="right">{{row.STOP_LOSS_PT | number : 2}}</td>
                                    <!-- 客戶停損點(%) -->
                                    <td>{{row.AO_CODE == null ? '' : row.AO_CODE }}</td>
                                    <!-- 目前AO Code -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
            <!-- 分頁 -->
        </div>
    </div>
    <!-- 結果區 -->
</div>