<style>
/* open dialog */
.ngdialog.CAM160_DEL {
	
}
/* dialog panl */
.modal-dialog.CAM160_DEL {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 750px;
	height: auto;
}
/* table size */
.CAM160_DEL table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.CAM160_DEL.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_CAM160_DEL_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
}
</style>
<div>
	<div ng-controller="CAM160_DELController" ng-cloak>
	<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
		<div class="modal-dialog CAM160_DEL">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
					<h4 id="myModalAlertLabel" class="modal-title" align="center">移除原因</h4>
				</div>
				<div class="modal-body">
					<table>
						<tbody>
							<tr>
								<td class="col-xs-1"></td>
								<th class="col-md-3">移除原因：</th>
								<td class="col-md-7 tdpadding" colspan="3"><input class="form-control" type="text" placeholder="請輸入..." id="rvReason" name="rvReason" ng-model="inputVO.rvReason" e-length-limit="100" required></td>
								<td class="col-xs-1"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-info" ng-click="removeLead()" ng-disabled="parameterTypeEditForm.$invalid">確定</button>
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')" >取消</button>
				</div>
			</div>
		</from>
		</div>
	</div>
</div>