<style>
.modal-dialog.PMS399 {
	position: relative;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0px;
	width: 90%;
	height: auto;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
</style>
<div ng-controller="PMS399_QUERYController" ng-cloak>
	<div class="modal-dialog PMS399">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">該員當日存款異動明細</h4>
			</div>
			<div class="modal-body">
				<e-jumping output="outputVO" input="inputVO" query="queryDetail()" list="totalList"></e-jumping>
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<table class="table-bordered">
						<tr>
							<th>序號</th>
							<th>行員名稱</th>
							<th>員編</th>
							<th>帳號</th>
							<th>幣別</th>
							<th>原幣金額</th>
							<th>交易金額(台幣)</th>
						</tr>
						<tr class="repeat-row" ng-repeat="row in totalList track by $index">
							<td style="text-align:center">{{row.ROWNUM}}</td>
							<td style="text-align:center">{{row.NAME}}</td>	
							<td style="text-align:center">{{row.EMP_ID}}</td>	
							<td style="text-align:center">{{row.ACC_NBR}}</td>	
							<td style="text-align:center">{{row.CRCY_TYPE}}</td>		
							<td style="text-align:center">{{row.AMT_ORGD}}</td>			
							<td style="text-align:center">{{row.AMT_NTD}}</td>					
						</tr>
					</table>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-primary" ng-click="closeThisDialog('cancel')" >確定</button>
				</div>
			</div>
		</div>
	</div>
</div>