<style>
/* open dialog */
.ngdialog.CRM8502 {
	
}
/* dialog panl */
.modal-dialog {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: 650px;
}
/* table size */
.CRM8502 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.CRM8502 table.little{
	width: 60%;
}
/* change row */
.CRM8502.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
	float: left !important;
}
</style>
<div ng-controller="CRM8502_REVIEWController" ng-cloak>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">預覽客戶資產現況表</h4>
			</div>
			<div class="modal-body">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
					<table>
						<tr>
							<th>客戶姓名：</th><td>{{result.CUST_NAME}}</td>
							<th>KYC值:</th><td>{{result.KYC_VALUE}}</td>
							<th>測驗日期:</th><td>{{result.KYC_CREATE_DATE}}</td>
						</tr>
						<tr>
							<th></th><td></td>
							<th></th><td></td>
							<th>到期日期:</th><td>{{result.KYC_DUE_DATE}}</td>
						</tr>
						<tr>
							<th></th><td></td>
							<th></th><td></td>
							<th>記錄編號:</th><td>{{result.RECORD_SEQ}}</td>
						</tr>
						<tr>
							<th colspan="6" align="center" style="background:#0000FF;color:#FFFFFF">帳　戶　總　覽</th>
						</tr>
						<tr style="height:30px"></tr>
					</table>
					<table width="100%">
						<tr style="background:#0000FF;color:#FFFFFF">
							<th width="20%">資產</th><td width="30%"></td><td width="50%" align="right">餘額(折合台幣)</td>
						</tr>
						<tr style="background:#888888;color:#FFFFFF">
							<th>存款</th><td></td><td align="right">{{result.TOT_DEP|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>台幣存款</td><td align="right">{{result.DEPOSIT_TWD|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>外幣存款</td><td align="right">{{result.DEPOSIT_FOR|number:0}}</td>
						</tr>
						<tr style="background:#888888;color:#FFFFFF">
							<th>投資</th><td></td><td align="right">{{result.TOT_INV|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>基金</td><td align="right">{{result.INV_FUND|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>組合式商品</td><td align="right">{{result.INV_SI|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>境外結構型商品</td><td align="right">{{result.INV_SN|number:0}}</td>
						</tr>
<!-- 						<tr> -->
<!-- 							<th></th><td>境外結構型債券-金市</td><td align="right">{{result.INV_SNBND|number:0}}</td> -->
<!-- 						</tr> -->
						<tr>
							<th></th><td>海外債券</td><td align="right">{{result.INV_FBOND|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>海外ETF/海外股票</td><td align="right">{{result.INV_ETF|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>黃金存摺</td><td align="right">{{result.INV_GOLD|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>奈米投</td><td align="right">{{result.INV_NANO|number:0}}</td>
						</tr>
						<tr>
							<th></th><td>外國債券-自營平台</td><td align="right">{{result.INV_VPBND|number:0}}</td>
						</tr>
						<tr ng-if="result.TOT_SUB > 0">
							<th></th><td>海外股票-證券複委託</td><td align="right">{{result.SUB_FSTOCK|number:0}}</td>
						</tr>
						<tr ng-if="result.TOT_SUB > 0">
							<th></th><td>海外債券-證券複委託</td><td align="right">{{result.SUB_FBOND|number:0}}</td>
						</tr>
						<tr ng-if="result.TOT_SUB > 0">
							<th></th><td>境外結構型商品-證券複委託</td><td align="right">{{result.SUB_SN|number:0}}</td>
						</tr>
						<tr ng-if="result.TOT_SUB > 0">
							<th></th><td>境內結構型商品-證券複委託</td><td align="right">{{result.SUB_DSN|number:0}}</td>
						</tr>
						<tr style="background:#888888;color:#FFFFFF">
							<th>保險(累計淨繳保費)</th><td></td><td align="right">{{result.TOT_INS|number:0}}</td>
						</tr>
						<tr style="background:#0000FF;color:#FFFFFF">
							<th>資產總計</th><td></td><td align="right">{{result.TOT_ASSET|number:0}}</td>
						</tr>
						<tr style="background:#888888;color:#FFFFFF">
							<th colspan="3">說明:1.上述上述總覧中各項商品之餘額定義，請參考各商品明細說明。</th>
						</tr>
					</table>
				</form>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >關閉</button>
				</div>
			</div>
		</div>
	</div>
</div>