<style>
/* open dialog */
.ngdialog.PMS227_CUST {
	
}

/* dialog panl */
.modal-dialog.PMS227_CUST {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:400px;
	height: auto;
}

/* scroll && height */
.scroll_PMS227_CUST_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}

.tdpadding{
	padding:  10px 5px 5px 5px;
}

.alignleft{
	text-align: left !important;
}

.bigspace{
	margin-left: 50px !important;
}

.datewidth{
	width:180px !important;
}

.search_box1_IMPORTFILE th {	
	width: 10%;	
}

.search_box1_IMPORTFILE td {	
	width: 20%;	
}

.glyphicon-remove-sign_IMPORTFILE:before {
  content: "\e083";
  position: absolute;
  right: 5px;
}
</style>

<div class="PMS227_CUST" ng-controller="PMS227_CUSTController" ng-cloak>
	<div class="modal-dialog PMS227_CUST" style="margin-top: 120px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">有投保客戶上傳</h4>
			</div>
			
			<form style="margin-bottom: 10px;" name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" >
			
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-info" ng-click="custfile();closeThisDialog('cancel');" function-type="maintenance">上傳資料</button>&nbsp;&nbsp;
					<button type="button" class="btn btn-info" ng-click="downLoad()" function-type="maintenance">下載範例</button>				
				</div>
				<div class="modal-body">
					<div class="gv_tab_sc scroll_y text-center"				 >
							<table  class="tablesaw table table-striped table-bordered">
								<thead>
									<tr>
										<th rowspan="2">資料年月</th>
										<th rowspan="2">上傳筆數</th>
										<th rowspan="2">上傳時間</th>							
									</tr>
									<tr>						
								</thead>
								<tbody>
									<tr class="repeat-row"
										ng-repeat="row in custList track by $index"
										ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
										<td>{{row.DATA_YM}}</td>
										<td>{{row.COU}}</td>
										<td>{{row.CREATETIME}}</td>
									
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</form>
		</div>
	</div>
</div>