<style>

</style>
<div ng-controller="KYC310_EDITController" ng-cloak>
	<div class="modal-dialog KYC310">
		<div class="modal-content">
			<div class="modal-header esoaf-confirm">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">提醒視窗</h4>
			</div>
			<div class="modal-body">
				<div ng-if="data.text">{{data.text}}</div>
				<div ng-if="data.text1">{{data.text1}}</div>
				<div ng-if="data.text2">{{data.text2}}</div>
				<div ng-if="data.text3">{{data.text3}}</div>
				<div ng-if="data.text4">{{data.text4}}</div>
				<div ng-if="data.text5">{{data.text5}}</div>
				<div ng-if="data.text6">{{data.text6}}</div>
				<div style="text-align: right;">
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')" >確定</button>
				</div>
			</div>
		</div>
	</div>
</div>