<style>
.modal-dialog.IOT400_REJECT {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 700px;
	height: auto;
}

.row {
	margin: 1%;
}
</style>
<script type="text/javascript" src="assets/txn/IOT400/IOT400_REJECT.js"></script>
<div ng-controller="IOT400_REJECTController" ng-cloak>
	<div class="modal-dialog IOT400_REJECT">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">退回_{{inputVO.PREMATCH_SEQ}}</h4>
			</div>
			<div class="modal-body">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
					<div class="row">
						<div class="col-md-2">退回原因：</div>
						<div>
							<input type="text" class="form-control"
	    						   id="reject_reason" name="reject_reason" 
	    						   ng-model="inputVO.REJECT_REASON"
	    						   style="width:100%;" maxlength="100">
						</div>
					</div>
				</form>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-primary" ng-click="reject()">確認</button>
					<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>