/*==========================================================================================================
 @class: esoaf
 @sub: theme																		        
 @description:
 @version: 1.0.20170524							  
============================================================================================================*/
/* level : red -> yellow -> blue */
.background-level-1 {
	background: rgb(255,21,0)!important; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,21,0,1) 0%, rgba(255,48,25,1) 100%, rgba(255,74,61,1) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,21,0,1) 0%,rgba(255,48,25,1) 100%,rgba(255,74,61,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,21,0,1) 0%,rgba(255,48,25,1) 100%,rgba(255,74,61,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1500', endColorstr='#ff4a3d',GradientType=1 )!important; /* IE6-9 */
}
.background-level-2 {
	background: rgb(255,127,4)!important; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,127,4,1) 0%, rgba(255,127,4,1) 0%, rgba(255,183,107,1) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,127,4,1) 0%,rgba(255,127,4,1) 0%,rgba(255,183,107,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,127,4,1) 0%,rgba(255,127,4,1) 0%,rgba(255,183,107,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffb76b',GradientType=1 )!important; /* IE6-9 */	
}
.background-level-3 {
	background: rgb(30,104,160)!important; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(30,104,160,1) 0%, rgba(89,137,186,1) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(30,104,160,1) 0%,rgba(89,137,186,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(30,104,160,1) 0%,rgba(89,137,186,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e68a0', endColorstr='#5989ba',GradientType=1 )!important; /* IE6-9 */
}