/*==========================================================================================================
 @class: esoaf
 @sub: component
 @description: component of AngularJS custom directives.
 @version: 1.0.20170606
============================================================================================================*/


/*
.label-info {
    color: #FFF !important;
    font-family: Microsoft JhengHei !important;
    border-radius: 4px !important;
    background: rgb(228,245,252);
    background: -moz-linear-gradient(-45deg,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 0%, rgba(159,216,239,1) 0%, rgba(159,216,239,1) 6%, rgba(159,216,239,1) 13%, rgba(159,216,239,1) 13%, rgba(159,216,239,1) 14%, rgba(159,216,239,1) 24%, rgba(159,216,239,1) 28%, rgba(159,216,239,1) 28%, rgba(159,216,239,1) 32%, rgba(159,216,239,1) 37%, rgba(159,216,239,1) 37%, rgba(42,176,237,1) 73%);
    background: -webkit-linear-gradient(-45deg,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 0%,rgba(159,216,239,1) 0%,rgba(159,216,239,1) 6%,rgba(159,216,239,1) 13%,rgba(159,216,239,1) 13%,rgba(159,216,239,1) 14%,rgba(159,216,239,1) 24%,rgba(159,216,239,1) 28%,rgba(159,216,239,1) 28%,rgba(159,216,239,1) 32%,rgba(159,216,239,1) 37%,rgba(159,216,239,1) 37%,rgba(42,176,237,1) 73%);
    background: linear-gradient(135deg,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 0%,rgba(159,216,239,1) 0%,rgba(159,216,239,1) 6%,rgba(159,216,239,1) 13%,rgba(159,216,239,1) 13%,rgba(159,216,239,1) 14%,rgba(159,216,239,1) 24%,rgba(159,216,239,1) 28%,rgba(159,216,239,1) 28%,rgba(159,216,239,1) 32%,rgba(159,216,239,1) 37%,rgba(159,216,239,1) 37%,rgba(42,176,237,1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 );
}
.label-success {
    color: #FFF !important;
    font-family: Microsoft JhengHei, EUDC !important;
    border-radius: 4px !important;
    background: rgb(180,221,180);
    background: -moz-linear-gradient(-45deg,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 0%, rgba(82,177,82,1) 28%, rgba(0,138,0,1) 64%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 0%,rgba(82,177,82,1) 28%,rgba(0,138,0,1) 64%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
    background: linear-gradient(135deg,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 0%,rgba(82,177,82,1) 28%,rgba(0,138,0,1) 64%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 );
}
.label-warning {
    color: #FFF !important;
    font-family: Microsoft JhengHei, EUDC !important;
    border-radius: 4px !important;
    background: rgb(246,230,180);
    background: -moz-linear-gradient(-45deg,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 52%, rgba(237,144,23,1) 75%);
    background: -webkit-linear-gradient(-45deg,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 52%,rgba(237,144,23,1) 75%);
    background: linear-gradient(135deg,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 52%,rgba(237,144,23,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 );
}
.label-danger {
    color: #FFF !important;
    font-family: Microsoft JhengHei, EUDC !important;
    border-radius: 4px !important;
    background: rgb(248,80,50);
    background: -moz-linear-gradient(-45deg,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 15%, rgba(241,111,92,1) 15%, rgba(241,111,92,1) 19%, rgba(246,41,12,1) 76%, rgba(240,47,23,1) 95%, rgba(231,56,39,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 0%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 19%,rgba(246,41,12,1) 76%,rgba(240,47,23,1) 95%,rgba(231,56,39,1) 100%);
    background: linear-gradient(135deg,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 0%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 19%,rgba(246,41,12,1) 76%,rgba(240,47,23,1) 95%,rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 );
}
*/


/* msg-bar */

#mwt_mwt_slider_scroll {
    left: -550px;
    width: 550px;
    position: fixed;
    z-index: 9999;
    bottom: 100px;
    height: 100px;
}

#mwt_slider_content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 198px;
    top: 20px;
    text-align: center;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
    background: #e9e9e9;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dcdcdc), to(#fff));
    background: -moz-linear-gradient(#dcdcdc, #fff);
    -pie-background: linear-gradient(#dcdcdc, #fff);
}

#mwt_slider_content p {
    margin: 10px;
}

#mwt_fb_tab {
    position: absolute;
    right: -50px;
    width: 50px;
    color: #ffffff;
    text-align: center;
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 9px;
    padding-left: 0;
    bottom: 20px;
    cursor: pointer;
    border: 1px solid #b52200;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
}

#mwt_fb_tab span {
    display: block;
    height: 20px;
    padding: 1px 0;
    text-transform: uppercase;
    font-weight: bold;
}




/* dynamic */

.mwt_fb_tab-hover {
    background: rgb(248, 80, 50) !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(241, 111, 92, 1) 15%, rgba(241, 111, 92, 1) 15%, rgba(241, 111, 92, 1) 46%, rgba(246, 41, 12, 1) 76%, rgba(240, 47, 23, 1) 95%, rgba(231, 56, 39, 1) 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(241, 111, 92, 1) 15%, rgba(241, 111, 92, 1) 15%, rgba(241, 111, 92, 1) 46%, rgba(246, 41, 12, 1) 76%, rgba(240, 47, 23, 1) 95%, rgba(231, 56, 39, 1) 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(241, 111, 92, 1) 15%, rgba(241, 111, 92, 1) 15%, rgba(241, 111, 92, 1) 46%, rgba(246, 41, 12, 1) 76%, rgba(240, 47, 23, 1) 95%, rgba(231, 56, 39, 1) 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1) !important;
    /* IE6-9 fallback on horizontal gradient */
}




/** CSS/CLASS **/


/* msg button */

#mwt_fb_tab {
    z-index: 703;
    /*51->102*/
    position: absolute;
    left: 0;
    margin-bottom: 25px;
    background: rgb(254, 187, 187);
    background: -moz-linear-gradient(-45deg, rgba(254, 187, 187, 1) 0%, rgba(255, 92, 92, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(254, 187, 187, 1) 0%, rgba(255, 92, 92, 1) 100%);
    background: linear-gradient(135deg, rgba(254, 187, 187, 1) 0%, rgba(255, 92, 92, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=1);
    border: 0px;
    -webkit-box-shadow: rgb(206, 220, 231) 0px 2px 6px;
    -moz-box-shadow: rgb(206, 220, 231) 0px 2px 6px;
    box-shadow: #333 0px 2px 6px;
    /*rgb(206,220,231) 0px 2px 6px*/
}

#mwt_fb_tab a {
    text-decoration: none!important;
}

#mwt_fb_tab span {
    font-size: 13px;
    font-weight: initial;
    font-family: Microsoft JhengHei, EUDC, Helvetica, Arial, sans-serif;
    line-height: 1.3;
}

#mwt_fb_tab .badge {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    color: #ff8080;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    min-width: 10px;
    margin: 2px 0 0 0;
    padding: 0px;
    animation: esoaf-shake-1 1.5s, esoaf-fadein 1s;
}

#mwt_msg_panl:empty :root(#mwt_fb_tab .badge) {
    animation: esoaf-shake-1 1.5s, esoaf-fadeout 1s;
}




/* msg button text */

.mwt_btn_color {
    color: #FFFFFF;
}

#mwt_mwt_slider_scroll {
    z-index: 702;
    /*50-101*/
    margin-bottom: 15px;
}

#mwt_slider_content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 198px;
    top: 20px;
    text-align: center;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px;
    -webkit-box-shadow: rgb(206, 220, 231) 0px 2px 6px;
    -moz-box-shadow: rgb(206, 220, 231) 0px 2px 6px;
    box-shadow: rgb(206, 220, 231) 0px 2px 6px;
    background: hsla(0, 90%, 40%, 0.1);
}

#mwt_msg_panl {
    padding: 15px 30px 10px 0;
    height: initial!important
}




/* function element color */

.e-color-disabled {
    color: #999!important;
}

.e-font-hightlight {
    color: #1c55d0!important;
}

.e-bd-hightlight {
    box-shadow: 0 0 10px #1c55d0!important;
}




/* e-alert panl(dialog) */

.modal-dialog.e-alert {
    position: fixed;
    top: 16%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    height: auto;
}

.e-alert .modal-header {
    background: rgb(255, 183, 107)!important;
    background: -moz-linear-gradient(-45deg, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 19%, rgba(255, 124, 0, 1) 51%, rgba(255, 127, 4, 1) 100%)!important;
    background: -webkit-linear-gradient(-45deg, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 19%, rgba(255, 124, 0, 1) 51%, rgba(255, 127, 4, 1) 100%)!important;
    background: linear-gradient(135deg, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 19%, rgba(255, 124, 0, 1) 51%, rgba(255, 127, 4, 1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=1)!important;
}

.e-alert .scroll {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: none;
}

.e-alert table th,
.e-alert table td {
    text-align: center;
    line-height: 30px;
}

.e-floor-alert {
    background: rgb(252, 234, 187)!important;
    background: -moz-linear-gradient(-45deg, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 100%, rgba(251, 223, 147, 1) 100%)!important;
    background: -webkit-linear-gradient(-45deg, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 100%, rgba(251, 223, 147, 1) 100%)!important;
    background: linear-gradient(135deg, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 100%, rgba(251, 223, 147, 1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1)!important;
}

.e-btn-alert {
    border-color: rgba(199, 34, 0, 1)!important;
    background: rgb(243, 197, 189)!important;
    background: -moz-linear-gradient(-45deg, rgba(243, 197, 189, 1) 0%, rgba(232, 108, 87, 1) 23%, rgba(255, 102, 0, 1) 75%, rgba(234, 40, 3, 1) 100%, rgba(199, 34, 0, 1) 100%)!important;
    background: -webkit-linear-gradient(-45deg, rgba(243, 197, 189, 1) 0%, rgba(232, 108, 87, 1) 23%, rgba(255, 102, 0, 1) 75%, rgba(234, 40, 3, 1) 100%, rgba(199, 34, 0, 1) 100%)!important;
    background: linear-gradient(135deg, rgba(243, 197, 189, 1) 0%, rgba(232, 108, 87, 1) 23%, rgba(255, 102, 0, 1) 75%, rgba(234, 40, 3, 1) 100%, rgba(199, 34, 0, 1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200', GradientType=1)!important;
}

.e-btn-alert:hover {
    background: rgb(248, 80, 50)!important;
    background: -moz-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(231, 56, 39, 1) 100%)!important;
    background: -webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(231, 56, 39, 1) 100%)!important;
    background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(231, 56, 39, 1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1)!important;
}

.e-filter {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}




/*
    [eTableSticky/eTableFreeze]
*/


/*
.stickyColumns-top {
    background: #f2f2f2;
    background: -moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);
    background: -o-linear-gradient(top,#f8f8f8 0,#ececec 100%);
    background: -ms-linear-gradient(top,#f8f8f8 0,#ececec 100%);
    background: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8',endColorstr='#ECECEC',GradientType=0);
    color: #707070;
    font-weight: normal;

    border: 1px solid #DDD;
    border-width: 0 1px;
/*     font-weight: bold; */


/*}*/


/* box-sizing */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/*====================================================================================*/


/* For appearance */

.sticky-wrap {
    /*  overflow-y: auto; */
    /*  overflow-x: hidden; */
    /*  overflow-x: auto; */
    position: relative;
    width: 100%;
    /*  max-height: 40vh; */
    /*  max-width: 350px; */
}

.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    /*Juan 17-07-27 asked to remove animation*/
    /*transition: all .125s ease-in-out;*/
    z-index: 50;
    width: auto;
    /* Prevent table from stretching to full size */
}

.sticky-wrap .sticky-thead {
    z-index: 100;
    width: 100%;
    /* Force stretch */
    box-shadow: rgba(153, 153, 153, .8) 2px 2px 12px;
}

.sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;
    box-shadow: rgba(153, 153, 153, .8) 2px -5px 12px;
}

.sticky-wrap .sticky-col {
    box-shadow: rgba(153, 153, 153, .8) 2px 2px 12px;
}

.sticky-wrap .sticky-intersect th {
    /*Juan 17-07-20 #666 -> #3987b1*/
    background-color: #3987b1;
    color: #eee;
}

.sticky-wrap .sticky-col.table-striped>tbody>tr:nth-of-type(odd) {
   background-color: initial; 
}

/*17-07-26 Juan:cancel round corner*/

.sticky-wrap .sticky-intersect thead tr:not([style='display:none']):first-child th:not([style='display:none']):first-child {
    border-top-left-radius: 0px !important;
}

.sticky-wrap .sticky-intersect thead tr:not([style='display:none']):first-child th:not([style='display:none']):last-child {
    border-top-right-radius: 0px !important;
}

/*17-08-08 Juan: fn3*/

.sticky-wrap tbody tr td{
	background-color: #fff;
}

.sticky-wrap .removeCell{
	display:none !important;
}

.gv_tab_sc .sticky-fn2 thead>tr>th,
.gv_tab_sc .sticky-fn2 tbody>tr>th,
.gv_tab_sc .sticky-fn2 tfoot>tr>th,
.gv_tab_sc .sticky-fn2 thead>tr>td,
.gv_tab_sc .sticky-fn2 tbody>tr>td,
.gv_tab_sc .sticky-fn2 tfoot>tr>td {
    border: .5px solid #c9eaed!important;
}

.sticky-wrap td,
.sticky-wrap th {
    box-sizing: border-box;
}




/* Directives: eSorter */

.eSorter-btn-hover {
    /* version: red */
    /*
    background: rgb(248,80,50) !important;
    background: -moz-linear-gradient(-45deg,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 15%, rgba(241,111,92,1) 15%, rgba(241,111,92,1) 46%, rgba(246,41,12,1) 76%, rgba(240,47,23,1) 95%, rgba(231,56,39,1) 100%) !important;
    background: -webkit-linear-gradient(-45deg,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 0%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 46%,rgba(246,41,12,1) 76%,rgba(240,47,23,1) 95%,rgba(231,56,39,1) 100%) !important;
    background: linear-gradient(135deg,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 0%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 15%,rgba(241,111,92,1) 46%,rgba(246,41,12,1) 76%,rgba(240,47,23,1) 95%,rgba(231,56,39,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ) !important;
    */
    /* version: org */
    background: #f85032!important;
    background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%)!important;
    background: -webkit-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%)!important;
    background: linear-gradient(to bottom, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0)!important;
}




/* hover:default */

#eSorter_show:not([class*='eSorter-main']):not([class*='eSorter-main-desc']) {
    color: #FFFFFF!important;
    text-shadow: 1px 1px 0 rgba(42, 45, 50, 0.5);
    -webkit-transition: color 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
    transition: color 1s, text-shadow 1s, transform 1s;
}

#eSorter_show:not([class*='eSorter-main']):not([class*='eSorter-main-desc']):hover {
    color: #FF0000!important;
    text-shadow: 0 0 12px hsla(255, 90%, 35%, 0.5);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#eSorter_show:not([class*='eSorter-main']):not([class*='eSorter-main-desc']):focus {
    color: #FF0000!important;
    text-shadow: 0 0 12px hsla(255, 90%, 35%, 0.5);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}




/*DESC*/

#eSorter_show.eSorter-main-desc {
    color: #FF0000;
    text-shadow: 0 0 6px #FFFFFF;
    -webkit-transition: color 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s;
}

#eSorter_show.eSorter-main-desc:focus {
    color: hsla(255, 90%, 35%, 0.9)!important;
    text-shadow: 0 0 12px hsla(255, 90%, 35%, 0.5);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}




/*ASC*/

#eSorter_show[class*='eSorter-main'] {
    color: hsla(255, 90%, 35%, 0.9);
    text-shadow: 0 0 6px #FFFFFF;
    -webkit-transition: color 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s;
}

#eSorter_show[class*='eSorter-main']:focus {
    color: #FF0000!important;
    text-shadow: 0 0 12px hsla(255, 90%, 35%, 0.5);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}




/* <marquee> */

.marquee {
    overflow: hidden;
}

.eNumber-btn-down .ui-icon-triangle-1-s {
    background-position: -65px -19px;
}

.eNumber-btn-up .ui-icon-triangle-1-n {
    background-position: 0px -19px;
}

.eNumber-btn-down .ui-icon {
    width: 12px;
    height: 10px;
}

.eNumber-btn-up .ui-icon {
    width: 12px;
    height: 10px;
}




/* cust-book */

#cust-book {
    position: fixed;
    z-index: 101;
    top: 80px;
    right: 100px;
    padding: 0;
}




/* <calendar> */


/* *[ng-controller="HOMEController"] mwl-calendar { */

*[ng-controller="HOMEController"] .mwl-calendar-wrapper {
    vertical-align: top;
    width: 550px!important;
    height: 380px!important;
    max-width: 550px!important;
    max-height: 380px!important;
}

*[ng-controller="HOMEController"] mwl-calendar {
    vertical-align: top;
    zoom: 0.7;
    max-width: 550px!important;
    max-height: 380px!important;
}

*[ng-controller="HOMEController"] .mwl-calendar-neighbor {
    vertical-align: top;
    padding: 10px;
    height: auto;
    width: 875px;
    min-width: 50%;
    max-width: 880px;
}

*[ng-controller="HOMEController"] *:not(td)[class*="mwl-calendar-"] {
    display: inline-block;
}

table td.mwl-calendar-neighbor {
    padding: 5px;
}

#e-msgbar-clear {
    margin: 5px 0 15px 0;
}

#e-msgbar-clear>span {
    color: #ff1c1c;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ff1c1c;
    border-radius: 5px;
}

#e-msgbar-clear>span:hover {
    -webkit-box-shadow: #ffffff 0px 0px 6px;
    -moz-box-shadow: #ffffff 0px 0px 6px;
    box-shadow: #ffffff 0px 0px 6px;
}




/* eDialog */


/* header button */

.modal-header .close {
    font-size: 33px;
    margin-top: -12px!important;
}

.zoom-in {
    margin-right: 10px;
}

.zoom-out {
    margin-right: 3px;
}

.zoom-in,
.zoom-out {
    float: right;
    font-size: 16px;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
}

.modal-header .close:hover,
.modal-header .close:focus,
.zoom-in:hover,
.zoom-in:focus,
.zoom-out:hover,
.zoom-out:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=80);
    opacity: .8;
}

.modal-header button.close,
button.zoom-in,
button.zoom-out {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}




/* e-progress */
e-progress>div {
    margin: 10px;
}
.e-prog {
    display: block;
}
.e-prog-graph,
.e-prog-graph-right,
.e-prog-graph-right-inside,
.e-prog-graph-left,
.e-prog-graph-left-inside {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.e-prog-graph {
    background: #ccc;
    position: relative;
}
.e-prog-graph-right,
.e-prog-graph-right-inside,
.e-prog-graph-left,
.e-prog-graph-left-inside {
    position: absolute;
    left: 0;
    top: 0;
}
.e-prog-graph-right,
.e-prog-graph-right-inside {
    clip: rect(0, auto, auto, 100px);
}
.e-prog-graph-left,
.e-prog-graph-left-inside {
    clip: rect(0, 100px, auto, auto);
}
.e-prog-graph-right-inside {
    background: #419bcb;
    transform: rotate(-180deg);
    animation: esoaf-opacity-1 4s infinite linear;
    -webkit-animation: esoaf-opacity-1 4s infinite linear;
}
.e-prog-graph-left-inside {
    background: #419bcb;
    transform: rotate(-180deg);
    animation: esoaf-opacity-1 4s infinite linear;
    -webkit-animation: esoaf-opacity-1 4s infinite linear;
}
.e-prog-middle {
    display: block;
    padding: 12px;
    margin-top: -193px;
    margin-left: 8px;
    position: relative;
    width: 185px;
    height: 185px;
    line-height: 150px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #ffffff;
}
.e-prog-middle-text-1,
.e-prog-middle-text-2,
.e-prog-middle-text-3 {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 0 0 8px #333;
}
.e-prog-middle-text-wrap {
    position: absolute;
    margin: -140px 0 0 60px;
    text-shadow: 0 0 8px #333;
}
.e-prog-middle-icon-watch {
    width: 200px;
    height: 200px;
    background: transparent url(../../assets/images/icon/e-icon/e-icon-watch-3.png) no-repeat;
    background-size: 200px 200px;
    background-position: center center;
    display: block;
    margin: -20px 0 0 -20px;
}
.e-prog-middle-icon-arrow {
    width: 200px;
    height: 200px;
    background: transparent url(../../assets/images/icon/e-icon/e-icon-arrow-1.png) no-repeat;
    background-size: 200px 200px;
    background-position: center center;
    display: block;
    margin: -200px 0 0 -20px;
}
.e-prog-graph-right-inside:before,
.e-prog-graph-left-inside:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 0px;
    height: 0px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #3c99d0 transparent;
}
.e-prog-graph-arrow {}
.e-prog-middle-clip-right,
.e-prog-middle-clip-left {
    /*  width: 190px; */
    /*  height: 190px; */
    transform: scale(1, 1);
}
/* eCombobox */
.e-combobox input {
    font-family: Microsoft JhengHei, EUDC, Helvetica, Arial, sans-serif;
}
/* eNegative */
.e-str-negative {
	color:red!important;
}