/*==========================================================================================================
 @class: esoaf
 @sub: framework																		        
 @description:
 @version: 1.0.20170524							  
============================================================================================================*/
#banner nav {
	padding:0 30px 0 10px;
}
#top-bar {
	margin-bottom: 10px;
}
.nav-logo {
	width:261px;
	height:70px;
	background-image:url(../../assets/images/logo/fubon-logo-2.png);
	background-size:100% 100%;
}
#menubar>ul>li a:first {
	color:#0094c8;
}
/* HOME */
*[ng-controller="HOMEController"] .panel_content {
	margin:0;
	padding:30px;
	box-shadow: 3px 3px 10px #999;
}
.cash {
	width:inherit;
}
.cash_flow {
	background:none;
    height:38px;
    margin:-50px 0 0 380px;
}
.cash_flow_co {
	float:none;
	color:black;
	line-height:3;
	background-color:#bfe2f7;
	border-top-right-radius:15px;
	min-width:280px;
	font-size:14px;	
	padding: 8px 10px 8px 10px;
    margin-left: -8px;
}
.cash_flow_txt {
	float:none;
	border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-image:none;
    width:120px;
    min-width:120px;
    font-size:14px;
    line-height:2.8;
    padding: 8px 10px 8px 10px;
}
.tfb_content .tfb_content_tit {
    height:52px;
    color:#FFF;
    font-size:24px;
    font-weight:bold;
    min-width:310px;
    width:310px;
    background-color:#93c5e1;
    white-space:nowrap;
    border-top-left-radius:30px;
}
.tfb_content .tfb_content_icon {
	font-size:10px;
    left:310px;
    position:absolute;
    width:70px;
    height:52px;
    background-image:url(../../assets/images/icon/tfb_icon_a00.gif);
}
/* badge */
.badge {
	margin: 0 0 3px;
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
.badge:not([class*="badge-"]) {
	background-color:#93c5e1;
}
.badge.badge-error {
	background-color:#ff8080;
}
.my_tit {
	margin-top:20px;
}
.my_tit:first {
	margin-top:0;
}
/* ui-bootstrap */
/* <tool-tip> */
.ui-tooltip {
/* 	top:100px!important; */
    background: #3c99d0 !important;
    color: #fff !important;
 /* text-shadow:0 0 6px rgba(255,255,255,0.75); */
    font-weight: bold !important;
 	font-size: 12px !important;
 	box-shadow:0 0 10px rgba(255,255,255,1) !important; /*#1c55d0*/
 	border: 0 solid #fff !important;
 	border-radius:30px;
 	/*
 	border-bottom-left-radius: 12px !important;
 	border-top-right-radius: 12px !important;
 	*/
 	opacity: 0.75 !important;
 	animation: esoaf-fadein 1.5s;
}
.ui-tooltip:not([class*="e-tooltip-dialogbox"])::before {
	content: "";
	display: block;
	position: absolute;
	top:-25px;
	left:42%;
	width:0px;
	height:0px;
	border-width:12px;
	border-style:solid;
	border-color:transparent transparent #3c99d0 transparent;
	opacity: 0.85 !important;
}
.ui-tooltip[class*="e-tooltip-dialogbox"]::before {
	content: "";
	display: block;
	position: absolute;
	top:35px;
	left:30%;
	width:0px;
	height:0px;
	border-width:12px;
	border-style:solid;
	border-color:transparent transparent #3c99d0 transparent;
	opacity: 0.85 !important;
	transform:rotate(180deg);
} 