.ngdialog-content {
	background-color: transparent;
}

.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
	width: 80%;
	padding-top: 20px;
	font-size: 12px;
	margin: 0px auto;
}

.watermark {
	color: #808080;
	font-size: 70pt;
	transform:translate(-50%, -50%) rotate(-45deg); /*垂直水平位置與旋轉方向*/
	position: fixed;
	z-index: 998;
	pointer-events: none;
	opacity: 0.1; /*0.4 UAT IR#126698*/
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
}

.with-errors {
	color: red !important;
}

textarea {
	resize: none;
}

.h4-title {
	font-size: 20px;
    font-weight: bold;
    color: #3399cc;
    background-color: #DDF2F9;
    padding: 10px;
    margin: 3px;
}

input[readonly][disabled] { 
    color: #c0c0c0;
    background: #f0f0f0;
}
button:disabled {
    background: #f0f0f0;
}

#wrapper {
	min-height: 60vh;
}

#footer {
    /* Height of the footer */
    position:fixed; 
    z-index:703; /*50,101,10002,102*/
    bottom:0; 
    left:0;
    padding:0;
    border-top:0px solid #444;           
}
#footer1 {
    /* Height of the footer */
    position: static; 
    z-index:0;
    bottom:0; 
    left:0;
    width:100%;
    height:auto;
    padding:0;
    border-top:0px solid #444;
}
#footer2 {
    margin: 6px 0 0 0; /*6 0 0 0*/
}
#dialog_box {
    /* Height of the footer */
    position:fixed;
    z-index:102; /*50,101,10002*/
    left:0;
    right:0;
    bottom:3%;
    padding:0;
    width:80%;
    text-align:center;
    pointer-events:none;
    margin: 0px auto;
    animation: ngdialog-fadein 0.5s;
}
#dialog_insitBox {
	-webkit-pointer-events:none;
    margin: 5px;
}

/*---------------------------------------------------------------------*/
/*        Loading Window           */
/*---------------------------------------------------------------------*/
/* Add: 2016/02/20 ArthurKO              */
/* Modify: 2016/06/01 ArthurKO              */
/*---------------------------------------------------------------------*/
/* Version: new */
/*---------------------------------------------------------------------*/
/* ngDialog custom setting */
.ngdialog.loading-Img .ngdialog-content {
	background: transparent;
	color: transparent;
	position: absolute;
	left: 45%;
	top: 40%;
}
.ngdialog.loading-Img {
	-webkit-pointer-events:all;
	pointer-events:all;
	z-index:999; /* top index 10005 */
}
/* kgi css */
.close {
	text-decoration: none;
	color: #FFF; /*black*/
	font-weight: bold;
	font-size: 16px;
	padding: 0 4px;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	opacity: 1;
}
.close:hover {
	background: rgba(32,124,202,1) 5%; /*#999*/
	color: #FFF;
}
/* PMS_TITLE */
.type_PMS {
	font-size: 20px;
    color: #0089d1;
    text-transform: uppercase;
}
/* PMS_TABLE_CENTER */
.rstable thead tr th {
	vertical-align: middle;
}

/* Directives: eSorter */
.eSorter-btn-hover {
	background: #f85032!important;
	background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%)!important;
	background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)!important;
	background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 )!important;
}
/* hover:default */ 
#eSorter_show:not([class*='eSorter-main']):not([class*='eSorter-main-desc']) {
	color: #FFFFFF!important;
	text-shadow: 1px 1px 0 rgba(42,45,50,0.5);
	-webkit-transition: color 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
    transition: color 1s, text-shadow 1s, transform 1s;
}
#eSorter_show:not([class*='eSorter-main']):not([class*='eSorter-main-desc']):hover {
	color: #FF0000!important;
	text-shadow: 0 0 12px hsla(255,90%,35%,0.5);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
#eSorter_show:not([class*='eSorter-main']):not([class*='eSorter-main-desc']):focus {
	color: #FF0000!important;
	text-shadow: 0 0 12px hsla(255,90%,35%,0.5);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
/*DESC*/
#eSorter_show.eSorter-main-desc {
	color: #FF0000;
	text-shadow: 0 0 6px #FFFFFF;
	-webkit-transition: color 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s;
}
#eSorter_show.eSorter-main-desc:focus {
	color: hsla(255,90%,35%,0.9)!important;
	text-shadow: 0 0 12px hsla(255,90%,35%,0.5);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
/*ASC*/
#eSorter_show[class*='eSorter-main'] {
	color: hsla(255,90%,35%,0.9);
	text-shadow: 0 0 6px #FFFFFF;
	-webkit-transition: color 0.5s, text-shadow 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s;
}
#eSorter_show[class*='eSorter-main']:focus {
	color: #FF0000!important;
	text-shadow: 0 0 12px hsla(255,90%,35%,0.5);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

/* Add: 2016/03/15 ArthurKO add by sa(佩華) all title center */
/* Table Setting Start */
/* Custom Style by all */
.td_center tbody>tr>td {
	text-align: center;
}
.td_left tbody>tr>td {
	text-align: left;
}
.td_right tbody>tr>td {
	text-align: right;
}
/* Custom Style by single */
.table tbody>tr>td.td_center {
	text-align: center;
}
.table tbody>tr>td.td_left {
	text-align: left;
}
.table tbody>tr>td.td_right {
	text-align: right;
}
/* Table Setting End */
.e_padding_2 {
	padding-left: 5px;
}
.e_padding_3 {
	padding: 0 0 0 15px;
}
@Media Print {
  Body {display:none!important;} 
}