<style>

.datewidth{
	width:180px !important;
}

.rstable thead tr th {
	vertical-align:middle;
}
</style>
<script type="text/javascript" src="assets/txn/PMS000/PMSRegionController.js"></script>
<script type="text/javascript" src="assets/txn/PMS410/PMS410.js"></script>

<div class="PMS410" ng-controller="PMS410Controller" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >查詢條件</div>
		</div>
		<!--Content of the panel-->
		<div class="panel_content">
			<div class="search_table search_box3">
			<form name="parameterTypeEditForm" class="form-horizontal"
					data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
				<table>
					<tr>						
						<th>*資料統計月份：</th>
						<td>						 						 
							<e-combobox id="dataMonth" name="dataMonth" 
								ng-datasource="ymList"
								ng-model="inputVO.dataMonth"
								ng-validate="false" 
								ng-readonly="false" 
								ng-editable="false"
								ng-change="dataMonthChange()"
								ng-format="F3"
								ng-required="true"
								width="150px"
								style="line-height:20px;" />														
						</td>											    												
					</tr>
					<tr>
						<th>業務處：</th>
						<td>						     
							<e-combobox id="region_center_id" name="region_center_id"
										ng-datasource="REGION_LIST"
										ng-model="inputVO.region_center_id"
										ng-validate="false" 
										ng-disabled="disableRegionCombo"
										ng-readonly="disableRegionCombo" 
										ng-editable="false"
										ng-format="F3"
										ng-required="false"
										ng-change="ChangeRegion()"
										width="200px"
										style="line-height:20px;" />
						</td>					
						<th>營運區：</th>
						<td>
							<e-combobox id="branch_area_id" name="branch_area_id"
										ng-datasource="AREA_LIST"
										ng-model="inputVO.branch_area_id"
										ng-validate="false" 
										ng-disabled="disableAreaCombo"
										ng-readonly="disableAreaCombo" 
										ng-editable="false"
										ng-format="F3"
										ng-required="false"
										ng-change="ChangeArea()"
										width="200px"
										style="line-height:20px;" />
						</td>
						<th>分行：</th>
						<td>						 
							<e-combobox id="branch_nbr" name="branch_nbr"
										ng-datasource="BRANCH_LIST"
										ng-model="inputVO.branch_nbr"
										ng-validate="false" 
										ng-disabled="disableBranchCombo"
										ng-readonly="disableBranchCombo" 
										ng-editable="false"
										ng-format="F1"
										ng-required="false"
										ng-change="ChangeBranch()"
										width="150px"
										style="line-height:20px;" />						 
						</td>
						<!-- <th>理專：</th>
						<td>						
							<e-combobox id="ao_code" name="ao_code"
										ng-datasource="AO_LIST"
										ng-model="inputVO.ao_code"
										ng-validate="false"
										ng-disabled="disableAoCombo"
										ng-readonly="disableAoCombo" 
										ng-editable="false"
										ng-format="F1"
										ng-required="false"
										ng-change="ChangeAo_code()"
										width="150px"
										style="line-height:20px;" />						 
						</td>-->
					</tr>					
				</table>
				</form>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="inquireInit();query()">查詢</button>
				<button type="button" class="btn btn-info" ng-click="init()">清除</button>
				<button type="button" class="btn btn-info" ng-click="exportRPT()" ng-disabled="paramList.length < 1">匯出</button>
			</div>
		</div>
	</div>
	<!-- 結果區 -->
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">查詢結果</div>
		</div>
		<!--Content of the panel-->
		<div class="panel_content">		    
			<e-jumping output="outputVO" input="inputVO" query="query()" list="paramList"></e-jumping>
			<div algin="left">
				<table>
			    	<tr>
			    		<td>產出頻率：</td>
			    		<td>每月</td>
			    	</tr>
			    	<tr>
			    		<td>產出日：</td>
			    		<td>{{toJsDate(paramList[0].CREATETIME) | date:'yyyy/MM/dd'}}</td>
			    	</tr>
		    	</table>
			</div>	
			<div class="gv_tab_sc scroll_y" style="height:auto;white-space: nowrap;">
				<table class="rstable e-table-freeze" e-height="500px" e-mode="1" e-top="true" e-list="paramList">
					<thead>
						<tr>
							<th>序號</th>
							<th>資料年月</th>
							<th>分區</th>
							<th>分行<br>代碼</th>
							<th>分行名稱</th>
							<!-- <th>AO Code</th> -->
							<th>C1百分比<br>C1人數</th>
							<th>C2百分比<br>C2人數</th>
							<th>C3百分比<br>C3人數</th>
							<th>C4百分比<br>C4人數</th>
							<!-- <th>C5百分比<br>C5人數</th> -->
							<th>KYC合計數</th>
							<th>168<br>新開戶合計數</th>																				
						</tr>
					</thead>
					<tbody>
						<tr class="repeat-row" ng-repeat="row in paramList track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
						 	<td align="center">{{row.ROWNUM}}</td>
						 	<td>{{row.DATA_YEARMON}}</td>
							<td>{{row.BRANCH_AREA_NAME}}</td>
							<td>{{row.BRANCH_NBR}}</td>
							<td>{{row.BRANCH_NAME}}</td>
							<!-- <td>{{row.AO_CODE}}</td> -->
							<td align="right">{{row.C1_PCTG | number:2}}%<br>{{row.C1_NOP | number:0}}</td>
							<td align="right">{{row.C2_PCTG | number:2}}%<br>{{row.C2_NOP | number:0}}</td>
							<td align="right">{{row.C3_PCTG | number:2}}%<br>{{row.C3_NOP | number:0}}</td>
							<td align="right">{{row.C4_PCTG | number:2}}%<br>{{row.C4_NOP | number:0}}</td>
							<!--<td align="right">{{row.C5_PCTG | number:2}}%<br>{{row.C5_NOP | number:0}}</td>-->
							<td align="right">{{row.TOTAL_KYC | number:0}}</td>
							<td align="right">{{row.TOTAL_168 | number:0}}</td>																								 				
						</tr>
					    <tr ng-if="check==true">
					    <td colspan="5" align="center">合計</td>
					    <td align="right">{{as[2]*100/as[11] | number:2}}%<br>{{as[2] | number:0}}</td>
					    <td align="right">{{as[4]*100/as[11] | number:2}}%<br>{{as[4] | number:0}}</td>
					    <td align="right">{{as[6]*100/as[11] | number:2}}%<br>{{ as[6]| number:0}}</td>
					    <td align="right">{{as[8]*100/as[11] | number:2}}%<br>{{ as[8]| number:0}}</td>
					    <td align="right">{{ as[11]| number:0}}</td>
					    <td align="right">{{ as[12]| number:0}}</td>
					    </tr>
					</tbody>
				</table>				
			</div>
			<div>說明：</div>
		</div>
	</div>
	<!-- 結果區 -->
</div>