<style>
/* open dialog */
.ngdialog.PMS711 {
}
/* dialog panl */
#ejp>tbody {
	width: 100% !important;
}
.modal-dialog.PMS711 {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
/* table size */
.PMS711 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.PMS711 table.little {
	width: 60%;
}
/* change row */
.PMS711.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_PMS711_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding {
	padding: 10px 5px 5px 5px;
}
.alignleft {
	text-align: left !important;
}
.bigspace {
	margin-left: 50px !important;
}
.datewidth {
	width: 180px !important;
}
.search-table-outter {
	overflow-x: scroll;
}
.colwidth>thead>tr>th {
	min-width: 150px;
	white-space: nowrap;
}
.red {
	color: red;
}
.kpi tr td {
	border: none;
}
caption {
	font-size: 18px;
	font-weight: bold;
}
.table-span {
	display: inline-block;
	width: 180px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
	border-top: 6px solid #ccc;
	border-left: 2px solid #ccc;
	border-bottom: none;
	border-radius: 15px 15px 0 0;
	cursor: pointer;
}
.table-span2 {
	background: #87CEFA;
}
.table-bordered tbody input {
	width: 60px;
	height: auto;
}
.table6 td {
	border: 1px solid #ccc;
}
.table6 th{
	background: #87CEFA;
	border: 1px solid #ccc;
}
.perType {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}
</style>
<script type="text/javascript" src="assets/txn/PMS711/PMS711.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_batchUpload.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_batchUploade.js"></script>

<script type="text/javascript" src="assets/txn/PMS711/PMS711_UPLOAD.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_houNew.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_houNewSetTS.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_twdDec.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_fundSalesGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_creditNewGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_creditNewGoalSetTS.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_pdAum.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_insGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_invGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_linsGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_inhGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_conGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_newGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_newCustGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_finGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_pdGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_tgGoal.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_fcSub.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_fcSub1.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_fcSub3.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_fcSub4.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_maintainPT.js"></script>


<script type="text/javascript" src="assets/txn/PMS711/PMS711_ps11.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_ps12.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_pro21.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_batchUpload2.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_batchUpload3.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_met02.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_addSub.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_pd02.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_met01.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_ps01.js"></script>
<script type="text/javascript" src="assets/txn/PMS711/PMS711_ps02.js"></script>
<div class="PMS711" ng-controller="PMS711Controller" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit">
				<img src="assets/images/icon/tfb_icon_a15.gif">資料查詢
			</div>
		</div>
		<!--Content of the panel-->
		<div class="panel_content">
			<div class="search_table search_box3">
				<table style="width: 50%; margin-left: 0;">
					<tr>
						<th style="text-align: right; width: 15%">*KPI年度(YYYY)：</th>
						<td><e-combobox id="eTime"
							ng-datasource="mappingSet['date_year']" ng-model="inputVO.date_year"
							ng-validate="false" ng-readonly="false" ng-editable="false"
							ng-format="F3" ng-required="true" width="120px" height="30px"
							style="line-height:20px;" /></td>
						<th style="text-align: right; width: 15%">*人員類別：</th>
						<td style="text-align: left; width: 45%; padding-left: 25px;">
							<e-combobox id="eTime" name="personType" class="personType"
								ng-datasource="mappingSet['personType']"
								ng-model="inputVO.personType" ng-validate="false"
								ng-readonly="false" ng-editable="false" ng-format="F3"
								ng-required="true" width="180px" height="30px"
								style="line-height:20px;" />
						</td>
						<td style="text-align: left; width: 10%; padding-left: 25px;">
							<button type="button" class="btn btn-info" ng-click="query(inputVO.personType);inquireInit()"
								function-type="query">查詢</button>
						</td>
						<td>
							<button type="button"  class="btn btn-info" ng-click="maintainPT()"
								function-type="query">人員類別維護</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- 結果區 -->
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit">
				<img src="assets/images/icon/tfb_icon_a15.gif">查詢結果
			</div>
		</div>
		<div class="panel_content" ng-show="ifShow">
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<div class="perType">{{personTypeName}}</div>
				<table class="kpi">
					<caption>KPI期間設定</caption>
					<tr>
						<td style="width: 120px;">計績期間:</td>
						<td align="right" style="width: 200px;">
							<div class="input-group datebox datewidth">
								<input type="text" class="form-control SDate"
									uib-datepicker-popup="yyyy/MM/dd" ng-model="inputVO.SDate"
									ng-change="setTotalMon();limitDate()" is-open="model.a"
									datepicker-options="ivgStartDateOptions"
									ng-datasource="mappingSet['SDate']"
									placeholder="{{inputVO.SDate}}" ng-readonly="true"
									width="100%" />
								<!-- 製作日曆button -->
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event,'a')">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</td>
						<td style="width: 3px !important;">
							<div style="float: left !important; width: 3px;">～</div>
						</td>
						<td style="width: 200px;">
							<div class="input-group datebox datewidth">
								<input type="text" class="form-control"
									uib-datepicker-popup="yyyy/MM/dd" ng-model="inputVO.EDate"
									ng-change="setTotalMon();limitDate()" placeholder="{{inputVO.EDate}}"
									is-open="model.b" datepicker-options="ivgEndDateOptions"
									ng-datasource="mappingSet['EDate']" ng-readonly="true"
									width="100%" />
								<!-- 製作日曆button -->
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event,'b')">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</td>
						<td class="blue" ng-if="!ifNaN">共{{totalMon}}個月</td>
						<td class="blue" ng-if="ifNaN"></td>
					</tr>
					<tr>
						<td>滿分:</td>
						<td><input type="text" ng-model="inputVO.fullScore" style="text-align:right;"
							placeholder="{{inputVO.fullScore}}"></td>
						<td>分數小計:</td>	
						<td><input type="text" ng-model="inputVO.scoreValue" style="text-align:right;"
							 ng-disabled="true"></td>
					</tr>
					<br>
				</table>
				
				<div>
					<span class="table-span common table-span2"
						ng-click="query(inputVO.personType)">一般分行設定</span>
					<span ng-if="perType==1 || perType==2 || perType==3 || perType==5" class="table-span special"
						ng-click="changeToSpecial();queryExamStats()">特殊分行設定</span>
					<div ng-if=" inputVO.isSpecial=='0' " style="border: 1px solid #ccc"
						class="gv_tab_sc scroll_y">
					<button type="button" class="btn btn-primary" ng-if="perType==1 || perType==2 || perType==3 || perType==5"
							ng-click="batchUpload(inputVO.date_year)" style="float: right;margin:20px 15px;">整批上傳設定
					</button>
					<button type="button" class="btn btn-primary" ng-if="perType==4 || perType==6 || perType==7"
							ng-click="batchUpload3(inputVO.date_year)" style="float: right;margin:20px 15px;">堆疊關係設定
					</button>
						<table class="table-bordered">
							<caption>請勾選KPI項目</caption>
							<thead>
								<th>勾選</th>
								<th>設定目標</th>
								<th>KPI項目</th>
								<th>子項目代碼</th>
								<th>子項目</th>
								<th>目標/基期</th>
								<th>超額達成</th>
								<th>分數</th>
								<!-- <th>所有人員達成率暫以此計</th> -->
							</thead>
							<tbody class="repeat-row" ng-repeat="row in statsList"
								ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
								<tr>
									<td ng-if="row.SELECT_FLAG != '1'"><input type="checkbox"
										name="" ng-click="changeCheck($event,$index)"></td>
									<td ng-if="row.SELECT_FLAG == '1'"><input type="checkbox"
										checked="checked" name="" ng-click="changeCheck($event,$index)">
									</td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='0'"><button class="btn btn-info"
										ng-click="setKpi(inputVO.personType,statsList,$index)">未設定</button>
									</td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='1'"><button class="btn btn-info"
										ng-click="setKpi(inputVO.personType,statsList,$index)">已設定</button>
									</td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='2'"><button class="btn btn-info"
										ng-disabled="true">堆疊</button>
								    </td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='3'"><button class="btn btn-info"
										ng-click="setKpi(inputVO.personType,statsList,$index)">自定</button>
								    </td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='4'"><button class="btn btn-info"
										ng-disabled="true">待上傳</button>
								    </td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='5'"><button class="btn btn-info"
										ng-disabled="true">待开发</button>
								    </td>
									<td style="text-align: center; color: blue;">{{row.KPI_PROJECT}}</td>
									<td style="text-align: center; color: blue;">{{row.SUB_PROJECT_SEQ_ID}}</td>
									<td style="text-align: left; color: blue;">{{row.SUB_PROJECT_SEQ_NAME}}</td>
									<td style="text-align: center;" ng-if="row.STAT_FLAG=='0'">目標</td>
									<td style="text-align: center;" ng-if="row.STAT_FLAG=='1'">基期</td>
									<td style="text-align: center;"><input e-input-limit='ND' e-length-limit="4"
										style="text-align:right;" type="text" ng-model="row.UP_RATE">%</td>
									<td style="text-align: center;"><input type="text" e-input-limit='ND'
										style="text-align:right;" ng-model="row.KPI_SCORE"></td>
									<!-- <td style="text-align: center;"><input e-input-limit='ND' e-length-limit="4"
										style="text-align:right;" type="text" ng-model="row.STAT_RATE">%</td> -->
								</tr>
								<tr></tr>
								<br>
							</tbody>
						</table>
						<hr>
						<table class="kpi">
							<caption>非系統計算人工上傳項目</caption>
							<tr>
								<td style="width: 100px;text-align: right;">KPI項目:</td>
								<td style="width: 300px;"><input type="text" ng-model="inputVO.KPI_PROJECT" style="width: 280px;"></td>
								<td style="width: 100px;text-align: right;">子項目:</td>
								<td style="width: 300px;"><input type="text" ng-model="inputVO.SUB_PROJECT_SEQ_NAME" style="width: 280px;"></td>
								<td style="width: 100px;"><button type="button" class="btn btn-info"
										ng-click="toList()">新增</button></td>
								<td></td>
								<td style="width: 120px;"><button type="button" class="btn btn-primary"
									ng-click="batchUpload2(inputVO.date_year)" style="float: right;margin:20px 15px;">整批上傳設定
									</button></td>
							</tr>
						</table>
						<table class="table-bordered table-border">
							<thead>
								<th>勾選</th>
								<th>設定目標</th>
								<th>KPI項目</th>
								<th>子項目代碼</th>
								<th>子項目</th>
								<th>目標/基期</th>
								<th>超額達成</th>
								<th>分數</th>
								<th>操作</th>
								<!-- <th>所有人員達成率暫以此計</th> -->
							</thead>
							<tbody class="repeat-row" ng-repeat="row in addToList"
								ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
								<tr>
									<td ng-if="row.SELECT_FLAG != '1'"><input type="checkbox"
										name="" ng-click="changeAddCheck($event,$index)">
									</td>
									<td ng-if="row.SELECT_FLAG == '1'"><input type="checkbox"
										checked="checked" name="" ng-click="changeAddCheck($event,$index)">
									</td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='0'"><button class="btn btn-info"
										ng-disabled="true">未上傳</button>
									</td>
									<td style="text-align: center;" ng-if="row.EXAM_STATS=='1'"><button class="btn btn-info"
										ng-click="queryAddKpi(addToList,$index)">已設定</button>
									</td>
									<td style="text-align: center; color: blue;">{{row.KPI_PROJECT}}</td>
									<td style="text-align: center; color: blue;">{{row.SUB_PROJECT_SEQ_ID}}</td>
									<td style="text-align: left; color: blue;">{{row.SUB_PROJECT_SEQ_NAME}}</td>
									<td style="text-align: center;" ng-if="row.STAT_FLAG=='0'">目標</td>
									<td style="text-align: center;" ng-if="row.STAT_FLAG=='1'">基期</td>
									<td style="text-align: center;"><input e-input-limit='ND' e-length-limit="4"
										style="text-align:right;" type="text" ng-model="row.UP_RATE">%</td>
									<td style="text-align: center;"><input type="text" e-input-limit='ND'
										style="text-align:right;" ng-model="row.KPI_SCORE" ></td>
									<td style="text-align: center;"><button class="btn btn-info"
										ng-click="deleteAddKpi(addToList,row.SUB_PROJECT_SEQ_ID,$index)">刪除</button>
									</td>
									<!-- <td style="text-align: center;"><input e-input-limit='ND' e-length-limit="4"
										style="text-align:right;" type="text" ng-model="row.STAT_RATE">%</td> -->
								</tr>
								<tr></tr>
								<br>
							</tbody>
						</table>
						<div class="search_box_btn text-center">
							<button type="button" class="btn btn-info"
								ng-click="saveChange()">儲存</button>
						</div>
					</div>
					<div class="gv_tab_sc scroll_y panel_content"
						style="white-space: nowrap; border: 1px solid #ccc;"
						ng-show=" inputVO.isSpecial=='1' ">
						<form>
							<font size="4">請輸入分行代碼 </font>&nbsp;<input type="text" size="100"
								 ng-model="inputVO.branchs"/>&nbsp;<font color="red">*多個分行請以逗號分隔</font><br /> <br />
							<font size="4">請勾選KPI項目</font>
							<table class="table-bordered">
								<thead>
									<tr>
										<th>勾選</th>
										<th>設定目標</th>
										<th>KPI項目</th>
										<th>子項目代碼</th>
										<th width="15%">子項目</th>
										<th>目標/基期</th>
										<th>超額達成</th>
										<th>分數</th>
										<!-- <th>所有人員達成率<br />暫以此計 -->
										</th>
									</tr>
								</thead>
								<tbody class="repeat-row" ng-repeat="row in statsList"
									ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
									<tr>
										<td ng-if="row.SELECT_FLAG != '1'"><input type="checkbox"
										name="" ng-click="changeCheck($event,$index)"></td>
										<td ng-if="row.SELECT_FLAG == '1'"><input type="checkbox"
										checked="checked" name="" ng-click="changeCheck($event,$index)">
										</td>
										<td style="text-align: center;" ng-if="row.EXAM_STATS=='0'"><button class="btn btn-info"
											ng-click="setKpi(inputVO.personType,statsList,$index)">未設定</button>
										</td>
										<td style="text-align: center;" ng-if="row.EXAM_STATS=='1'"><button class="btn btn-info"
											ng-click="setKpi(inputVO.personType,statsList,$index)">已設定</button>
										</td>
										<td style="text-align: center;" ng-if="row.EXAM_STATS=='2'"><button class="btn btn-info"
											ng-disabled="true">堆疊</button>
									    </td>
										<td style="text-align: center;" ng-if="row.EXAM_STATS=='3'"><button class="btn btn-info"
											ng-click="setAddKpi(addToList,$index)">自定</button>
									    </td>
										<td style="text-align: center;" ng-if="row.EXAM_STATS=='4'"><button class="btn btn-info"
											ng-disabled="true">待上傳</button>
									    </td>
										<td style="text-align: center;" ng-if="row.EXAM_STATS=='5'"><button class="btn btn-info"
											ng-disabled="true">待开发</button>
									    </td>
										<td style="text-align: center; color: blue;">{{row.KPI_PROJECT}}</td>
										<td style="text-align: center; color: blue;">{{row.SUB_PROJECT_SEQ_ID}}</td>
										<td style="text-align: left; color: blue;">{{row.SUB_PROJECT_SEQ_NAME}}</td>
										<td style="text-align: center;" ng-if="row.STAT_FLAG=='0'">目標</td>
										<td style="text-align: center;" ng-if="row.STAT_FLAG=='1'">基期</td>
										<td style="text-align: center;"><input e-input-limit='ND' e-length-limit="4"
										style="text-align:right;" type="text" ng-model="row.UP_RATE">%</td>
										<td style="text-align: center;"><input type="text" e-input-limit='ND'
											style="text-align:right;" ng-model="row.KPI_SCORE"></td>
										<!-- <td style="text-align: center;"><input e-input-limit='ND' e-length-limit="4"
											style="text-align:right;" type="text" ng-model="row.STAT_RATE">%</td> -->
									</tr>
								</tbody>
							</table>
							<div class="search_box_btn text-center">
								<button type="button" class="btn btn-info"
									ng-click="saveChange()">儲存</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>