<style>
.datewidth{
	width:180px !important;
}
</style>
<script type="text/javascript" src="assets/txn/CRM997/CRM997.js"></script>
<script type="text/javascript" src="assets/txn/CRM997/CRM997_UPLOAD.js"></script>
<div class="CRM997" ng-controller="CRM997Controller" ng-cloak>
  <div>
    <div class="tfb_content">
      <div class="tfb_content_icon"></div>
      <div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >查詢條件</div>
    </div>
    <!--Content of the panel-->
    <div class="panel_content">
      <div class="search_table search_box">
        <table>
          <tr>
            <th>客戶ID：</th>
            <td>
              <input type="text" class="form-control" placeholder="請輸入..." ng-model="inputVO.custId" e-length-limit="20" style="width:250px">
            </td>
            <th>潛力等級：</th>
            <td>
              <e-combobox id="potential_level" name="potential_level"
              ng-datasource="mappingSet['POTENTIAL_LEVEL']"
              ng-model="inputVO.potential_level"
              ng-validate="false"
              ng-readonly="false"
              ng-editable="false"
              ng-format="F3"
              width="155px"
              style="line-height:20px;" />
            </td>
            <th>體驗等級：</th>
            <td>
              <e-combobox id="experience_level" name="experience_level"
              ng-datasource="mappingSet['EXPERIENCE_LEVEL']"
              ng-model="inputVO.experience_level"
              ng-validate="false"
              ng-readonly="false"
              ng-editable="false"
              ng-format="F3"
              width="155px"
              style="line-height:20px;" />
            </td>
          </tr>
          <tr>
            <th width = "10%">體驗開始日期：</th>
              <td width = "40%">
                <div class="input-group datebox datewidth">
                  <input type="text" class="form-control"
                uib-datepicker-popup="yyyy/MM/dd"
                ng-model="inputVO.experience_begin_date"
                is-open="model.a"
                datepicker-options="experience_sDateOptions"
                ng-readonly="true"
                ng-change="limitDate()"
                size = "13"/>
                <!-- 製作日曆button -->
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'a')">
                  <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
            </td>
            <th width = "10%">體驗結束日期：</th>
              <td width = "40%">
                <div class="input-group datebox datewidth">
                  <input type="text" class="form-control"
                uib-datepicker-popup="yyyy/MM/dd"
                ng-model="inputVO.experience_end_date"
                is-open="model.b"
                datepicker-options="experience_eDateOptions"
                ng-readonly="true"
                ng-change="limitDate()"
                size = "13"/>
                <!-- 製作日曆button -->
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event,'b')">
                  <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
              </td>
          </tr>
        </table>
      </div>
      <div class="search_box_btn">
         <div style="text-align: center;">
          <button type="button" class="btn btn-info" ng-click="inquireInit();inquire()">查詢</button>
          <button type="button" class="btn btn-info" ng-click="init();">清除</button>
          <button type="button" class="btn btn-info" ng-click="upload()">整批匯入</button>
         </div>
      </div>
    </div>
  </div>
  <!-- 結果區 -->
  <div>
    <div class="tfb_content">
      <div class="tfb_content_icon"></div>
      <div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">查詢結果</div>
    </div>
    <!--Content of the panel-->
    <div class="panel_content">
      <e-jumping-once output="outputVO" list="paramList" totallist="totalData"></e-jumping-once>
      <div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
        <table class="rstable e-table-freeze" e-left="8" e-height="500px" e-mode="1" e-top="true" e-list="totalData">
          <thead>
            <tr>
              <th>客戶ID</th>
              <th>潛力等級</th>
              <th>體驗等級</th>
              <th>體驗開始日</th>
              <th>體驗結束日</th>
              <th>建立人員及日期</th>
              <th>修改人員及日期</th>
            </tr>
          </thead>
          <tbody>
            <tr class="repeat-row" ng-repeat="row in paramList track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
              <td>{{row.CUST_ID}}</td>
              <td>{{row.POTENTIAL_LEVEL | mapping:mappingSet['POTENTIAL_LEVEL']:'F3'}}</td>
              <td>{{row.EXPERIENCE_LEVEL | mapping:mappingSet['EXPERIENCE_LEVEL']:'F3'}}</td>
              <td>{{toJsDate(row.EXPERIENCE_BEGIN_DATE) | date:"yyyy-MM-dd"}}</td>
              <td>{{toJsDate(row.EXPERIENCE_END_DATE) | date:"yyyy-MM-dd"}}</td>
              <td>{{row.CREATOR}} / {{row.CREATETIME}}</td>
              <td>{{row.MODIFIER}} / {{row.LASTUPDATE}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>