<style>
/* dialog panl */
.modal-dialog.CRM997_POTENTIAL_UPLOAD {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 750px;
  height: auto;
}
/* table size */
.CRM997_POTENTIAL_UPLOAD table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* change row */
.CRM997_POTENTIAL_UPLOAD.table>tbody>tr>td {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}
.modal-content {
  width: 700px;
  height: 300px;
}
</style>
<script type="text/javascript" src="assets/txn/CRM997/CRM997_POTENTIAL_UPLOAD.js"></script>
<div ng-controller="CRM997_POTENTIAL_UPLOADController" ng-cloak>
  <div class="modal-dialog CRM997_POTENTIAL_UPLOAD">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
        <h4 id="myModalAlertLabel" class="modal-title" align="center">潛力名單匯入</h4>
      </div>
      <div class="modal-body">
        <div style="height:25px;"></div>
        <div>
          <table>
            <tr>
              <td>
                <button type="button" class="btn btn-info" ng-click="downloadSample()">下載範例檔</button>
              </td>
              <td>
                <e-upload success="uploadFinshed(name, rname)" accept=".csv"></e-upload>
              </td>
              <td ng-show="confirm">
                <button type="button" class="btn btn-primary" ng-click="checkCSVFile()">確定</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>