<style>
.modal-dialog.PRD281_PREVIEW {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1200px;
	height: auto;
}
.table_title{
	font-size: medium;
	font-style: normal;
	
}
.gv_tab_sc th {
    white-space: nowrap;
    padding: 7px 10px;
    text-align: center;
    color: #666;
    vertical-align: bottom;
    background-color:#B9E5FB;
    border: 1px solid #fff;
}
</style>
<div ng-controller="PRD281_PREVIEWController" ng-cloak>
	<div class="modal-dialog PRD281_PREVIEW">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">價格預覽</h4>
			</div>
 			<div class="modal-body">
 			<div class="gv_tab_sc" style="white-space: nowrap;">
			<table class="rstable e-table-freeze" e-height="250px" e-mode="1" e-top="true" e-list="paramList">
				<thead>
					<tr>
						<th rowspan="2">本金幣別</th>
						<th rowspan="2" align="center">商品<br/>風險屬性</th>
						<th colspan="12">天期<br/>預估產品年化收益率(%) / 理專收益(%)</th>
					</tr>
					<tr>
						<th>1個月</th>
						<th>2個月</th>
						<th>3個月</th>
						<th>4個月</th>
						<th>5個月</th>
						<th>6個月</th>
						<th>7個月</th>
						<th>8個月</th>
						<th>9個月</th>
						<th>10個月</th>
						<th>11個月</th>
						<th>12個月</th>
					</tr>
				</thead>
				<tbody>
					<tr class="repeat-row" ng-repeat="row in paramList track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
						<td>{{row.CURR_ID | mapping:FCI_CURRENCY:'F1'}}</td>
						<td align="center">{{row.RISKCATE_ID}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_1 | number:2}} / {{row.RM_PROFEE_1 < row.MINUF1 ? "NA" : row.RM_PROFEE_1}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_2 | number:2}} / {{row.RM_PROFEE_2 < row.MINUF2 ? "NA" : row.RM_PROFEE_2}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_3 | number:2}} / {{row.RM_PROFEE_3 < row.MINUF3 ? "NA" : row.RM_PROFEE_3}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_4 | number:2}} / {{row.RM_PROFEE_4 < row.MINUF4 ? "NA" : row.RM_PROFEE_4}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_5 | number:2}} / {{row.RM_PROFEE_5 < row.MINUF5 ? "NA" : row.RM_PROFEE_5}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_6 | number:2}} / {{row.RM_PROFEE_6 < row.MINUF6 ? "NA" : row.RM_PROFEE_6}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_7 | number:2}} / {{row.RM_PROFEE_7 < row.MINUF7 ? "NA" : row.RM_PROFEE_7}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_8 | number:2}} / {{row.RM_PROFEE_8 < row.MINUF8 ? "NA" : row.RM_PROFEE_8}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_9 | number:2}} / {{row.RM_PROFEE_9 < row.MINUF9 ? "NA" : row.RM_PROFEE_9}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_10 | number:2}} / {{row.RM_PROFEE_10 < row.MINUF10 ? "NA" : row.RM_PROFEE_10}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_11 | number:2}} / {{row.RM_PROFEE_11 < row.MINUF11 ? "NA" : row.RM_PROFEE_11}}</td>
						<td align="center">{{row.PRD_PROFEE_RATE_12 | number:2}} / {{row.RM_PROFEE_12 < row.MINUF12 ? "NA" : row.RM_PROFEE_12}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')" >關閉</button>
			</div>
		</div>
	</div>
</div>