<style>
/* dialog panl */
.modal-dialog.CRM421_PRD110_ROUTE {
	width: 1300px;
	height: auto;
}
</style>
<div ng-controller="CRM421_PRD110_ROUTEController" ng-cloak>
	<div class="modal-dialog CRM421_PRD110_ROUTE">
		<div class="modal-content">	
			<div class="modal-header">
  				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title center">{{txnName}}<span ng-if="name">&nbsp;-&nbsp;{{name}}</span></h4>
			</div>
			<div class="modal-body">
				<div ng-include="routeURL"></div>
			</div>
		</div>
	</div>
</div>
				