<style>
/* scroll && height */
.tdpadding {
	padding: 10px 5px 5px 5px;
}

.alignleft {
	text-align: left !important;
}

.bigspace {
	margin-left: 50px !important;
}

.datewidth {
	width: 120px !important;
	float: left !important;
}

.search-table-outter {
	overflow-x: scroll;
}

.colwidth>thead>tr>th {
	min-width: 150px;
	white-space: nowrap;
}

.red {
	color: red;
}
</style>
<script type="text/javascript" src="assets/txn/PMS328/PMS328.js"></script>
<script type="text/javascript" src="assets/txn/PMS328/PMS328_DETAIL.js"></script>
<script type="text/javascript" src="assets/txn/PMS328U/PMS328U.js"></script>
<script type="text/javascript" src="assets/txn/PMS000/PMSRegionController.js"></script>

<div class="PMS328U" ng-controller="PMS328UController" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit">
				<img src="assets/images/icon/tfb_icon_a15.gif">查詢條件
			</div>
		</div>
		<div class="panel_content">
			<div class="search_table search_box3">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
					<table>
						<tr>
							<th>*資料月份：</th>
							<td colspan="5">
			                	<div class="form-group">
									<div class="input-group datebox datewidth">
										<input 	type="text" id="importSDate" name="importSDate"
											   	class="form-control"
												uib-datepicker-popup="yyyyMM"
												ng-model="inputVO.importSDate"
												is-open="model.e"
												datepicker-options="importStartDateOptions"
										   		datepicker-mode="'month'"
												ng-readonly="true"
												ng-change="limitDate();dateChangeU()"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="open($event,'e')">
											<i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</div>
									<div style="float: left !important;">～</div>
									<div class="input-group datebox datewidth">
										<input 	type="text" id="importEDate" name="importEDate"
											   	class="form-control"
												uib-datepicker-popup="yyyyMM"
												ng-model="inputVO.importEDate"
												is-open="model.f"
												datepicker-options="importEndDateOptions"
										   		datepicker-mode="'month'"
												ng-readonly="true"
												ng-change="limitDate()" 
												ng-disabled="inputVO.importSDate == undefined" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="open($event,'f')" ng-disabled="inputVO.importSDate == undefined" ng-readonly="inputVO.importSDate == undefined">
											<i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>業務處：</th>
							<td>
								<e-combobox id="region_center_id" name="region_center_id"
											ng-datasource="uhrmRCList"
											ng-model="inputVO.uhrmRC"
											ng-validate="false" 
											ng-disabled="true"
											ng-readonly="true" 
											ng-editable="false"
											ng-format="F1"
											ng-required="true"
											style="line-height:20px;" />
							</td>
							<th>營運區：</th>
							<td>
								<e-combobox id="branch_area_id" name="branch_area_id"
											ng-datasource="uhrmOPList"
											ng-model="inputVO.uhrmOP"
											ng-validate="false" 
											ng-disabled="true"
											ng-readonly="true" 
											ng-editable="false"
											ng-format="F1"
											ng-required="true"
											style="line-height:20px;" />
							</td>
							<th>員編：</th>
						  	<td>
								<e-combobox id="emp_id" name="emp_id"
											ng-datasource="mappingSet['EmpName']"
											ng-model="inputVO.emp_id"
											ng-validate="false"
											ng-readonly="disableEmpCombo" 
											ng-editable="false"
											ng-format="F1"
											ng-required="true"
											ng-disabled="disableEmpCombo"
											width="200px"
											style="line-height:20px;" />
							</td> 
						</tr>
					</table>
				</form>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="inquireU()">查詢</button>
				<button type="button" class="btn btn-info" ng-click="init();initPMS_U();">清除</button>
				<button type="button" class="btn btn-info" ng-click="export()" ng-disabled="paramList2.length < 1">匯出</button>
			</div>
		</div>
	</div>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit">
				<img src="assets/images/icon/tfb_icon_a15.gif">查詢結果
			</div>
		</div>
		<div class="panel_content">
			<e-jumping output="outputVO" input="inputVO" query="inquireU()" list="paramList2" rowCountLimit="20"></e-jumping>
			<div align="left">
				<div algin="left">
					<table>
						<tr>
							<td>產出頻率：</td>
							<td>每月</td>
						</tr>
						<tr>
							<td>產出日：</td>
							<td>{{curDate | date:'yyyy/MM'}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="gv_tab_sc scroll_y" style="width: 100%; white-space: nowrap; align: right;">
				<table class="e-table-freeze" e-height="500px" e-mode="1" e-top="true" e-list="paramList2">
					<thead>
						<tr rowspan="2">
							<th rowspan="2">業務處</th>
							<th rowspan="2">營運區</th>
							<th rowspan="2">分行</th>
							<th rowspan="2">AOCode</th>
							<th rowspan="2">資料年月</th>
							<th rowspan="2">總客戶數</th>
							<th rowspan="1" colspan="5" ng-show="s_time < '2024/08'">客戶群權益等級</th>
							<th rowspan="1" colspan="6" ng-hide="s_time < '2024/08'">客戶群權益等級</th>
							<th rowspan="1" colspan="7">EIP客戶</th>
							<th rowspan="1" colspan="5">投保客戶</th>
							<th rowspan="1" colspan="3">客戶類型</th>
						</tr>
						<tr>
							<th>{{s_time < '2024/08' ? '私人' : '恆富'}}</th>
							<th>{{s_time < '2024/08' ? '白金' : '智富'}}</th>
							<th>{{s_time < '2024/08' ? '個人' : '穩富'}}</th>
							<th>{{s_time < '2024/08' ? 'MASS' : '一般存戶-跨優'}}</th>
							<th ng-hide="s_time < '2024/08'">MASS</th>
							<th>合計</th>
							<th>E</th>
							<th>I</th>
							<th>P</th>
							<th>O</th>
							<th>S</th>
							<th>MASS</th>
							<th>合計</th>
							<th>投資和保險</th>
							<th>無投資和無保險</th>
							<th>投資</th>
							<th>保險</th>
							<th>合計</th>
							<th>自然人</th>
							<th>法人</th>
							<th>合計</th>
						</tr>
						<tr>
						</tr>
					</thead>
					<tbody>
					<tr class="repeat-row" align="center" ng-repeat="row in paramList2 track by $index | limitTo:displayLimit" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
						<td align="center" ng-show="row.AO_CODE != 'ZZZZZREGION'">{{row.REGION_CENTER_NAME}}</td>
						<td align="center" ng-show="row.AO_CODE == 'ZZZZZREGION'">{{row.REGION_CENTER_NAME}} 合計</td>
						<td align="center" ng-show="row.AO_CODE != 'ZZZZZAREA'">{{row.BRANCH_AREA_NAME}}</td>
						<td  align="center" ng-show="row.AO_CODE == 'ZZZZZAREA'">{{row.BRANCH_AREA_NAME}} 合計</td>
						<td align="center" ng-show="row.AO_CODE != 'ZZZZZBRANCH'">{{row.BRANCH_NAME}}</td>
						<td align="center" ng-show="row.AO_CODE == 'ZZZZZBRANCH'">{{row.BRANCH_NAME}} 合計</td>
						<td ng-hide="row.AO_CODE == 'ZZZZZREGION' || row.AO_CODE == 'ZZZZZAREA' || row.AO_CODE == 'ZZZZZBRANCH' || row.AO_CODE == 'ZZZZZ'">{{row.AO_CODE}}{{row.AO_TYPE | mapping:mappingSet['AO_TYPE']:'F3'}}-{{row.EMP_NAME}}</PS></td>
						<td ng-hide="row.AO_CODE == 'ZZZZZREGION' || row.AO_CODE == 'ZZZZZAREA' || row.AO_CODE == 'ZZZZZBRANCH' || row.AO_CODE == 'ZZZZZ'">{{row.YM}}</td>
						<td ng-show="row.AO_CODE == 'ZZZZZREGION' || row.AO_CODE == 'ZZZZZAREA' || row.AO_CODE == 'ZZZZZBRANCH' || row.AO_CODE == 'ZZZZZ'"></td>
						<td ng-show="row.AO_CODE == 'ZZZZZREGION' || row.AO_CODE == 'ZZZZZAREA' || row.AO_CODE == 'ZZZZZBRANCH' || row.AO_CODE == 'ZZZZZ'"></td>
						<td align="right">{{0 + row.TOTAL | currency:'':0}}</td>
						<td align="right">{{0 + row.CGPR_PRIVATE | currency:'':0}}</td>
						<td align="right">{{0 + row.CGPR_PLATINUM | currency:'':0}}</td>
						<td align="right">{{0 + row.CGPR_PERSON | currency:'':0}}</td>
						<td align="right">{{0 + row.CGPR_MASS   | currency:'':0}}</td>
						<td ng-hide="s_time < '2024/08'">
							{{0 + row.CGPR_SUM - row.CGPR_PRIVATE - row.CGPR_PLATINUM - row.CGPR_PERSON - row.CGPR_MASS | currency:'':0}}
						</td>
						<td ng-hide="s_time >= '2024/08'">
							{{0 | currency:'':0}}
						</td>
						<td align="right">{{0 + row.CGPR_SUM | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_E | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_I | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_P | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_O | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_S | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_Z | currency:'':0}}</td>
						<td align="right">{{0 + row.EIP_SUM | currency:'':0}}</td>
						<td align="right">{{0 + row.II_INV_INS | currency:'':0}}</td>
						<td align="right">{{0 + row.II_NON | currency:'':0}}</td>
						<td align="right">{{0 + row.II_INV | currency:'':0}}</td>
						<td align="right">{{0 + row.II_INS | currency:'':0}}</td>
						<td align="right">{{0 + row.II_SUM | currency:'':0}}</td>
						<td align="right">{{0 + row.CUST_TYPE_PERSON | currency:'':0}}</td>
						<td align="right">{{0 + row.CUST_TYPE_CORPOR | currency:'':0}}</td>
						<td align="right">{{0 + row.CUST_TYPE_SUM | currency:'':0}}</td>
					</tr>
<!-- 						<tr ng-repeat-start="(a, dataA) in paramList2 | groupBy: 'REGION_CENTER_NAME' as resultA"> -->
<!-- 							<td rowspan="{{(dataA.length + numGroups(resultB)) * 2 + 1}}" ng-show="cp != tp && !(a.indexOf('合計') > -1)">1/{{a}}</td> -->
<!-- 							<td rowspan="{{dataA.length + numGroups(resultB) * 2 + 2 + (numGroupsA(paramList2) > 1 ? 1 : 0 ) + (numGroupsA(paramList2) < 1 ? -1 : 0 )}} " ng-show="cp == tp && !(a.indexOf('合計') > -1)">2/{{a}}</td> -->
<!-- 							<td rowspan="{{dataA.length + numGroups(resultB) * 2 + 2 + (numGroupsA(paramList2) > 1 ? 1 : 0 ) + (numGroupsA(paramList2) < 1 ? -1 : 0 )}} " align="center" colspan="5" ng-show="(a.indexOf('合計') > -1)">3/{{a}}</td> -->
<!-- 						</tr> -->
<!-- 						<tr ng-repeat-start="(b, dataB) in dataA | groupBy: 'BRANCH_AREA_NAME' as resultB"> -->
<!-- 							<td rowspan="{{dataB.length + numGroups(resultC) * 2 + 1}}" ng-show="b != 'REGION' && b != 'ALL' && cp != tp">{{dataB.length + numGroups(resultC) * 2 + 1}}/{{b}}</td> -->
<!-- 							<td rowspan="{{dataB.length + numGroups(resultC) * 2 + (numGroups(resultC) > 2 ? 0 : 1) }}" ng-show="b != 'REGION' && b != 'ALL' && cp == tp">{{dataB.length + numGroups(resultC) * 2 + (numGroups(resultC) > 2 ? 0 : 1) }}/{{b}}</td> -->
<!-- 						</tr> -->
<!-- 						<tr ng-repeat-start="(c, dataC) in dataB | groupBy: 'BRANCH_NAME' as resultC"> -->
<!-- 							<td rowspan="{{dataC.length + 1}}" ng-hide="c == 'REGION' || c == 'AREA' || c == 'ALL'">{{c}}</td> -->
<!-- 						</tr> -->
<!-- 						<tr ng-repeat="c1 in dataC"> -->
<!-- 							<td colspan="4" align="center" ng-show="c1.AO_CODE == 'ZZZZZREGION'">1234/{{c1.REGION_CENTER_NAME}} 合計</td> -->
<!-- 							<td colspan="3" align="center" ng-show="c1.AO_CODE == 'ZZZZZAREA'">{{c1.BRANCH_AREA_NAME}} 合計</td> -->
<!-- 							<td colspan="2" align="center" ng-show="c1.AO_CODE == 'ZZZZZBRANCH'">{{c1.BRANCH_NAME}} 合計</td> -->
<!-- 							<td ng-hide="c1.AO_CODE == 'ZZZZZREGION' || c1.AO_CODE == 'ZZZZZAREA' || c1.AO_CODE == 'ZZZZZBRANCH' || c1.AO_CODE == 'ZZZZZ'">{{c1.AO_CODE}}{{c1.AO_TYPE | mapping:mappingSet['AO_TYPE']:'F3'}}-{{c1.EMP_NAME}}</PS></td> -->
<!-- 							<td ng-hide="c1.AO_CODE == 'ZZZZZREGION' || c1.AO_CODE == 'ZZZZZAREA' || c1.AO_CODE == 'ZZZZZBRANCH' || c1.AO_CODE == 'ZZZZZ'">{{c1.YM}}</td> -->
<!-- 							<td align="right">{{0 + c1.TOTAL | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CGPR_PRIVATE | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CGPR_PLATINUM | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CGPR_PERSON | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CGPR_MASS   | currency:'':0}}</td> -->
<!-- 							<td ng-hide="s_time < '2024/08'"> -->
<!-- 								{{0 + c1.CGPR_SUM - c1.CGPR_PRIVATE - c1.CGPR_PLATINUM - c1.CGPR_PERSON-c1.CGPR_MASS | currency:'':0}} -->
<!-- 							</td> -->
<!-- 							<td ng-hide="s_time >= '2024/08'"> -->
<!-- 								{{0 | currency:'':0}} -->
<!-- 							</td> -->
<!-- 							<td align="right">{{0 + c1.CGPR_SUM | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_E | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_I | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_P | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_O | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_S | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_Z | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.EIP_SUM | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.II_INV_INS | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.II_NON | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.II_INV | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.II_INS | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.II_SUM | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CUST_TYPE_PERSON | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CUST_TYPE_CORPOR | currency:'':0}}</td> -->
<!-- 							<td align="right">{{0 + c1.CUST_TYPE_SUM | currency:'':0}}</td> -->
<!-- 						</tr> -->
<!-- 						<tr ng-repeat-end ng-hide="true"> -->
<!-- 						<tr ng-repeat-end ng-hide="true"> -->
<!-- 						<tr ng-repeat-end ng-hide="true"> -->
					</tbody>
				</table>
			</div>
			<div>
				<table>
					<tr>
						<td>說明：EIP客戶數依客戶前一年度與近一年度貢獻度等級折優計算</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>