<style>
.modal-dialog.PRD280_CALENDAR {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
.bigspace{
	margin-left: 20px !important;
}
</style>
<script type="text/javascript" src="assets/txn/PRD280/PRD280_CALENDAR.js"></script>
<script type="text/javascript" src="assets/txn/PRD280/PRD280_INV_UPLOAD.js"></script>
<script type="text/javascript" src="assets/txn/PRD280/PRD280_REST_UPLOAD.js"></script>
<script type="text/javascript" src="assets/txn/PRD280/PRD280_DIVIDEND_UPLOAD.js"></script>
<script type="text/javascript" src="assets/txn/PRD280/PRD280_MATURITY_UPLOAD.js"></script>
<div class="PRD280" ng-controller="PRD280_CALENDARController" ng-cloak>
	<!-- 募集-->
	<h4 class="h4-title"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> 募集</h4>
	<div class="search_table search_box3">
		<table>
			<tr>
				<td colspan="2">
					<div style="float: left">
						<button type="button" class="btn btn-info" ng-click="uploadINV()" function-type="export">整批上傳</button>
						<span class="bigspace"></span>
						<button type="button" class="btn btn-info" ng-click="downloadSample_inv()" function-type="export">下載範例CSV</button>
					</div>
					<div style="clear: both;"></div>
				</td>
			</tr>
		</table>
	</div>
	<hr/>
	<!-- 休市 -->
	<h4 class="h4-title"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> 休市</h4>
	<div class="search_table search_box3">
		<table>
			<tr>
				<td colspan="2">
					<div style="float: left">
						<button type="button" class="btn btn-info" ng-click="uploadREST()" function-type="export">整批上傳</button>
						<span class="bigspace"></span>
						<button type="button" class="btn btn-info" ng-click="downloadSample_rest()" function-type="export">下載範例CSV</button>
					</div>
					<div style="clear: both;"></div>
				</td>
			</tr>
		</table>
	</div>	
	<hr/>		
	<!-- 配息 -->
	<h4 class="h4-title"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> 配息</h4>
	<div class="search_table search_box3">
		<table>
			<tr>
				<td colspan="2">
					<div style="float: left">
						<button type="button" class="btn btn-info" ng-click="uploadDIVIDEND()" function-type="export">整批上傳</button>
						<span class="bigspace"></span>
						<button type="button" class="btn btn-info" ng-click="downloadSample_dividend()" function-type="export">下載範例CSV</button>
					</div>
					<div style="clear: both;"></div>
				</td>
			</tr>
		</table>
	</div>	
	<hr/>	
	<!-- 到期 -->
	<h4 class="h4-title"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 到期</h4>
	<div class="search_table search_box3">
		<table>
			<tr>
				<td colspan="2">
					<div style="float: left">
						<button type="button" class="btn btn-info" ng-click="uploadMATURITY()" function-type="export">整批上傳</button>
						<span class="bigspace"></span>
						<button type="button" class="btn btn-info" ng-click="downloadSample_maturity()" function-type="export">下載範例CSV</button>
					</div>
					<div style="clear: both;"></div>
				</td>
			</tr>
		</table>
	</div>			
</div>