<div>
	<div class=" nav-tabs-content"> 
     		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
					<uib-tabset active="0" justified="true">
						<uib-tab index="0" style="width:180px" heading="日">
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<thead>
										<tr>
											<th width='20%'>公告日期</th>
											<th width='30%'>單位</th>
											<th width='50%'>主旨</th>
		                            	</tr>
									</thead>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM163_1 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td style="text-align: center;">{{toJsDate(row.S_DATE) | date:"yyyy-MM-dd"}}</td>
											<td style="text-align: center;">{{row.ORGN ? row.ORGN : '總行人員' | mapping:branchsDesc:'F3'}}</td>
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab> 
						<uib-tab index="1" style="width:180px" heading="週">
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<thead>
										<tr>
											<th>公告日期</th>
											<th>單位</th>
											<th>主旨</th>
		                            	</tr>
									</thead>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM163_2 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td style="text-align: center;">{{toJsDate(row.S_DATE) | date:"yyyy-MM-dd"}}</td>
											<td style="text-align: center;">{{row.ORGN ? row.ORGN : '總行人員' | mapping:branchsDesc:'F3'}}</td>
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
						<uib-tab index="2" style="width:180px" heading="月">
							<div class="gv_tab_sc scroll_y" style="height:190px;white-space: nowrap;">
								<table>
									<thead>
										<tr>
											<th>公告日期</th>
											<th>單位</th>
											<th>主旨</th>
		                            	</tr>
									</thead>
									<tbody>
										<tr class="repeat-row" ng-repeat="row in resultList_CRM163_3 | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
											<td style="text-align: center;">{{toJsDate(row.S_DATE) | date:"yyyy-MM-dd"}}</td>
											<td style="text-align: center;">{{row.ORGN ? row.ORGN : '總行人員' | mapping:branchsDesc:'F3'}}</td>
											<td><a onclick="return false" ng-click="detail(row)">{{row.SUBJECT}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</uib-tab>
					</uib-tabset>
           		</div>
         		</div>
      	 	</div>
  		</div> 
</div>