<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body" >{{data.text}}
	<div ng-if="data.text1" ng-bind-html="data.text1"></div>
	<div ng-if="data.text2" ng-bind-html="data.text2"></div>
	<div ng-if="data.text3" ng-bind-html="data.text3"></div>
	<div ng-if="data.text4" ng-bind-html="data.text4"></div>
	<div ng-if="data.text5" ng-bind-html="data.text5"></div>
	<div ng-if="data.text6" ng-bind-html="data.text6"></div>
	<div ng-if="data.text7" ng-bind-html="data.text7"></div>
	<div ng-if="data.text8" ng-bind-html="data.text8"></div>
	<div ng-if="data.text9" ng-bind-html="data.text9"></div>
	<div ng-if="data.text10" ng-bind-html="data.text10"></div>
	<div ng-if="data.text11" ng-bind-html="data.text11"></div>
	<div ng-if="data.text12" ng-bind-html="data.text12"></div>
	<div ng-if="data.text13" ng-bind-html="data.text13" style= "color:red"></div>
	<div ng-if="data.text14" ng-bind-html="data.text14"></div>
	<div ng-if="data.text15" ng-bind-html="data.text15"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
	<button class="btn btn-default" ng-click="cancel()" ng-show="!data.hideCancel">{{data.cancel}}</button>
</div>