
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:180px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:85px;
  width:180px;
  height:300px;
  overflow:hidden;
}
#u3 {
  position:absolute;
  left:20px;
  top:45px;
  width:180px;
  height:22px;
}
#u4 {
  position:absolute;
  left:20px;
  top:395px;
  width:180px;
  height:22px;
}
#u5 {
  position:absolute;
  left:228px;
  top:20px;
  width:742px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:228px;
  top:85px;
  width:637px;
  height:280px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
  text-align:center;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:158px;
  top:0px;
  width:158px;
  height:30px;
  text-align:center;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:316px;
  top:0px;
  width:158px;
  height:30px;
  text-align:center;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:474px;
  top:0px;
  width:158px;
  height:30px;
  text-align:center;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:30px;
  width:158px;
  height:30px;
  text-align:center;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:158px;
  top:30px;
  width:158px;
  height:30px;
  text-align:center;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:316px;
  top:30px;
  width:158px;
  height:30px;
  text-align:center;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:474px;
  top:30px;
  width:158px;
  height:30px;
  text-align:center;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:60px;
  width:158px;
  height:30px;
  text-align:center;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:158px;
  top:60px;
  width:158px;
  height:30px;
  text-align:center;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:316px;
  top:60px;
  width:158px;
  height:30px;
  text-align:center;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:474px;
  top:60px;
  width:158px;
  height:30px;
  text-align:center;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:860px;
  top:90px;
  width:80px;
  height:15px;
  text-align:right;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:860px;
  top:125px;
  width:80px;
  height:15px;
  text-align:right;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:860px;
  top:160px;
  width:80px;
  height:15px;
  text-align:right;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:970px;
  top:85px;
  width:140px;
  height:25px;
}
#u39 {
  position:absolute;
  left:970px;
  top:120px;
  width:140px;
  height:25px;
}
#u40 {
  position:absolute;
  left:970px;
  top:170px;
  width:140px;
  height:260px;
}
#u40_input {
  width:100%;
  height:100%;
}
#u42 {
  position:absolute;
  left:920px;
  top:220px;
  width:40px;
  height:25px;
}
#u43 {
  position:absolute;
  left:228px;
  top:375px;
  width:632px;
/*   height:60px; */
  overflow:hidden;
}
