<style>
/* dialog panl */
.modal-dialog.MGM310_GIFT {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: auto;
}

</style>
<script type="text/javascript" src="assets/txn/MGM310/MGM310_GIFT.js"></script>
<div ng-controller="MGM310_GIFTController" ng-cloak>
	<div class="modal-dialog MGM310_GIFT">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">禮贈品新增</h4>
			</div>
			<div class="modal-body">
		    	<!--Content of the panel-->
	            <div class="search_table">
	                <table>
	                    <tr>
	                        <th width="10%"><span style="color: red">*</span>贈品代碼：</th>
	                        <td width="40%">
	                            <input type="text" class="form-control" 
				     				id="gift_seq" name="gift_seq" 
	                            	placeholder="請輸入..." 
				     				ng-model="inputVO.gift_seq" 
				     				ng-blur="checkGiftSeq()"
				     				ng-disabled="giftSeqCtrl"
				     				e-length-limit="300"
				     				style="width:100% ">
	                        </td>
	                    </tr>
	                    <tr>
	                        <th><span style="color: red">*</span>贈品簡介：</th>
		     				<td>
								<textarea  class="form-control"
									name="gift_introduction" id="gift_introduction"
									placeholder="請輸入..." 
									ng-model="inputVO.gift_introduction" 
									maxlength="250" 
									style="width: 100%; height: 200px;"></textarea>
		     				</td>
	                    </tr>
	                    <tr>
	                    	<th><span style="color: red">*</span>贈品名稱：</th>
		     				<td>
		     					<input type="text"  class="form-control"
		     						placeholder="請輸入..." 
				     				id="gift_name" name="gift_name" 
				     				ng-model="inputVO.gift_name" 
				     				e-length-limit="300"
				     				style="width:100% ">
		     				</td>
	                    </tr>
	                    <tr>
							<th><span style="color: red">*</span>贈品性質：</th>
							<td>
								<e-combobox id="gift_kind" name="gift_kind" 
	                            	ng-datasource="mappingSet['MGM.GIFT_KIND']"
	                            	ng-model="inputVO.gift_kind" 
	                            	ng-validate="false" 
	                            	ng-readonly="false" 
	                            	ng-editable="false" 
	                            	ng-format="F1" 
	                            	ng-required="true" 
	                            	width="100%" height="30px" 
	                            	style="line-height:20px;" />
							</td>
						</tr>
<!-- 						<tr></tr> -->
<!-- 						<tr> -->
<!-- 							<th><span style="color: red">*</span>領用方式：</th> -->
<!-- 							<td> -->
<!-- 								<e-combobox id="gift_get_way" name="gift_get_way"  -->
<!-- 	                            	ng-datasource="mappingSet['MGM.GIFT_GET_WAY']" -->
<!-- 	                            	ng-model="inputVO.gift_get_way"  -->
<!-- 	                            	ng-validate="false"  -->
<!-- 	                            	ng-readonly="false"  -->
<!-- 	                            	ng-editable="false"  -->
<!-- 	                            	ng-format="F1"  -->
<!-- 	                            	ng-required="true"  -->
<!-- 	                            	width="100%" height="30px"  -->
<!-- 	                            	style="line-height:20px;" /> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr></tr> -->
<!-- 						<tr> -->
<!-- 							<th><span style="color: red">*</span>贈品廠商統編：</th> -->
<!-- 							<td> -->
<!-- 								<input type="text"  class="form-control" -->
<!-- 				     				id="supplier_ein" name="supplier_ein"  -->
<!-- 									placeholder="請輸入..."  -->
<!-- 				     				ng-model="inputVO.supplier_ein"  -->
<!-- 				     				e-length-limit="300" -->
<!-- 				     				style="width:100% "> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr></tr> -->
<!-- 						<tr> -->
<!-- 							<th><span style="color: red">*</span>贈品廠商名稱：</th> -->
<!-- 							<td> -->
<!-- 								<input type="text"  class="form-control" -->
<!-- 				     				id="supplier_name" name="supplier_name"  -->
<!-- 									placeholder="請輸入..."  -->
<!-- 				     				ng-model="inputVO.supplier_name"  -->
<!-- 				     				e-length-limit="300" -->
<!-- 				     				style="width:100% "> -->
<!-- 							</td> -->
<!-- 						</tr> -->
						<tr></tr>
						<tr>
							<th><span style="color: red">*</span>贈品成本：</th>
							<td>
								<input type="text" class="form-control" 
									placeholder="請輸入..." 
									id="gift_costs" name="gift_costs" 
									style="width:100%; display:inline;" 
									e-input-limit="NUU" nuu1="8" nuu2="0" 
									ng-model="inputVO.gift_costs">
							</td>
						</tr>
						<tr></tr>
						<tr>
							<th><span style="color: red">*</span>贈品總數量：</th>
							<td>
								<input type="text" class="form-control" 
									id="gift_amount" name="gift_amount" 
									placeholder="請輸入..." 
									style="width:100%; display:inline;" 
									e-input-limit="NUU" nuu1="8" nuu2="0" 
									ng-model="inputVO.gift_amount">
							</td>
						</tr>
						<tr></tr>
						<tr>
							<th>贈品圖片上傳：</th>
							<td>
								<e-upload success="uploadFinshed(name,rname)" model="inputVO.gift_photo" ></e-upload>
								<a href="#" ng-show="gift_photo_name" ng-click="getImgView()">{{gift_photo_name}}</a>
							</td>
						</tr>
	                </table>
	            </div>
            </div>
            <div class="search_box_btn text-center">
            	<button type="button" class="btn btn-info" 
            		ng-click="save()"
            		ng-disabled="inputVO.gift_seq == '' ||
            		inputVO.gift_introduction == '' ||
            		inputVO.gift_name == '' ||
            		inputVO.gift_kind == '' ||
            		inputVO.gift_costs == '' ||
            		inputVO.gift_amount == ''">儲存</button>
            	<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')">取消</button>
            </div>
		</div>
	</div>
</div>