<style>
.rstable thead tr th {
	vertical-align:middle;
}
.rstable tbody tr td {
	text-align:center;
}
</style>
<script type="text/javascript" src="assets/txn/ORG231/ORG231.js"></script>
<div ng-controller="ORG231Controller" ng-cloak>
	<div class="tfb_content">
   		<div class="tfb_content_icon"></div>
   		<div class="tfb_content_tit"> <img src="assets/images/icon/tfb_icon_a15.gif" >查詢結果</div>
	</div>
	<div class="panel_content">
		<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
			<table class="rstable">
				<thead>
					<tr>
						<th>功能</th>
						<th>RM1</br>員額數</th>
						<th>RM2</br>員額數</th>
						<th>SRM</br>員額數</th>
						<th>最後修改人</th>
						<th>最後修改時間</th>
					</tr>
				</thead>
				<tbody>
					<tr class="repeat-row" >
						<td class='text-center'>
							<button type="button" class="btn btn-success" ng-click="save()">
								<span class="glyphicon glyphicon-floppy-disk"></span>儲存
							</button>
						</td>
						<td class='text-center'><input class="form-control" type="text" placeholder="請輸入..." id="RM1_CNT" name="RM1_CNT" e-input-limit="ND" ng-model="inputVO.RM1_CNT" e-length-limit="60"></td>
						<td class='text-center'><input class="form-control" type="text" placeholder="請輸入..." id="RM2_CNT" name="RM2_CNT" e-input-limit="ND" ng-model="inputVO.RM2_CNT" e-length-limit="60"></td>
						<td class='text-center'><input class="form-control" type="text" placeholder="請輸入..." id="SRM_CNT" name="SRM_CNT" e-input-limit="ND" ng-model="inputVO.SRM_CNT" e-length-limit="60"></td>
						<td class='text-center'>{{inputVO.MODIFIER}}</td>
						<td class='text-center'>{{toJsDate(inputVO.LASTUPDATE) | date:"yyyy/MM/dd HH:mm:ss"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
