<style>
.search_box TH {
	line-height: 20px;
	padding: 10px;
	text-align: right;
}

.search_box TH+TD {
	line-height: 20px;
	padding: 10px;
}

.ngdialog.PMS306MT {
	
}
/* dialog panl */
.modal-dialog.PMS306MT {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	width: 900px;
	height: auto;
}
</style>
<script type="text/javascript" src="assets/txn/PMS306/PMS306MT.js"></script>

<div ng-controller="PMS306MTController" ng-cloak>


	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit">
			<img src="assets/images/icon/tfb_icon_a15.gif">查詢條件
		</div>
	</div>

	<div class="panel_content">

		<div class="search_table search_box3 scroll_y">
			<table>
				<tr>
					<td><div style="float: left">月目標：</div>
						<div style="float: left">
							&nbsp
							<e-combobox ng-datasource="mappingSet['timeE']"
								ng-model="inputVO.YEARS" ng-validate="false" ng-readonly="false"
								ng-editable="false" ng-format="F3" ng-required="false"
								width="150px" height="30px" ng-change="chnum()"
								style="line-height:20px;" />
						</div>
						<div style="float: left">
							&nbsp
							<button type="button" class="btn btn-info" ng-click="queryMoth()">查詢</button>
							&nbsp
							<button type="button" class="btn btn-info" ng-click="init()">清除</button>
							&nbsp
							<button type="button" class="btn btn-info" ng-click="exportRPT()"
								ng-disabled="mothlist.length < 1">匯出</button>
						</div>
						
						<div style="float: left">&nbsp上傳月目標：</div>
						<div style="float: left">
							&nbsp<span id="csvBox"
								style="display: inline-block; vertical-align: middle;"> <e-upload
									id="csvUpload" success="upload(name,rname)" text="上傳"
									accept=".csv"></e-upload>

							</span>
						</div>
						</td>
				</tr>
			</table>
		</div>

	</div>
	<div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit">
			<img src="assets/images/icon/tfb_icon_a15.gif">查詢結果
		</div>
	</div>
	<div class="panel_content">
		<e-jumping output="outputVO" input="inputVO" query="queryMoth()"
			list="mothlist"></e-jumping>
		<div algin="left">
			<table>
				<tr>
					<td>產出頻率：</td>
					<td>每日</td>
				</tr>
				<tr>
					<td>產出日：</td>
					<td>{{toJsDate(paramList[0].CDATE) | date:'yyyy/MM/dd'}}</td>
				</tr>
			</table>
		</div>
		<div class="gv_tab_sc scroll_y" data-height="460">
			<table class="tablesaw table table-striped table-bordered rstable">
				<thead>
					<tr>
						<th>目標年月</th>

						<th>業務處</th>

						<th>營運區</th>
						<th>分行代號</th>
						<th>營業單位</th>
						<th>組別</th>
						<th>躉繳保費目標</th>
						<th>躉繳手收目標</th>
						<th>短年繳保費目標</th>
						<th>短年繳手收目標</th>
						<th>長年繳保費目標</th>
						<th>長年繳手收目標</th>
						<th>投資型保費目標</th>
						<th>投資型手收目標</th>
					</tr>
				</thead>
				<tbody>
					<tr class="repeat-row"
						ng-repeat="row in mothlist | limitTo:displayLimit track by $index"
						ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
						<td>{{row.YEARMON}}</td>
						<td>{{row.REGION_CENTER_NAME}}</td>
						<td>{{row.BRANCH_AREA_NAME}}</td>
						<td>{{row.BRANCH_NBR}}</td>
						<td>{{row.BRANCH_NAME}}</td>
						<td>{{row.BRANCH_CLS}}</td>
						<td align="right">{{0+row.OT_TAR_AMT | currency:''}}</td>
						<td align="right">{{0+row.OT_TAR_FEE | currency:''}}</td>
						<td align="right">{{0+row.SY_TAR_AMT | currency:''}}</td>
						<td align="right">{{0+row.SY_TAR_FEE | currency:''}}</td>
						<td align="right">{{0+row.LY_TAR_AMT | currency:''}}</td>
						<td align="right">{{0+row.LY_TAR_FEE | currency:''}}</td>
						<td align="right">{{0+row.IV_TAR_AMT | currency:''}}</td>
						<td align="right">{{0+row.IV_TAR_FEE | currency:''}}</td>
					</tr>
				</tbody>
			</table>
		</div>
			<div algin="left">
					<table>

						<tr>
							<td align="right">說明：</td>
							<td align="left"></td>
						</tr>
					</table>
				</div>
	</div>

</div>
