<style>
	/* 奇偶數行用不同顏色作區隔 */
	.myTable tr:nth-child(even) {background: #DDD}	/* 偶數行 */
	.myTable tr:nth-child(odd) {background: #FFF}	/* 奇數行 */
</style>
<script type="text/javascript" src="assets/txn/MPL110/MPL110_AUM.js"></script>
<div ng-controller="MPL110_AUMController" ng-cloak>
	<div class="modal-body gv_tab_sc myTable">
		<h3 align="center">{{inputVO.showName}} – {{inputVO.infoName}}</h3>
		<p style="float: right;">單位：百萬元</p>
		<table class="table-bordered td_center myTable">
			<thead>
				<tr>
					<th></th>
					<th>有理專</th>
					<th>無理專</th>						
					<th>合計</th>						
				</tr>
			</thead>
			<tbody>
				<tr class="repeat-row" ng-repeat="row in resultList">
					<td style="text-align: left;">{{row.LEFT_TITLE}}</td>
					<td style="text-align: right;">{{(row.AO_WO_Y/1000000) | number:0}}</td>
					<td style="text-align: right;">{{(row.AO_WO_N/1000000) | number:0}}</td>
					<td style="text-align: right;">{{((row.AO_WO_Y + row.AO_WO_N)/1000000) | number:0}}</td>
				</tr>
			</tbody>
		</table>
		</br>
		<span>資訊日期：{{dataDate}}</span>
		</br></br>
		<div class="search_box_btn text-center">
			<button type="button" class="btn btn-info" ng-click="backMainList()">回轄下分行清單</button>
			<button type="button" class="btn btn-info" ng-click="backMenuList()">回分行資訊查詢</button>
		</div>
	</div>	
</div>
					
					
					
					
					
					