<style>
.modal-dialog.IOT420_ASSIGN {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 700px;
	height: auto;
}

.row {
	margin: 1%;
}
</style>
<script type="text/javascript" src="assets/txn/IOT420/IOT420_ASSIGN.js"></script>
<div ng-controller="IOT420_ASSIGNController" ng-cloak>
	<div class="modal-dialog IOT420_ASSIGN">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">派件</h4>
			</div>
			<div class="modal-body">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
					<div class="row">
						<div class="col-md-2">電訪人員</div>
						<div>
							<e-combobox id="call_person" name="call_person"
								ng-datasource="mappingSet['CALL_PERSON']" 
								ng-model="inputVO.call_person" 
								ng-validate="false" 
								ng-readonly="false" 
								ng-editable="false"
								ng-format="F1" 
								ng-required="false" 
								style="line-height:20px; width:500px"/>
						</div>
					</div>
				</form>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-primary" ng-click="assign()">確認</button>
					<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>