<div ng-controller="PRD252_UPLOADController" ng-cloak>
	<div class="modal-dialog PRD252_UPLOAD">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">上傳PDF</h4>
			</div>
			<div class="modal-body">
				<!--<a onclick="return false" ng-click="downloadSimple()">(下載範例檔案)</a>-->
				<h4>* 檔名須為海外債商品代碼</h4>
				<e-upload success="uploadFinshed(name,rname)"></e-upload>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!ispdf ">確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
			</div>
		</div>
	</div>
</div>