<div ng-controller="PRD252_EDITController" ng-cloak>
	<div class="modal-dialog PRD252">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">編輯風險預告書</h4>
			</div>
			<div class="modal-body" align="center">
					<table>
						<tr>
							<th class="col-md-3">商品代碼：</th>
							<td class="col-md-7 tdpadding"><input type="text" class="form-control" ng-model="inputVO.prdId" disabled></td>
						</tr>
						<tr>
							<th class="col-md-3">商品名稱：</th>
							<td class="col-md-7 tdpadding"><input type="text" class="form-control" ng-model="inputVO.bondName" disabled></td>
						</tr>
						<tr>
							<th class="col-md-3">檔案上傳:</th>
							<td class="col-md-7 tdpadding">
								<e-upload success="uploadFinshed(name,rname)"></e-upload>
							</td>
						</tr>
						<tr>
							<th class="col-md-3"></th>
							<td class="col-md-7 help-block with-errors">* 檔名須為海外債商品代碼</td>
						<tr>
					</table>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()" function-type="maintenance" ng-disabled="!ispdf">確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
			</div>
		</div>
	</div>
</div>