<<style>
<!--
input:required:invalid{
	border-color: red;

}
-->
</style>
<script type="text/javascript" src="assets/txn/KYC212/KYC212.js"></script>
<div ng-controller="KYC212Controller" ng-cloak>
    <div class="modal-dialog" style="width: 700px;">
      <div class="modal-content">
        <div class="modal-header"> 
        	<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
          <h4 id="myModalAlertLabel" class="modal-title">設定權重</h4>
        </div>
        <div class="modal-body">
        	<form name="weight">
          <div class="gv_tab_sc scroll_y">
            <table>
            <thead>
              <tr>
                <th>答案清單</th>
                <th>權重分數</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="row in inputVO.Weights" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
                <td>{{row.ANSWER_DESC}}<br>{{row.ANSWER_DESC_ENG}}
                </td>
                <td>
                	<input type="number" class="form-control" placeholder="請輸入..." id="fraction" name="fraction" ng-model="row.FRACTION" ng-required="true" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
           max="99999" step="1" maxLength="3">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div style="text-align: center;" class="modal-footer">
	       	 <button ng-click="saveData()" class="btn btn-info" data-dismiss="modal">確定</button> 
	         <button type="button" ng-click="closeThisDialog('cancel')" class="btn btn-info"data-dismiss="modal">取消</button> 
          </div>
          </form>
         </div>

      </div>
    </div>



</div>