<script type="text/javascript" src="assets/txn/IT0123/IT0123.js"></script>
<script type="text/javascript" src="assets/txn/IT0123/IT0123_Other.js"></script>
<div class="IT0123_Other" ng-controller="IT0123_Other_Controller" ng-cloak>
    <div class="panel_content" style="height:60vmin;min-height: 600px;padding-top: 10px;">
        <button type="button"
                class="btn btn-info"
                ng-click="printWorkstationInfo()">印出 Workstation Info</button>
        <hr/>
        <textarea placeholder="結果顯示區" ng-model="workstationInfo" rows="20" class="form-control"></textarea>
        <div style="float: right; margin-top: -3px;  opacity: 0.5; color: rgb(45, 122, 168);"
             ng-bind="(workstationInfo.length || 0) + ' chars'"></div>
    </div>
</div>