<style>
/* open dialog */
.ngdialog.CAM170_OTHERS {
	
}
/* dialog panl */
.modal-dialog.CAM170_OTHERS {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 900px;
	height: auto;
}
/* table size */
.CAM170_OTHERS table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.CAM170_OTHERS.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_CAM170_OTHERS_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
}
</style>
<div>
	<div ng-controller="CAM170_OTHERSController" ng-cloak>
		<div class="modal-dialog CAM170_OTHERS">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
					<h4 id="myModalAlertLabel" class="modal-title" align="center">{{inputVO.questionDesc}}-{{inputVO.answerDesc}}</h4>
				</div>
				<div class="modal-body">
					<div class="gv_tab_sc scroll_y">
						<table>
							<tr>
								<th style="width:25%;">內容</th>
							</tr>
							<tr ng-repeat="row in otherAnswerList track by $index">
								<td>{{row.REMARK}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>