<style>
	
	.FPS310_COMFIRM .modal-content{
		 width: 60vh; 
		 max-width: 400px;
    	 min-width: 400px;
		 top: 0px; left: 0px; 
		 bottom: 0px; 
		 right: 0px; 
		 z-index: 1050; 
		 max-height: 220px;
		 min-height: 220px;
	}
	
	.FPS310_COMFIRM .scrollable {
        max-height: 150px;
        overflow-y: auto;
    }
    
    .FPS310_COMFIRM .text_ciontent_bottom{
    	margin-top: 10px;
    	text-align: center;
    }
</style>

<div ng-controller="FPS310_COMFIRM_Controller" ng-cloak>
	<div class="modal-dialog FPS310_COMFIRM">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="myModalAlertLabel" class="modal-title" align="center">提醒視窗</h4>
			</div>
			<div class="modal-body">
				<div class="bootstrap-admin-panel-content text-muted custom-search-box">
				<div>
					{{textContent}}
				</div>
				<div class="text_ciontent_bottom">
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('enter')" >確定</button>
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')" >取消</button>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>