<style>
.datewidth{
	width:180px !important;
}

.rstable thead tr th {
	vertical-align:middle;
}

/* check box css */
input.faChkRnd, input.faChkSqr {
  visibility: hidden;
}
input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:25px;height: 17px; width: 17px;
  position: relative;
  top: -3px;
  left: 0px;
  background-color:#FFF;
  display: inline-block;
}

input.faChkRnd:checked:after {
  content: '\f058';
}

input.faChkRnd:after {
  content: '\f10c';
}

input.faChkSqr:checked:after {
  content: '\f14a';
}

input.faChkSqr:after {
  content: '\f096';
}
/* check box css */
</style>
<script type="text/javascript" src="assets/txn/PMS401/PMS401.js"></script>
<script type="text/javascript" src="assets/txn/PMS400/PMS400.js"></script>
<script type="text/javascript" src="assets/txn/PMS000/PMSRegionController.js"></script>

<div class="PMS400" ng-controller="PMS400Controller" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >查詢條件</div>
		</div>
		<div class="panel_content">
			<div class="search_table search_box">
				<table>
					<tr>						
						<th>資料統計日期：</th>
						<td colspan="7">							
							<div class="input-group datebox datewidth" style="float:left">
								<input 	type="text" id="sCreDate" name="sCreDate"
										class="form-control"
										uib-datepicker-popup="yyyy/MM/dd"
										ng-model="inputVO.sCreDate"
										is-open="model.a"
										datepicker-options="bgn_sDateOptions"								
										ng-readonly="true"								
										ng-change="limitDate();dateChange();"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event,'a')"><i class="glyphicon glyphicon-calendar"></i></button>																		
								</span>
							</div>																					
							<div style="float:left">&nbsp; ～ &nbsp;</div>	
							<div class="input-group datebox datewidth" style="float:left">
								<input 	type="text" id="eCreDate" name="eCreDate"
										class="form-control"
										uib-datepicker-popup="yyyy/MM/dd"
										ng-model="inputVO.eCreDate"
										is-open="model.b"
										datepicker-options="bgn_eDateOptions"								
										ng-readonly="true"								
										ng-change="limitDate();dateChange();"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event,'b')"><i class="glyphicon glyphicon-calendar"></i></button>																		
								</span>
							</div>								
						</td>											    											
					</tr>
					<tr>
						<th>業務處：</th>
						<td>
							<e-combobox id="region_center_id" name="region_center_id"
										ng-datasource="REGION_LIST"
										ng-model="inputVO.region_center_id"
										ng-validate="false" 
										ng-disabled="disableRegionCombo"
										ng-readonly="disableRegionCombo" 
										ng-editable="false"
										ng-format="F3"
										ng-required="true"
										ng-change="ChangeRegion()"
										width="200px"
										style="line-height:20px;" />
						</td>						
						<th>營運區：</th>
						<td>
							<e-combobox id="branch_area_id" name="branch_area_id"
										ng-datasource="AREA_LIST"
										ng-model="inputVO.branch_area_id"
										ng-validate="false" 
										ng-disabled="disableAreaCombo"
										ng-readonly="disableAreaCombo" 
										ng-editable="false"
										ng-format="F3"
										ng-required="true"
										ng-change="ChangeArea()"
										width="100px"
										style="line-height:20px;" />
						</td>
						<th>分行：</th>
						<td>
							<e-combobox id="branch_nbr" name="branch_nbr"
										ng-datasource="BRANCH_LIST"
										ng-model="inputVO.branch_nbr"
										ng-validate="false" 
										ng-disabled="disableBranchCombo"
										ng-readonly="disableBranchCombo" 
										ng-editable="false"
										ng-format="F1"
										ng-required="true"
										ng-change="ChangeBranch()"
										width="150px"
										style="line-height:20px;" />
						</td>
						<th>職務名稱：</th>
						<td>
							<e-combobox id="person_role" name="person_role"
										ng-paramtype="BTPMS401.PERSON_SET"
										ng-model="inputVO.person_role"
										ng-validate="false"
										ng-disabled="false"
										ng-readonly="false" 
										ng-editable="false"
										ng-format="F3"
										ng-required="false"
										width="250px"
										style="line-height:20px;" />
						</td>
					</tr>					
				</table>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="inquireInit();query()">查詢</button>
				<button type="button" class="btn btn-info" ng-click="init();limitDate()">清除</button>
				<button type="button" class="btn btn-info" ng-click="exportRPT()">匯出</button>
				<button type="button" class="btn btn-info" ng-click="newRPT()">新報表查詢</button>
			</div>
			<span style="color:red;" text-align='left'>查詢2018/4/30後資料，請選擇新報表查詢</span>
		</div>
	</div>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">查詢結果</div>
		</div>
		<div class="panel_content">		    
			<e-jumping-once output="outputVO" list="paramList" totallist="totalData"></e-jumping-once>
			<div algin="left">
				<table>
			    	<tr>
			    		<td>產出頻率：</td>
			    		<td>每日</td>
			    	</tr>
			    	<tr>
			    		<td>產出日：</td>
			    		<td>{{ rptDate }}</td>
			    	</tr>
		    	</table>
			</div>	
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<table class="rstable e-table-freeze" e-left="8" e-height="500px" e-mode="1" e-top="true" e-list="paramList">
					<thead>
						<tr>
							<th>序號</th>
							<th>交易日期</th>
							<th>所屬<br>分行</th>
							<th>帳號</th>
							<th>行員<br>身份證字號</th>
							<th>行員姓名</th>
							<th>理專員編</th>
							<th>AO<br>Code</th>
							<th>幣別</th>
							<th>原幣金額</th>
							<th>交易金額(台幣)</th>
							<th>主管<br>確認</th>
							<th>主管備註欄</th>
							<th>最新<br>異動人員</th>
							<th>最新異動日期</th>							
						</tr>
					</thead>
					<tbody>
						<tr class="repeat-row" ng-repeat="row in paramList track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">																		 						
						 	<td>{{row.ROWNUM}}</td>
							<td>{{row.TRADE_DATE_F}}</td>
							<td>{{row.BRANCH_NBR}}<ps ng-show="row.BRANCH_NAME">-</ps>{{row.BRANCH_NAME}}</td>
							<td>{{row.ACC_NBR}}</td>
							<td>{{row.IDS}}</td>
							<td>{{row.NAME}}</td>
							<td>{{row.EMP_ID}}</td>
							<td>{{row.AO_CODE}}</td>
							<td>{{row.CRCY_TYPE}}</td>
							<td align="right">{{row.AMT_ORGD | currency:''}}</td>
							<td align="right">{{row.AMT_NTD | currency:''}}</td>
							<td align="center">
								<input type="checkbox"  ng-disabled="row.DISABLE_FLAG=='Y' || (row.DISABLE_FLAG=='N' && row.DISABLE_ROLE_FLAG =='Y') " ng-model="row.SUPERVISOR_FLAG" ng-true-value="'Y'" ng-false-value="'N'">
							</td>
							<td><input type="text" ng-disabled="row.DISABLE_FLAG=='Y' || (row.DISABLE_FLAG=='N' && row.DISABLE_ROLE_FLAG =='Y') " ng-model="row.NOTE"></td>
							<td>{{row.MODIFIER}}</td>
							<td>{{row.LASTUPDATE}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<table>
					<tr>
						<td>說明：</td>
						<td></td>
					</tr>
				</table>
			</div>
			<br>
			<div align="center" ng-show="paramList.length > 0"><button type="button" class="btn btn-info" ng-click="save()">儲存</button></div>
		</div>
	</div>
</div>