<script type="text/javascript" src="assets/txn/PMS421/PMS421_UPLOAD.js"></script>
<div ng-controller="PMS421_UPLOADController" ng-cloak>
		<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
			<table>
				<tr>
					<th style="text-align:right; width:50%;">選擇上傳檔案：</th>
					<td style="text-align:left; width:50%;">
						<e-upload id="csvUpload" success="uploadFinshed(name,rname)" text="上傳" accept=".csv"></e-upload>
					</td>
				</tr>
			</table>
		</form>
		<div class="search_box_btn text-center">
			<button type="button" class="btn btn-info" ng-click="insertExpt()" function-type="maintenance">確定</button>
			<button type="button" class="btn btn-info" ng-click="downloadExm()">下載範例</button>
		</div>
</div>