<style>
.table-stripeds>tbody>tr:nth-child(even) {
	background-color: #FFFFCC;
}

.pixture_line {
	clear: left;
	vertical-align: middle;
	text-align: center;
}

.pixture {
	float: left;
	margin: 10px 5% 10px 5%;
}

.centerword {
	float: left;
	width: 100%;
	text-align: right;
	margin-bottom: 5px;
	margin-right: 5px;
}

.ins420_img_bar_table {
	text-align: center;
	width: 100%;
}

.ins420_img_bar_table tr td {
	padding-top: 20px;
	padding-bottom: 10px;
}

.ins420_img_bar_table tr td a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	margin: auto;
	height: 120PX;
	width: 200px;
	background-color: #D5E6F0;
}

.ins420_img_bar_table tr td a img {
	border-top-color: #C3D4E0;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #C3D4E0;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-color: #C3D4E0;
	border-left-style: solid;
	border-left-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	margin: auto;
	height: 130PX;
	width: 200px;
	background-color: #D5E6F0;
}

.ins420_img_bar_table tr td span {
	border-bottom-color: #C3D4E0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-color: #C3D4E0;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-color: #C3D4E0;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
	margin: auto;
	height: 50PX;
	width: 200px;
	background-color: #D5E6F0;
}
</style>
<script type="text/javascript" src="assets/txn/INS420/INS420.js"></script>
<div ng-controller="INS420Controller" ng-cloak>
	<!--Content of the panel-->
	<table class="ins420_img_bar_table">
		<tr>
			<td>
				<a href="#"><img alt="子女教育" src="assets/images/ic_child.svg" ng-click="goINS430(1)"></a> 
				<span style="font-weight: bold;">子女教育</span>
			</td>
			<td>
				<a href="#"><img alt="退休規劃" src="assets/images/ic_retired.svg" ng-click="goINS430(2)"></a>
				<span style="font-weight: bold;">退休規劃</span>
			</td>
			<td>
				<a href="#"><img alt="購屋" src="assets/images/ic_house.svg" ng-click="goINS430(3)"></a>
				<span style="font-weight: bold;">購屋</span>
			</td>
			<td>
				<a href="#"><img alt="購車" src="assets/images/ic_car.svg" ng-click="goINS430(4)"></a>
				<span style="font-weight: bold;">購車</span>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#"><img alt="結婚" src="assets/images/ic_marry.svg" ng-click="goINS430(5)"></a>
				<span style="font-weight: bold;">結婚</span>
			</td>
			<td>
				<a href="#"><img alt="留遊學" src="assets/images/ic_studyabroad.svg" ng-click="goINS430(6)"></a>
				<span style="font-weight: bold;">留遊學</span>
			</td>
			<td>
				<a href="#"><img alt="旅遊" src="assets/images/ic_trip.svg" ng-click="goINS430(7)"></a>
				<span style="font-weight: bold;">旅遊</span>
			</td>
			<td>
				<a href="#" ng-click="goINS430(8)"><img alt="其他" src="assets/images/ic_other.svg"></a>
				<span style="font-weight: bold;">其他</span>
			</td>
		</tr>
	</table>
</div>