<script type="text/javascript" src="assets/txn/CRM824/CRM824.js"></script>
<script type="text/javascript" src="assets/txn/CRM824/CRM824_DETAIL.js"></script>
<script type="text/javascript" src="assets/txn/PRD150/PRD150_DETAIL.js"></script>
<script type="text/javascript" src="assets/txn/PRD120/PRDDocument.js"></script>
<div class="CRM824" ng-controller="CRM824Controller" ng-cloak>
	<!-- <div class="tfb_content">
		<div class="tfb_content_icon"></div>
		<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >組合式商品(SI)</div>
	</div>-->
	<!--Content of the panel-->
	<div class="panel_content">
		<div class="search_table search_box3">
			<table>
				<tr>
					<th>(約當臺幣)</th>
					<td colspan = "3"></td>
				</tr>
				<tr>
					<th>庫存總面額：</th>
					<td colspan = "3">{{SUMIVAMT2 | number :0}}</td>
				</tr>
				<tr>
					<th>含息總報酬率：</th>
					<td colspan = "3">{{Return | number :4}}{{ Return != null ? '%' : ''}}</td>
				</tr>
			</table>	
		</div>
		<e-jumping-once output="outputVO" list="data" totallist="resultList"></e-jumping-once>
		<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
			<table class="table-bordered">
				<thead>
					<tr>
						<th>收件編號</th>
						<th>商品代號</th>
						<th>商品名稱</th>
						<th>商品幣別</th>
						<th>庫存面額</th>
						<th>交易日</th>
						<th>起息日</th>
						<th>最新配息日</th>
						<th>最新配息率</th>
						<th>累計配息率</th>
						<th>最新參考贖回報價</th>
						<th>含息報價</th>
						<th>含息報酬率</th>
					</tr>
				</thead>
				<tbody>
					<tr class="repeat-row" ng-repeat="row in data track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
						<td style="text-align: left;"><a href="#" onclick="return false" ng-click="detail(row)">{{row.IVRNO}}</a></td>
						<td style="text-align: left;">{{row.SDPRD}}</td>
						<td style="text-align: left;"><a href="#" onclick="return false" ng-click="goPrdDetail(row)">{{row.PRDCNM}}</a></td>
						<td style="text-align: center;">{{row.IVCUCY}}</td>
						<td style="text-align: right;">{{row.IVAMT2 | number:0}}</td>
						<td style="text-align: center;">{{toJsDate(row.INVEND) | date:"yyyy-MM-dd"}}</td>
						<td style="text-align: center;">{{toJsDate(row.DEPSTR) | date:"yyyy-MM-dd"}}</td>
						<td style="text-align: center;">{{toJsDate(row.PLADTE) | date:"yyyy-MM-dd"}}</td>
						<td style="text-align: center;">{{row.INTRATE | number:6}}%</td>
						<td style="text-align: center;">{{row.ACMINTRATE | number:6}}%</td>
						<td style="text-align: right;">{{row.SDAMT3 | number:4}}</td>
						<td style="text-align: right;">{{row.INTAMT | number:4}}</td>
						<td style="text-align: right;">{{row.INTROR_S}}{{row.INTROR | number:4}}{{ row.INTROR != null ? '%' : ''}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>