<style>
.modal-dialog.CAM140_SELECT {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: auto;
}
</style>
<div ng-controller="CAM140_SELECTController" ng-cloak>
	<div class="modal-dialog CAM140_SELECT">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">選擇輔銷文件</h4>
			</div>
			<div class="modal-body">
				<e-jumping-once output="outputVO" list="data" totallist="roleList"></e-jumping-once>
				<div class="gv_tab_sc" style="white-space: nowrap;">
					<table class="table-bordered">
						<thead>
							<tr>
								<th>
									<label style="font-weight: initial;margin-bottom: 0px;">
										<input type='checkbox' ng-model='clickAll' ng-change='checkrow()' /> 本頁選取
									</label>
								</th>
								<th>檔案名稱</th>
							</tr>
						</thead>
						<tbody>
							<tr class="repeat-row" ng-repeat="row in data">
								<td align="center">
									<label style="font-weight: initial;margin-bottom: 0px;">
										<input type='checkbox' ng-model='row.SELECTED'>　
									</label>
								</td>
								<td>{{row.DOC_NAME}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()" function-type="maintenance" >確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
			</div>
		</div>
	</div>
</div>