<style>
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
}
.search-table-outter{
	overflow-x: scroll;
}

.colwidth>thead>tr>th {
	min-width: 150px;
	white-space: nowrap;
}
.rstable tr, th, td {	
	vertical-align:middle;
}
.middle th {
	vertical-align:middle;
}
input { 
    text-align: right; 
}
</style>
<script type="text/javascript" src="assets/txn/PMS314/PMS314.js"></script>

<div class="PMS314" ng-controller="PMS314Controller" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >目前參數設定</div>
		</div>
		<!--Content of the panel-->
		<div class="panel_content">
			<div class="gv_tab_sc scroll_y" style="height:500px;white-space: nowrap;">
				<h3> FC參數表</h3>				
					<table class="table-bordered" style="width:750px">
						<tr class="middle">
							<th> 參數1.達高峰會門檻 </th>						
							<td>
								<table style="width:300px"><tr>
									<td>收益達成</td>
									<td>
										<input type="text" ng-model="inputVO.summitINC"> %																							
									</td>
								</tr></table>															
							</td>
						</tr>
						<tr class="middle">
							<th> 參數2.達極峰會門檻 </th>
							<td>
								<table style="width:300px"><tr>
									<td>收益達成</td>
									<td>
										<input type="text" ng-model="inputVO.peakINC"> %																							
									</td>
								</tr></table>							
							</td>
						</tr>	
						<tr class="middle">
							<th> 參數3.高峰會專員別 </th>
							<td>	
								<table><tr>									
									<td>
										<input type="checkbox" ng-model="inputVO.summitFC1" ng-true-value="'Y'" ng-false-value="'N'"> FC1																							
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.summitFC2" ng-true-value="'Y'" ng-false-value="'N'"> FC2
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.summitFC3" ng-true-value="'Y'" ng-false-value="'N'"> FC3
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.summitFC4" ng-true-value="'Y'" ng-false-value="'N'"> FC4
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.summitFC5" ng-true-value="'Y'" ng-false-value="'N'"> FC5
									</td>
								</tr></table>					     								
							</td>
						</tr>
						<tr class="middle">	
							<th> 參數4.極峰會專員別 </th>
							<td>
								<table><tr>									
									<td>
										<input type="checkbox" ng-model="inputVO.peakFC1" ng-true-value="'Y'" ng-false-value="'N'"> FC1																							
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.peakFC2" ng-true-value="'Y'" ng-false-value="'N'"> FC2
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.peakFC3" ng-true-value="'Y'" ng-false-value="'N'"> FC3
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.peakFC4" ng-true-value="'Y'" ng-false-value="'N'"> FC4
									</td>
									<td>
										<input type="checkbox" ng-model="inputVO.peakFC5" ng-true-value="'Y'" ng-false-value="'N'"> FC5
									</td>
								</tr></table>						
							</td>													
						</tr>
					</table>
				<h3> FCH參數表 </h3>				
					<table class="table-bordered" style="width:750px">
						<tr class="middle">
							<th width="31%"> 參數1.達高峰會門檻1 </th>						
							<td width="69%">						
								<table style="width:300px"><tr>
									<td>收益達成</td>
									<td>
										<input type="text" ng-model="inputVO.fch1INC"> %													
									</td>
								</tr></table>											
							</td>
						</tr>
						<tr class="middle">
							<th rowspan="2"> 參數2.達極峰會門檻2 </th>
							<td>								
								<table style="width:300px"><tr>
									<td>收益達成</td>
									<td>
										<input type="text" ng-model="inputVO.fch2INC"> %													
									</td>
								</tr></table>						
							</td>
						</tr>	
						<tr>							
							<td>
								<table ><tr>
									<td >AUM達成</td>
									<td>
										<input type="text" ng-model="inputVO.fchAum" size="10"> %													
									</td>
									<td >新戶數達成</td>
									<td >
								 		<input type="text" ng-model="inputVO.fchNew" size="10"> %
									</td>
								</tr></table>						     								  
							</td>													
						</tr>
					</table>
				</div>								
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="save()">儲存參數</button>				
				<button type="button" class="btn btn-info" ng-click="init()">清除</button>				
			</div>
		</div>
	</div>
</div>