<script type="text/javascript" src="assets/txn/ELN100/ELN100.js"></script>
<script type="text/javascript" src="assets/txn/ELN100/ELN100_BBG.js"></script>
<script type="text/javascript" src="assets/txn/ELN100/ELN100_DETAIL.js"></script>
<div ng-controller="ELN100Controller" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">ELN_每日詢價明細</div>
		</div>
		<div class="panel_content">
			<div class="search_table search_box3">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
				<table>
					<tr>
						<th>*詢價起迄日：</th>
						<td colspan="6">
     						<div style="float: left; width: 220px;" class="input-group datebox datewidth">
								<input type="text" id="query_date_s" name="query_date_s"
									   class="form-control"
									   uib-datepicker-popup="yyyy/MM/dd"
									   ng-model="inputVO.query_date_s"
									   datepicker-options="sDateOptions"
									   is-open="model.a"
									   ng-readonly="true"
									   ng-change="limitDate()"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event,'a')">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>																		
								</span>
							</div>
							<div style="float: left">&nbsp;～&nbsp;</div>
     						<div style="float: left; width: 220px;" class="input-group datebox datewidth">
								<input type="text" id="query_date_e" name="query_date_e"
									   class="form-control"
									   uib-datepicker-popup="yyyy/MM/dd"
									   ng-model="inputVO.query_date_e"
									   datepicker-options="eDateOptions"
									   is-open="model.b"
									   ng-readonly="true"
									   ng-change="limitDate()"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event,'b')">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>																		
								</span>
							</div>
							<div style="float: left; color: #b3b3b3;">&nbsp;查詢區間：限連續3日(含當日)</div>
     					</td>
					</tr>
     				<tr>
     					<th>標的1：</th>
     					<td class="form-inline">
							<input type="text" 
								   id="bbg_code1" name="bbg_code1" 
								   class="form-control" 
								   style="width: 180px;"
								   ng-model="inputVO.bbg_code1" 
								   ng-focus="saveOriCode('1')"
								   ng-change="inputVO.bbg_code1 = inputVO.bbg_code1.toUpperCase()"
								   ng-blur="getBBG('1')"/>
							<button class="btn btn-info" ng-click="chooseBBG('1')" >
								<i class="glyphicon glyphicon-search" title="標的查詢1"></i>
							</button>
						</td>
     					<!-- <td>
     						<e-combobox id="bbg_code1"
										ng-datasource="mappingSet['ELN.BBG_CODE1']"
										ng-model="inputVO.bbg_code1"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td> -->
     					<th>標的2：</th>
     					<td class="form-inline">
							<input type="text" 
								   id="bbg_code2" name="bbg_code2" 
								   class="form-control" 
								   style="width: 180px;"
								   ng-model="inputVO.bbg_code2" 
								   ng-focus="saveOriCode('2')"
								   ng-change="inputVO.bbg_code2 = inputVO.bbg_code2.toUpperCase()"
								   ng-blur="getBBG('2')"/>
							<button class="btn btn-info" ng-click="chooseBBG('2')" >
								<i class="glyphicon glyphicon-search" title="標的查詢2"></i>
							</button>
						</td>
     					<!-- <td>
     						<e-combobox id="bbg_code2"
										ng-datasource="mappingSet['ELN.BBG_CODE2']"
										ng-model="inputVO.bbg_code2"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td> -->
     					
     					<th>標的3：</th>
     					<td class="form-inline">
							<input type="text" 
								   id="bbg_code3" name="bbg_code3" 
								   class="form-control" 
								   style="width: 180px;"
								   ng-model="inputVO.bbg_code3" 
								   ng-focus="saveOriCode('3')"
								   ng-change="inputVO.bbg_code3 = inputVO.bbg_code3.toUpperCase()"
								   ng-blur="getBBG('3')"/>
							<button class="btn btn-info" ng-click="chooseBBG('3')" >
								<i class="glyphicon glyphicon-search" title="標的查詢3"></i>
							</button>
						</td>
     					<!-- <td>
     						<e-combobox id="bbg_code3"
										ng-datasource="mappingSet['ELN.BBG_CODE3']"
										ng-model="inputVO.bbg_code3"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td> -->
  			  		</tr>
     				<tr>
     					<th>計價幣別：</th>
     					<td>
     						<e-combobox id="currency"
										ng-datasource="mappingSet['ELN.CURRENCY']"
										ng-model="inputVO.currency"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td>
     					<th>承作天期：</th>
     					<td>
     						<e-combobox id="tenor"
										ng-datasource="mappingSet['ELN.TENOR']"
										ng-model="inputVO.tenor"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td>
  			  		</tr>
     				<tr>
     					<th>KO 類型：</th>
     					<td>
     						<e-combobox id="ko_type"
										ng-datasource="mappingSet['ELN.KO_TYPE']"
										ng-model="inputVO.ko_type"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td>
     					<th>KI 類型：</th>
     					<td>
     						<e-combobox id="ki_type"
										ng-datasource="mappingSet['ELN.KI_TYPE']"
										ng-model="inputVO.ki_type"
			   							ng-validate="false" 
			   							ng-editable="false"
			   							ng-format="F3"
			   							ng-required="false"
			   							ng-change="changeKiType()"
			   							width="180px"
			   							style="line-height:20px;" />
     					</td>
  			  		</tr>
  			  		<tr>
  			  			<td colspan="6">
  			  				<label><input type="radio" ng-model="inputVO.type1" ng-value="1" ng-change="changeType('1')"> 年化收益率</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type1" ng-value="2" ng-change="changeType('1')"> 執行價格</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type1" ng-value="3" ng-change="changeType('1')"> KO 價格</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type1" ng-value="4" ng-change="changeType('1')"> KI 價格</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type1" ng-value="5" ng-change="changeType('1')"> 通路服務費率：</label>
  			  				<input type="text" 
								   id="rate1" name="rate1" 
								   class="form-control" 
								   e-input-limit="NC"
								   style="width: 180px; display: inline;"
								   ng-model="inputVO.rate1" 
								   ng-disabled="inputVO.type1 == undefined || disRate1"
								   ng-blur="checkRate('1')"/>(%)&nbsp;～&nbsp;
							<input type="text" 
								   id="rate2" name="rate2" 
								   class="form-control" 
								   e-input-limit="NC"
								   style="width: 180px; display: inline;"
								   ng-model="inputVO.rate2" 
								   ng-disabled="inputVO.type1 == undefined || disRate1"
								   ng-blur="checkRate('2')"/>(%)
  			  			</td>
  			  		</tr>
  			  		<tr>
  			  			<td colspan="6">
  			  				<label><input type="radio" ng-model="inputVO.type2" ng-value="1" ng-change="changeType('2')" ng-disabled="inputVO.type1 == undefined"> 年化收益率</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type2" ng-value="2" ng-change="changeType('2')" ng-disabled="inputVO.type1 == undefined"> 執行價格</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type2" ng-value="3" ng-change="changeType('2')" ng-disabled="inputVO.type1 == undefined"> KO 價格</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type2" ng-value="4" ng-change="changeType('2')" ng-disabled="inputVO.type1 == undefined"> KI 價格</label>&nbsp;
  			  				<label><input type="radio" ng-model="inputVO.type2" ng-value="5" ng-change="changeType('2')" ng-disabled="inputVO.type1 == undefined"> 通路服務費率：</label>
  			  				<input type="text" 
								   id="rate3" name="rate3" 
								   class="form-control" 
								   e-input-limit="NC"
								   style="width: 180px; display: inline;"
								   ng-model="inputVO.rate3" 
								   ng-disabled="inputVO.type1 == undefined || inputVO.type2 == undefined || disRate2"
								   ng-blur="checkRate('3')"/>(%)&nbsp;～&nbsp;
							<input type="text" 
								   id="rate4" name="rate4" 
								   class="form-control" 
								   e-input-limit="NC"
								   style="width: 180px; display: inline;"
								   ng-model="inputVO.rate4" 
								   ng-disabled="inputVO.type1 == undefined || inputVO.type2 == undefined || disRate2"
								   ng-blur="checkRate('4')"/>(%)
  			  			</td>
  			  		</tr>
				</table>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="inquire()">查詢</button>
				<button type="button" class="btn btn-info" ng-click="inquireInit()">清除</button>
			</div>
		</div>
		
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif">查詢結果</div>
		</div>
		<div class="panel_content">
			<e-jumping-once output="outputVO" list="data" totallist="resultList"></e-jumping-once>
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<table>
					<thead>
						<tr>
							<th>詢價日</th>
							<th>商品類型</th>
							<th>天期(月)</th>
							<th>幣別</th>
							<th>標的1</th>
							<th>標的2</th>
							<th>標的3</th>
							<th>標的4</th>
							<th>標的5</th>
							<th>收益率(年化%)</th>
							<th>執行價格(%)</th>
							<th>KO 價格(%)</br>[首月結束目開始]</th>
							<th>KO 類型</th>
							<th>KI 價格(%)</th>
							<th>KI 類型</th>
							<th>UF(%)</th>
							<!-- <th>詢價人</th>
							<th>問價編號</th>
							<th>詢價編號</th> -->
						</tr>
					</thead>
					<tbody>
						<tr class="repeat-row" ng-repeat="row in data" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
							<td>
								<a href="#" ng-click="getDetail(row)">{{toJsDate(row.QUERY_DATE) | date:'yyyy-MM-dd HH:mm'}}</a>
							</td>
							<!-- <td>{{toJsDate(row.QUERY_DATE) | date:'yyyy-MM-dd HH:mm'}}</td> -->
							<td>{{row.PRODUCT}}</td>
							<td align="right">{{row.TENOR}}</td>
							<td>{{row.CURRENCY}}</td>
							<td>{{row.BBG_CODE1}}</td>
							<td>{{row.BBG_CODE2}}</td>
							<td>{{row.BBG_CODE3}}</td>
							<td>{{row.BBG_CODE4}}</td>
							<td>{{row.BBG_CODE5}}</td>
							<td align="right">{{row.COUPON}}</td>
							<td align="right">{{row.STRIKE}}</td>
							<td align="right">{{row.KO_BARRIER}}</td>
							<td>{{row.KO_TYPE}}</td>
							<td align="right">{{row.KI_BARRIER == 'null' ? '' : row.KI_BARRIER}}</td>
							<td>{{row.KI_TYPE.toUpperCase() == 'NONE' ? '' : row.KI_TYPE}}</td>
							<td align="right">{{row.UP_FRONT}}</td>
							<!-- <td>{{row.QUERY_EMP}}</td>
							<td>{{row.QUERY_ID}}</td>
							<td>{{row.QUERY_SEQ}}</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<span>*查詢內容僅為詢價日參考報價，若有交易需求之分行，仍以起單時，市場最新報價為準。</span>
	</div>
</div>