<style>
/* open dialog */
.ngdialog.CRM661_HOME {
	
}
/* dialog panl */
.modal-dialog.CRM661_HOME {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
/* table size */
.CRM661_HOME table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.CRM661_HOME table.little{
	width: 61%;
}
/* change row */
.CRM661_HOME.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
	
}
/* scroll && height */
.scroll_CRM661_HOME_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
}
/* #container {  */
/* margin-top:5px;  */
/* margin-left:100%;;  */
/* margin-right:auto;  */
/* margin-bottom:20px;  */
/* border: 1px solid 000000;  */
/* } */
/* .right */
/* { */
/* position:absolute; */
/* right:100px; */
/* } */
</style>
<!-- 結果區 -->
<script type="text/javascript" src="assets/txn/CRM661/CRM661_home.js"></script>

<div class="CRM661_HOME" ng-controller="CRM661_HOMEController" ng-cloak>
	<div>
		<div class="tfb_content">
			<div class="tfb_content_icon"></div>
			
			<div class="tfb_content_btn" style="left:180px;" ng-if="!IsMobile">
				<table>
					<tr> 
					    <td>
							<a onclick="return false" ng-click="detail('CRM661')" class="btn btn-primary" >
							<i	class="glyphicon glyphicon-play" ></i>詳細資料/新增異動</a>
						</td>
						<td>&nbsp;</td>
						<td style="position: absolute">
							<a onclick="return false" ng-click="detail('CRM662')" class="btn btn-primary" >
							<i	class="glyphicon glyphicon-play"></i>家庭會員</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="tfb_content_btn" style="left:180px;top:6px;" ng-if="IsMobile">
				<table>
					<tr>
						<td>
							<a href=""><img src="assets/images/workicon/billboard1.png" height="40" width="40" ng-click="detail('CRM661')"></a>
						</td>
						<td>&emsp;</td>
						<td>
							<a href=""><img src="assets/images/workicon/billboard2.png" height="40" width="40" ng-click="detail('CRM662')"></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="tfb_content_tit">
				<img src="assets/images/icon/tfb_icon_a15.gif" >關係戶
			</div>
		</div>
		<div class="panel_content">
			<div class="gv_tab_sc scroll_y" style="height: 280px">
				<table>
					<thead>
						<tr>
							<th>身分證字號</th>
							<th>姓名</th>
							<th>關係</th>
<!-- 							<th>歸戶服務(主戶)</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in resultList_rel | limitTo:displayLimit track by $index" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'" ng-show = "resultList_rel.length > '1' || row.REL_TYPE != '00'">
							<td>
								<span ng-show="row.IN_COVERAGE == 'Y'"><a href="#" onclick="return false" ng-click="gohome(row.CUST_ID)">{{row.CUST_ID}}</a></span>
								<span ng-show="row.IN_COVERAGE != 'Y'">{{row.CUST_ID}}</span>
							</td>
							<td>
								<span>{{row.CUST_NAME}}</span>
								<span ng-show="row.REL_STATUS == 'RAN'">(申請待覆核)</span>
								<span ng-show="row.REL_STATUS == 'RAD'">(刪除待覆核)</span>
							</td>
							<td>{{row.REL_TYPE | mapping:mappingSet['CRM.REL_TYPE']:'F3'}}{{row.REL_TYPE_OTH != null ? '_' : ''}}{{row.REL_TYPE_OTH }}</td>
<!-- 						<td>{{row.JOIN_SRV_CUST_ID | mapping:mappingSet['JOIN_SRV_CUST_ID']:'F1'}}</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>