<script type="text/javascript" src="assets/txn/FPS233/FPS233_GREAT.js"></script>
<style>
/* open dialog */
.ngdialog.FPS233_GREAT {
	
}
/* dialog panl */
.modal-dialog.FPS233_GREAT {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 800px;
	height: auto;
}
/* table size */
.FPS233_GREAT  table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.FPS233_GREAT .table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.tdpadding {
	padding: 10px 5px 5px 5px;
}

.alignleft {
	text-align: left !important;
}

.bigspace {
	margin-left: 50px !important;
}

.datewidth {
	width: 180px !important;
}

.fdiv {
	float: left;
	width: 50%;
}
</style>
<!--  popup2 -->
<div ng-controller="FPS233_GREATController" ng-cloak>



	<div class="modal-body">

		<div class="fdiv"><font style="font-size:18px">最大共同資料區間:</font> 2011/03 ~ 2017/05</div>
		<div class="fdiv" align="right">
			<button ng-click="curs()" class="btn btn-info">帶入投組</button>
		</div>
		<div>
			<div
				style="border-top: 1px solid #cccccc; height: 1px; overflow: hidden;"></div>
			投資組合計算結果&nbsp;&nbsp;效率前緣年化報酬區間:11.34%~12.96% 最佳化配置年畫報酬率11.8%
			年化報酬率:12.96% 年化標準差:18
			<div
				style="border-top: 1px solid #cccccc; height: 1px; overflow: hidden;"></div>
			<nvd3 options="options" data="data"></nvd3>
			<div style="text-align:center;margin: 0px auto;float: left;width: 70%;">
				<table class="tablesaw table table-stripeds table-bordered">
					<tr>
						<th>代號<br />商品
						</th>
						<th>原幣金額</th>
						<th>約當金額</th>
						<th>比例</th>
						<th>原幣最低申購<br />金額
						</th>
					</tr>
					<tr>
						<td>富邦商品</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品2</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品3</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
					<tr>
						<td>富邦商品</td>
						<td>16,200</td>
						<td>500,000</td>
						<td>60%</td>
						<td>3,000</td>
					</tr>
				</table>
			</div>
			<div style="float: left;width: 30%;">
				<nvd3 options="options2" data="data2"></nvd3>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary" data-dismiss="modal"
					ng-click="saveleft()">確定並回上一頁</a>
			</div>
		</div>



	</div>

</div>
