<style>
/* dialog panl */
.modal-dialog.PMS350_INSERTDATA {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: 800px;
}
/* table size */
.PMS350_INSERTDATA table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.PMS350_INSERTDATA.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_PMS350_INSERTDATA_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}

.tdpadding {
	padding: 10px 5px 5px 5px;
}

.alignleft {
	text-align: left !important;
}

.bigspace {
	margin-left: 50px !important;
}

.datewidth {
	width: 180px !important;
}

.mainTB th, td {
	border-collapse: collapse;
	padding: 5px;
}

.subTB td {
	padding: 5px;
}
</style>
<script type="text/javascript" src="assets/txn/PMS350/PMS350.js"></script>
<script type="text/javascript" src="assets/txn/PMS350/PMS350_INSERT.js"></script>
<script type="text/javascript" src="assets/txn/PMS350/PMS350_INSERTDATA.js"></script>
<script type="text/javascript" src="assets/txn/PMS350/PMS350_INSLIST.js"></script>
<div ng-controller="PMS350_INSERTDATAController" ng-cloak>
	<div class="modal-dialog PMS350_INSERTDATA">
		<div class="modal-content  scroll_y" >
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">新增報表</h4>
			</div>
			<div class="tfb_content">
				<div class="tfb_content_icon"></div>
				<div class="tfb_content_tit">
					<img src="assets/images/icon/tfb_icon_a15.gif">查詢條件
				</div>
			</div>
			<div class="panel_content">
				<div class="search_table search_box3">
					<table>
						<tr>
							<th>報表提供單位：</th>
							<td><e-combobox id="dataMonth" name="dataMonth"
									ng-datasource="mappingSet['DEPT_NAME']" ng-change="TYPE_CHANGES()"
									ng-model="inputVO.RPT_DEPT" ng-validate="false"
									ng-required="true" ng-readonly="false" ng-editable="false"
									ng-format="F3" width="150px" style="line-height:20px;" /></td>
							<th>報表類型：</th>
							<td><e-combobox id="rptType"
									ng-datasource="mappingSet['RPT_TYPE']" ng-change="NAME_CHANGE()" 
									ng-model="inputVO.RPT_TYPE" ng-validate="false"
									ng-editable="false" ng-format="F3" ng-required="false"
									width="200px" style="line-height:20px;" /></td>
							<th>報表名稱：</th>
							<td><e-combobox id="rptName"
									ng-datasource="mappingSet['RPT_NAME_D']"
									ng-model="inputVO.rptName" ng-validate="false"
									ng-editable="false" ng-format="F3" ng-required="false"
									width="150px" style="line-height:20px;" /></td>
						</tr>
					</table>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-info" ng-click="query()">查詢</button>
					<button type="button" class="btn btn-info" ng-click="init()">清除</button>
					<button type="button" class="btn btn-info" ng-click="insert('new')">新增</button>
				</div>
			</div>
			<!-- result -->
			<div class="tfb_content">
				<div class="tfb_content_icon"></div>
				<div class="tfb_content_tit" style="font-size: 22px;">
					<img src="assets/images/icon/tfb_icon_a15.gif">可上傳報表資料清單
				</div>
			</div>
			<div class="panel_content">
				<e-jumping output="outputVO" input="inputVO" query="query()" list="paramList"></e-jumping>
				<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
					<table style="height: 600px;">
						<thead>
							<tr>
								<th>項次</th>
								<th>檢視</th>
								<th>修改</th>
								<th>刪除</th>
								<th>報表名稱</th>
								<th>報表說明</th>
								<th>使用角色</th>
								<th>使用跑馬燈</th>
								<th>上傳檔案名稱</th>
								<th>最後修改人</th>
								<th>最後修改日</th>
							</tr>
						</thead>
						<tbody>
							<tr class="repeat-row"
								ng-repeat="row in paramList track by $index"
								ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
								<td>{{outputVO.currentPageIndex*10+$index+1}}</td>
								<td><a href="#" data-toggle="modal" class="btn btn-info btn-circle" ng-click="check(row, 'true')">
									<i class="glyphicon glyphicon-search"></i></a></td>
								<td><a class="btn btn-warning btn-circle" ng-click="update(row, 'true')">
									<i class="glyphicon glyphicon-pencil"></i></a></td>
								<td><a class="btn btn-danger btn-circle" ng-click="delData(row)">
									<i class="glyphicon glyphicon-trash"></i></a></td>
								<td>{{row.RPT_NAME}}</td>
								<td>{{row.RPT_EXPLAIN}}</td>
								<td><span ng-bind-html="row.NEW_USER_ROLES">{{row.NEW_USER_ROLES}}</span>
									<!-- <span ng-bind-html="row.ROLES">{{row.ROLES}}</span></td> -->
								<td align="center">{{row.MARQUEE_FLAG}}</td>
								<td>{{row.FILENAME}}</td>
								<td>{{row.SETUP_EMP_NAME}}</td>
								<td>{{row.RPT_SETUP_LASTUPDATE}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>