<script type="text/javascript" src="assets/txn/CRM811/CRM811_TAB.js"></script>
<div class="CRM811_TAB" ng-controller="CRM811_TABController" ng-cloak>
	<uib-tabset active="activeJustified" Justified="true">
		<uib-tab index="0" ng-click="pagechose(1)">
			<uib-tab-heading>台外幣活存</uib-tab-heading>
		</uib-tab>
		<uib-tab index="1" ng-click="pagechose(2)">
			<uib-tab-heading>台幣支存</uib-tab-heading>
		</uib-tab>
		<uib-tab index="2" ng-click="pagechose(3)">
			<uib-tab-heading>台外幣定存</uib-tab-heading>
		</uib-tab>
		<uib-tab index="3" ng-click="pagechose(4)">
			<uib-tab-heading>交易明細查詢</uib-tab-heading>
		</uib-tab>
	</uib-tabset>
	<!-- PANL -->
<!-- 	<div class="panel panel-default"> -->
<!-- 		<div class="panel-heading"> -->
<!-- 	    	<div class="text-muted bootstrap-admin-box-title"><i class="glyphicon glyphicon-th-large"></i><span ng-if="page_title">{{page_title}}</span></div> -->
<!-- 	    </div> -->
<!--     </div> -->
	<br>
	<!-- gv_tab_sc add to own html -->
	<div ng-include="page_inde">
		<div role="tabpanel" class="tab-pane active" id="tab"></div>
	</div>
</div>