<style>

</style>
<div ng-controller="CRM371_CUSTController" ng-cloak>
	<div class="modal-dialog CRM371_CUST">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">照會結果</h4>
			</div>
			<div class="modal-body">
				<table>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">備註：</th>
						<td class="col-md-7 tdpadding">
							<textarea id="temp_yn" name="temp_yn" class="form-control" ng-model="inputVO.temp_yn" style="width: 100%; height: 100px"></textarea>
						</td>
						<td class="col-xs-1"></td>
					</tr>
					<tr>
						<td class="col-xs-1"></td>
						<th class="col-md-3">結果：</th>
						<td class="col-md-7 tdpadding">
							<e-combobox id="call_review_type" name="call_review_type"
							ng-paramtype="CRM.TRS_CALL_REVIEW_TYPE"
							ng-model="inputVO.call_review_type"
							ng-validate="false" 
							ng-readonly="false" 
							ng-editable="false"
							ng-format="F3"
							ng-required="true"
							style="line-height:20px;" />
						</td>
						<td class="col-xs-1"></td>
					</tr>
				</table>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-primary" ng-click="save()" function-type="maintenance" >確定</button>
					<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
				</div>
			</div>
		</div>
	</div>
</div>