<style>
/* open dialog */
.ngdialog.CAM150_SPR {
	
}
/* dialog panl */
.modal-dialog.CAM150_SPR {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 900px;
	height: auto;
}
/* table size */
.CAM150_SPR table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.CAM150_SPR.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_CAM150_SPR_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
}
</style>
<div>
	<div ng-controller="CAM150_SPRController" ng-cloak>
		<div class="modal-dialog CAM150_SPR">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
					<h4 id="myModalAlertLabel" class="modal-title" align="center">試算結果</h4>
				</div>
				<div class="modal-body">
					<div class="gv_tab_sc scroll_y" >
						<table>
							<thead>
								<tr>
									<th width="33%">總數</th>
									<th width="33%">可分派數</th>
									<th width="33%">無法進入數</th>
								</tr>
							</thead>
							<tbody>
								<tr class="repeat-row" align="center">
									<td>{{inputVO.totalNum}}</th>
									<td>{{inputVO.successNum}}</th>
									<td>{{inputVO.failureNum}}</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="search_box_btn text-center">
					<button type="button" class="btn btn-info" ng-click="closeThisDialog('cancel')">確定</button>
				</div>
			</div>
		</div>
	</div>
</div>