<script type="text/javascript" src="assets/txn/SOT620/SOT620.js"></script>
<script type="text/javascript" src="assets/txn/SOT620/SOT620_ADDPROD.js"></script>
<div class="SOT620" ng-controller="SOT620Controller" ng-cloak>
	<div>
		<div class="tfb_content">
		    <div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >高風險投資集中度查詢</div>
		</div>
		<!--Content of the panel-->
		<div class="panel_content">
			<div class="search_table search_box3">
				<table>
					<tr>
						<th style="width:5%; text-align:right;">客戶ID：</th>
						<td  style="width:35%; text-align:right;"><input type="text" class="form-control" placeholder="請輸入..." id="custID" name="custID" ng-model="inputVO.custID" ng-blur="getCustData();" e-length-limit="12" style="width: 200px;text-transform: uppercase;"></td>
						<td style="text-align:left;">
							<div style="text-align:left;">
								<button type="button" class="btn btn-info" ng-click="getCustData();">查詢</button>
								<button type="button" class="btn btn-info" ng-click="inquireInit();init();">清除</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="search_box_btn text-center"></div>
			<span>&nbsp;&nbsp;客戶目前高風險投資集中度結果：</span>
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<table class="e-table-freeze" e-height="500px" e-mode="1" e-top="true" e-list="data">
					<thead>
						<tr>
							<th>資料日期</th>
							<th>低信評/無信評海外債券</th>
							<th>未具證投信基金性質境外基金</th>
							<th>高風險商品總計</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center">{{curCRateData.DataDate | date:"yyyy-MM-dd"}}</td>
							<td align="center">{{curCRateData.PERCENTAGE_2}}<br/><span style={{curCRateData.color2}}>{{curCRateData.remark2}}</span></td>
							<td align="center">{{curCRateData.PERCENTAGE_3}}<br/><span style={{curCRateData.color3}}>{{curCRateData.remark3}}</span></td>
							<td align="center">{{curCRateData.PERCENTAGE_4}}<br/><span style={{curCRateData.color4}}>{{curCRateData.remark4}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="tfb_content">
		    <div class="tfb_content_icon"></div>
			<div class="tfb_content_tit"><img src="assets/images/icon/tfb_icon_a15.gif" >高風險投資集中度試算</div>
		</div>
		<!--Content of the panel-->
		<div class="panel_content">
			<span>&nbsp;&nbsp;客戶已委託/欲委託高風險投資明細：</span>
			<e-jumping-once input="inputVO" output="outputVO" list="data" totallist="centInvDataList" rowcountlimit="10"></e-jumping-once>
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<table class="e-table-freeze" e-height="500px" e-mode="1" e-top="true" e-list="data">
					<thead>
						<tr>
							<th>委託日期</th>
							<th>委託狀態</th>
							<th>商品類型</th>
							<th>交易類型</th>
							<th>商品代號</th>
							<th>商品名稱</th>
							<th>計價幣別</th>
							<th>原幣申購金額</th>
							<th>臺幣申購金額</th>
						</tr>
					</thead>
					<tbody>
						<tr class="repeat-row" align="center" ng-repeat="row in data" ng-class-odd="'rowOdd'" ng-class-even="'rowEven'">
							<td>{{toJsDate(row.BUY_DATE) | date:"yyyy-MM-dd"}}</td>
							<td ng-if="row.PROD_CAT != '1' && row.PROD_CAT != '6'">{{row.STATUS}}</td>
							<td ng-if="row.PROD_CAT == '1'">{{row.STATUS | mapping:mappingSet['SOT.CENTRATE_SI_STATUS']:'F3'}}</td>
							<td ng-if="row.PROD_CAT == '6'">{{row.STATUS | mapping:mappingSet['SOT.CENTRATE_OVSPRI_STATUS']:'F3'}}</td>
							<td>{{row.PROD_CAT | mapping:mappingSet['SOT.CENTRATE_PROD_TYPE']:'F3'}}</td>
							<td ng-if="row.PROD_CAT != '1' && row.PROD_CAT != '6'">{{row.TRANS_TYPE | mapping:mappingSet['SOT.CENTRATE_TRANS_TYPE']:'F3'}}</td>
							<td ng-if="row.PROD_CAT == '1'">{{row.TRANS_TYPE | mapping:mappingSet['SOT.CENTRATE_SI_TRNAS_TYPE']:'F3'}}</td>
							<td ng-if="row.PROD_CAT == '6'">預約單</td> <!-- 境外私募基金交易類型只有預約單 -->
							<td>{{row.PROD_ID}}</td>
							<td>{{row.PROD_NAME}}</td>
							<td>{{row.CURR_ID}}</td>
							<td align="right">{{row.AMT_ORG | currency: ''}}</td>
							<td align="right">{{row.AMT_TWD | number: 0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<span>&nbsp;&nbsp;新增試算高風險投資明細：</span>
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<table class="e-table-freeze" e-height="500px" e-mode="1" e-top="true">
					<thead>
						<tr>
							<th>委託日期</th>
							<th>委託狀態</th>
							<th>商品類型</th>
							<th>交易類型</th>
							<th>商品代號</th>
							<th>商品名稱</th>
							<th>計價幣別</th>
							<th>原幣申購金額</th>
							<th>臺幣申購金額</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{toJsDate(addProdData.BUY_DATE) | date:"yyyy-MM-dd"}}</td>
							<td>{{addProdData.STATUS}}</td>
							<td>{{addProdData.PROD_CAT | mapping:mappingSet['SOT.CENTRATE_PROD_TYPE']:'F3'}}</td>
							<td>{{addProdData.TRANS_TYPE | mapping:mappingSet['SOT.CENTRATE_TRANS_TYPE']:'F3'}}</td>
							<td>{{addProdData.PROD_ID}}</td>
							<td>{{addProdData.PROD_NAME}}</td>
							<td>{{addProdData.CURR_ID}}</td>
							<td align="right">{{addProdData.AMT_ORG | currency: ''}}</td>
							<td align="right">{{addProdData.AMT_TWD | number: 0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="addProd()">新增風險商品</button>
				<button type="button" class="btn btn-info" ng-click="trialCalculate();">集中度試算</button>
			</div>
			
			<br/><br/>
			<span>&nbsp;&nbsp;客戶即時高風險投資集中度試算結果：</span><span style="color:red">(僅為交易控管試算，實際數字仍應待次一營業日全行結算數字為準)</span>
			<div class="gv_tab_sc scroll_y" style="white-space: nowrap;">
				<table class="e-table-freeze" e-height="500px" e-mode="1" e-top="true">
					<thead>
						<tr>
							<th>資料日期</th>
							<th>低信評/無信評海外債券</th>
							<th>未具證投信基金性質境外基金</th>
							<th>高風險商品總計</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center">{{trialCalData.DataDate | date:"yyyy-MM-dd"}}</td>
							<td align="center">{{trialCalData.PERCENTAGE_2}}<br/><span style={{trialCalData.color2}}>{{trialCalData.remark2}}</span></td>
							<td align="center">{{trialCalData.PERCENTAGE_3}}<br/><span style={{trialCalData.color3}}>{{trialCalData.remark3}}</span></td>
							<td align="center">{{trialCalData.PERCENTAGE_4}}<br/><span style={{trialCalData.color4}}>{{trialCalData.remark4}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/><br/>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-info" ng-click="printDoc();">列印客戶聲明文件</button>
			</div>
		</div>
		
	</div>
	
</div>