<style>

</style>
<div ng-controller="PRD290_SettingController" ng-cloak>
	<div class="modal-dialog PRD290">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">主推商品完整包來源設定</h4>
			</div>
			<div class="modal-body">
				<form name="parameterTypeEditForm" class="form-horizontal" data-toggle="validator" role="form" autocomplete="off" enter-as-tab>
					<table>
						<tr>
							<td class="col-xs-1"></td>
							<th class="col-md-3">主推基金完整包：</th>
							<td class="col-md-7 tdpadding"><input type="text" id="fund" name="fund" class="form-control" ng-model="inputVO.fund" required></td>
							<td class="col-xs-1"></td>
						</tr>
						<tr ng-show="parameterTypeEditForm.fund.$error.required">
							<td class="col-xs-1"></td>
							<th class="col-md-3"></th>
							<td class="col-md-7 help-block with-errors">請輸入主推基金完整包</td>
							<td class="col-xs-1"></td>
						<tr>
						<tr>
							<td class="col-xs-1"></td>
							<th class="col-md-3">主推基金月報完整包：</th>
							<td class="col-md-7 tdpadding"><input type="text" id="fund_month" name="fund_month" class="form-control" ng-model="inputVO.fund_month" required></td>
							<td class="col-xs-1"></td>
						</tr>
						<tr ng-show="parameterTypeEditForm.fund_month.$error.required">
							<td class="col-xs-1"></td>
							<th class="col-md-3"></th>
							<td class="col-md-7 help-block with-errors">請輸入主推基金月報完整包</td>
							<td class="col-xs-1"></td>
						<tr>
					</table>
				</form>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()" function-type="maintenance" >確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
			</div>
		</div>
	</div>
</div>