<style>
/* open dialog */
.ngdialog.PRD241 {
	
}
/* dialog panl */
.modal-dialog.PRD241 {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 850px;
	height: auto;
}
.modal-dialog.PRD241_UPLOAD {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: auto;
}
/* table size */
.PRD241 table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.PRD241 table.little{
	width: 60%;
}
/* change row */
.PRD241.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
/* scroll && height */
.scroll_PRD241_dialog {
	overflow: scroll;
	width: 400px;
	height: 300px;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.alignleft{
	text-align: left !important;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
	float: left !important;
}
</style>
<script type="text/javascript" src="assets/txn/PRD241/PRD241.js"></script>
<script type="text/javascript" src="assets/txn/PRD241/PRD241_EDIT.js"></script>
<script type="text/javascript" src="assets/txn/PRD241/PRD241_UPLOAD.js"></script>
<div class="PRD241" ng-controller="PRD241Controller" ng-cloak>
	<div class="search_table search_box3">
		<table>
			<tr>
				<th>股票代碼：</th>
				<td><input type="text" class="form-control" style="text-transform: uppercase;" placeholder="請輸入..." id="prd_id" name="prd_id" ng-model="inputVO.prd_id" e-length-limit="16"></td>
				<td>
					<button type="button" class="btn btn-info" ng-click="inquireInit();inquire()" function-type="query">查詢</button>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div style="float: left">
<!-- 						<button type="button" class="btn btn-info" ng-click="edit()" function-type="maintenance">新增</button> -->
						<button type="button" class="btn btn-info" ng-click="upload()" function-type="export">整批上傳</button>
						<button type="button" class="btn btn-info" ng-click="download()" function-type="export">下載CSV</button>
					</div>
					<div style="float: right" ng-if="conDis">
						<button type="button" class="btn btn-info" ng-click="review('Y')" function-type="confirm">核可</button>
						<button type="button" class="btn btn-info" ng-click="review('N')" function-type="confirm">退回</button>
					</div>
					<div style="clear: both;"></div>
				</td>
			</tr>
		</table>
	</div>
	<!-- 結果區 -->
	<h4 class="h4-title">查詢結果</h4>
<!-- 	<e-jumping-once output="outputVO" list="data" totallist="roleList"></e-jumping-once> -->
	<div class="gv_tab_sc" style="white-space: nowrap;">
		<!-- 2017/6/20 要改成跟基金一樣不分頁， 因為他說只有不到兩百檔，不想要覆核還分頁 -->
		<table class="table table-bordered e-table-freeze" e-top="true" e-mode="1" e-height="500px" e-list="roleList">
			<thead>
				<tr>
					<th>
						<label style="font-weight: initial;margin-bottom: 0px;" function-type="confirm">
							<input type='checkbox' ng-model='checkVO.clickAll' ng-change='checkrow()' /> 本頁全選
						</label>
					</th>
					<th>功能</th>
					<th>覆核狀態</th>
					<th>股票代碼</th>
					<th>股票名稱</th>
					<th>CNR分配率</th>
					<th>CNR加減碼</th>
					<th>加碼區間起日</th>
					<th>加碼區間迄日</th>
					<!-- <th>狀態</th> -->
				</tr>
			</thead>
			<tbody>
				<tr class="repeat-row" ng-repeat="row in roleList track by $index">
					<td ng-if="row.REVIEW_STATUS == 'W' && row.CREATOR != currUser" class="td_center">
						<label style="font-weight: initial;margin-bottom: 0px;" function-type="confirm">
							<input type='checkbox' ng-model='row.SELECTED'>
						</label>
					</td>
					<td ng-if="!(row.REVIEW_STATUS == 'W' && row.CREATOR != currUser)"></td>
					<td ng-if="row.REVIEW_STATUS == 'W'"></td>
					<td ng-if="row.REVIEW_STATUS != 'W'">
						<div function-type="maintenance">
							<e-combobox id="cmbAction" name="cmbAction"
							ng-datasource="row.set"
							ng-model="row.cmbAction"
							ng-validate="false"
							ng-readonly="false" 
							ng-editable="false"
							ng-format="F3"
							ng-required="false"
							ng-change="action(row)"
							width="100px"
							style="line-height:20px;" />
						</div>
					</td>
					<td>{{row.REVIEW_STATUS == 'W' ? '覆核中' : '已覆核'}}</td>
					<td>{{row.PRD_ID}}</td>
					<td>{{row.STOCK_CNAME}}</td>
					<td>{{row.CNR_YIELD}}</td>
					<td>{{row.CNR_MULTIPLE}}</td>
					<td>{{toJsDate(row.MULTIPLE_SDATE) | date:"yyyy-MM-dd"}}</td>
					<td>{{toJsDate(row.MULTIPLE_EDATE) | date:"yyyy-MM-dd"}}</td>
					<td ng-hide="true">{{row.ACT_TYPE == 'A' ? '新增' : row.ACT_TYPE == 'M' ? '編輯' : '刪除'}}</td>
					<td ng-hide="true"></td>
					<!-- <td ng-if="row.REVIEW_STATUS == 'W'">{{row.ACT_TYPE == 'A' ? '新增' : row.ACT_TYPE == 'M' ? '編輯' : '刪除'}}</td>
					<td ng-if="row.REVIEW_STATUS != 'W'"></td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>