<style>
.PRD241_FILE_UPLOAD table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* change row */
.PRD241_FILE_UPLOAD.table>tbody>tr>td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}
.tdpadding{
	padding:  10px 5px 5px 5px;
}
.bigspace{
	margin-left: 50px !important;
}
.datewidth{
	width:180px !important;
	float: left !important;
}
</style>
<script type="text/javascript" src="assets/txn/PRD241/PRD241_FILE_UPLOAD.js"></script>
<script type="text/javascript" src="assets/txn/PRD220/PRD220_EDIT.js"></script>
<script type="text/javascript" src="assets/txn/PRD120/PRDDocument_url.js"></script>
<div ng-controller="PRD241_FILE_UPLOADController" ng-cloak>
	<div class="search_table search_box3">
		<table>
			<tr>
				<th>股票代碼：</th>
				<td><input type="text" class="form-control" style="text-transform: uppercase;" placeholder="請輸入..." id="prd_id" name="prd_id" ng-model="inputVO.prd_id" e-length-limit="16"></td>
				<td>
					<button type="button" class="btn btn-info" ng-click="inquireInit();inquire()" function-type="query">查詢</button>
					<button type="button" class="btn btn-info" ng-click="edit()" function-type="maintenance">新增</button>
				</td>
			</tr>
		</table>
	</div>
	<!-- 結果區 -->
	<h4 class="h4-title">查詢結果</h4>
	<e-jumping output="outputVO" input="inputVO" query="inquire()" list="paramList"></e-jumping>
	<div class="gv_tab_sc" style="white-space: nowrap;min-height:235px;overflow-x: auto;">
		<table class="table-bordered">
			<thead>
				<tr>
					<th function-type="maintenance">功能</th>
					<th>股票代碼</th>
					<th>文件編號</th>
					<th>文件名稱</th>
					<th>檔案名稱</th>
					<th>是否共用</th>
					<th>啟用日期</th>
					<th>停止日期</th>
					<th>上傳日期</th>
				</tr>
			</thead>
			<tbody>
				<tr class="repeat-row" ng-repeat="row in paramList track by $index">
					<td function-type="maintenance">
						<e-combobox id="cmbAction" name="cmbAction"
						ng-datasource="row.set"
						ng-model="row.cmbAction"
						ng-validate="false"
						ng-readonly="false" 
						ng-editable="false"
						ng-format="F3"
						ng-required="false"
						ng-change="action(row)"
						width="100px"
						style="line-height:20px;" />
					</td>
					<td>{{row.PRD_ID}}</td>
					<td>{{row.DOC_ID}}</td>
					<td ng-if="row.DOC_FILE_TYPE == 'D'"><a onclick="return false" ng-click="download(row)">{{row.DOC_NAME}}</a></td>
					<td ng-if="row.DOC_FILE_TYPE == 'U' && !IsMobile"><a ng-href="{{row.DOC_URL}}" target="_blank">{{row.DOC_NAME}}</a></td>
					<td ng-if="row.DOC_FILE_TYPE == 'U' && IsMobile"><a onclick="return false" ng-click="open(row)">{{row.DOC_NAME}}</a></td>
					<td>{{row.FILE_NAME}}</td>
					<td>{{row.SHARED | mapping:mappingSet['COMMON.YES_NO']:'F3'}}</td>
					<td>{{toJsDate(row.DOC_START_DATE) | date:'yyyy/MM/dd'}}</td>
					<td>{{toJsDate(row.DOC_DUE_DATE) | date:'yyyy/MM/dd'}}</td>
					<td>{{toJsDate(row.CREATETIME) | date:'yyyy/MM/dd'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>