<style>
.modal-dialog.PRD241_REST_UPLOAD {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	height: auto;
}
</style>
<div ng-controller="PRD241_REST_UPLOADController" ng-cloak>
	<div class="modal-dialog PRD241_REST_UPLOAD">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeThisDialog('cancel')">&times;</button>
				<h4 id="myModalAlertLabel" class="modal-title" align="center">上傳CSV-休市</h4>
			</div>
			<div class="modal-body">
				<e-upload success="uploadFinshed(name,rname)"></e-upload>
			</div>
			<div class="search_box_btn text-center">
				<button type="button" class="btn btn-primary" ng-click="save()" function-type="maintenance" >確定</button>
				<button type="button" class="btn btn-default" ng-click="closeThisDialog('cancel')" >取消</button>
			</div>
		</div>
	</div>
</div>