/* hack */

.FPS .search_box_btn {
  border: 0 !important;
}

/* help */

.FPS {
  text-align: center;
}

.FPS .font-italic {
  font-style: italic;
}

.FPS .font-bold {
  font-weight: 600;
}

.FPS .text-right {
  text-align: right;
}

.FPS .text-left {
  text-align: left;
}

.FPS .important.blue {
  color: #28a4c9;
}

.FPS .important.orange {
  color: #e96143;
}

.FPS .fall {
  color: #228B22;
}

/* el */

.FPS p {
  text-indent: 2em;
}

.FPS a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

/* block */

.FPS .block {
  width: 48%;
  display: inline-block;
  overflow: hidden;
  margin: .5em .5%;
  border: 3px solid #bfe2f7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  vertical-align: top;
  position: relative;
}

.FPS .block.tri {
  width: 31.6%;
}

.FPS .block.container {
  width: 97.5%;
  padding: 0;
}

.FPS .block.no-area {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 0;
  background-color: #bfe2f7;
}

.FPS .block.no-area .content-wrapper,
.FPS .content-wrapper.no-border,
.FPS .block.clear-space.no-border,
.FPS .block.no-border {
  border: none;
}

.FPS .title {
  font-size: 1.3em;
  padding: .3em 0;
  font-weight: 600;
  text-align: center;
  background-color: #bfe2f7;
}

.FPS .title.title-left {
  padding-left: 1em;
  /* need? */
  /* padding-bottom: .5em; */
  text-align: left;
}

.FPS .title .subtitle {
  font-size: 0.8em;
}

.FPS .title.subtitle {
  font-size: 1em;
  background-color: #93c5e1;
}

.FPS .content-wrapper {
  position: relative;
  text-align: left;
  padding: .5em;
  /* border-bottom: 1px solid #f1f1f1; */
}

.FPS .content-wrapper.no-padding {
  padding-bottom: 3px;
  padding-top: 3px;
}

.FPS .block:not(.no-area) .content-wrapper.last {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: .5em;
  background-color: #e5f3fc;
}

/* bad */

.FPS .block:not(.no-area) .content-wrapper.last.prefix {
  visibility: hidden;
  position: initial;
}

.FPS .block.clear-space {
  margin: 0 -2px 0 -2px;
  border-radius: 0;
  width: 50%;
  border: .5px solid #bfe2f7;
}

.FPS .block.clear-space.container {
  width: 100%;
  margin: 0;
}

.FPS .block.banner {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border-radius: 28px;
  padding-left: 1em;
}

.FPS .block.banner-content {
  background-color: #f5f5f5;
  border: .5px solid #f1f1f1;
  border-radius: 3px;
  padding-left: 1em;
  margin-top: 0;
}

.FPS .block:after,
.clear::after {
  display: block;
  content: '';
  clear: both;
}

.FPS .content-wrapper .content-title {
  text-align: left;
  width: 59%;
}

.FPS .content-wrapper .content-body {
  text-align: right;
  width: calc(100% - 59% - 1em);
}

.FPS .content-wrapper .content-title,
.FPS .content-wrapper .content-body {
  vertical-align: middle;
  display: inline-block;
}

.FPS .content-title-sub {
  padding-left: 1em;
}

.FPS .content-title.no-body {
  width: 99%;
}

.FPS .ps-wrapper {
  text-align: left;
  font-size: .9em;
  padding: .5em;
  position: relative;
}

.FPS .ps-wrapper .ps {
  padding: 0.1em .5em;
}

.FPS .ps-wrapper .ps-right {
  position: relative;
  float: right;
}

.FPS .title .ps-wrapper {
  position: absolute;
  top: -.3em;
  right: .5em;
  text-align: right;
  font-size: 0.75em;
}

/* icon */

.FPS a.icon {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
}

.FPS .clickable {
  cursor: pointer;
}

.FPS img {
  vertical-align: initial;
}

/* table */

.FPS table thead tr th,
.FPS table thead tr td,
.FPS table tbody tr th,
.FPS table tbody tr td {
  padding: 3px;
  vertical-align: middle;
}

.FPS table thead.padding-thead tr th {
  padding-top: .5em;
  padding-bottom: .5em;
}

.FPS table tbody tr th,
.FPS table tbody tr td {
  padding: 10px 5px;
  line-height: initial;
}

.FPS table.table tbody tr th,
.FPS table.table tbody tr td {
  border-top: 0;
  border-bottom: 0.5px solid #e1e1e1;
}

.FPS table.table thead tr th,
.FPS table.table thead tr td {
  text-align: center;
  border-top: 0;
  border-bottom: 0;
  background-color: #f1f1f1;
  color: #54565e;
}

.FPS table.table tbody tr.rowOdd {
  background-color: #f9f9f9;
}

/* add product */

.FPS .product-menu {
  height: 100%;
}

.FPS .product-menu aside {
  width: 20%;
  display: inline-block;
  border-right: 1px solid #f1f1f1;
  vertical-align: top;
  text-align: center;
}

.FPS .product-menu section {
  width: 79%;
  min-height: 100%;
  vertical-align: top;
  margin-left: -5px;
  border-left: 1px solid #f1f1f1;
  display: inline-block;
}

.FPS .product-menu .padding {
  padding: .5em;
}

/* aside */

.FPS .product-menu aside {
  text-align: left;
}

.FPS .product-menu aside h4 {
  height: 2em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
}

.FPS .product-menu aside .item-wrapper {
  padding-bottom: 5px;
}

.FPS .product-menu aside h5 {
  margin: 0;
  padding: .7em 0;
}

.product-menu aside .title {
  font-size: 1em;
}

.FPS .product-menu aside .item {
  text-align: left;
  padding: 0.5em 0;
  margin-top: -1px;
  border-top: .5px solid #f1f1f1;
  border-bottom: .5px solid #f1f1f1;
}

.FPS .product-menu a.fly-trashcan {
  float: left;
  width: 1.25em;
  height: 1.25em;
  margin: 0 .3em;
  cursor: pointer;
}

.FPS .product-menu .block.query-box {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/* toggle info-btn */

.FPS .btn-fps {
  cursor: pointer;
  height: 32px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #5bc0de, #2aabd2);
  box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.2), inset -1px -1px 0 0 rgba(0, 0, 0, 0.1);
  padding-right: 16px;
  padding-left: 16px;
  display: inline-block;
  line-height: 30px;
  position: relative;
  min-width: 96px;
  color: #fff;
  text-align: center;
}

.FPS .btn-fps.btn-fps-disabled {
  background-image: linear-gradient(to bottom, #e8e8e8, #ccc);
  color: #333;
}

.FPS .btn-fps.toggle-wrapper {
  height: 36px;
  border-radius: 28px;
  padding-right: 46px;
  padding-left: 16px;
  line-height: 34px;
}

.FPS .btn-fps.btn-fps-brick {
  min-width: auto;
  padding: 4px 10px 6px 10px;
  height: auto;
  line-height: initial;
}

.FPS .btn-fps.toggle-wrapper.no-img {
  padding-right: 16px;
}

.FPS .btn-fps.toggle-wrapper .icon {
  position: absolute;
  top: 5px;
  right: 10px;
}

/* product query|result */

.product_query {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.FPS .product_query table {
  margin: 0 auto;
}

.FPS .product_query th {
  /* width: 20%; */
  padding: 5px;
  text-align: left;
}

.FPS .product_query td {
  /* width: 30%; */
  padding: 5px;
  text-align: left;
}

.FPS .product_query table td>input {
  max-width: 220px;
}

.FPS .product_query .search_box_btn {
  padding-bottom: 5px;
  margin-top: 1em;
  padding-top: 15px;
}

.FPS table.thickerHead thead tr th {
  padding-top: .7em;
  padding-bottom: .7em;
}

/* inner table */

.FPS table.innerTable {
  border: 0;
  padding: 0;
  margin: 0;
}

/* notice */

.FPS .notice-mark {
  display: inline-block;
  max-width: 1em;
  vertical-align: top;
}

.FPS .notice {
  display: inline-block;
  width: calc(99% - 1em);
}

/* money sweat */

.FPS img.money-svg {
  width: 10em;
}

.FPS .money-svg-text {
  margin-top: -1em;
  margin-bottom: 2em;
}

/* chart */

.FPS .chart-wrapper:first-of-type {
  margin-right: .5%;
}

.FPS .chart-wrapper {
  background-color: #fafafa;
}

.FPS .chart-content {}

.FPS .chart {
  height: 300px;
  width: 100%;
}

.FPS table.chart-table tr td {
  padding-left: 1em;
}

.FPS .color-block {
  width: 1.5em;
  height: 1.5em;
  border-radius: 3px;
  display: inline-block;
}

/* tooltip */

.FPSTooltip .tooltip-inner {
  max-width: initial;
  width: auto;
}
