<style>
  .currency {
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(51, 51, 51, .3);
    background-color: #61aec5;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    position: relative;
  }

  .currency input {
    display: none;
  }

  .currency label {
    width: 100%;
    height: 100%;
  }

  .currency .text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
  }

  .currency .icon-wrapper {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #ddd;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .currency .icon {
    color: #30d344;
    vertical-align: top;
    font-size: 1.2em;
  }

</style>


<div ng-controller="FPSProdCurrencyController"
     style="padding-bottom:3em;">
  <!-- result -->
  <div ng-repeat="row in paramList"
       class="currency">
    <div class="icon-wrapper">
      <i class="fa fa-check icon"
         ng-show="row.selected"></i>
    </div>
    <label>
      <input type="checkbox"
             ng-model="row.selected"
             ng-change="selected(row)">
      <div ng-bind="row.CURRENCY_NAME"
           class="text"></div>
    </label>
  </div>
  <!-- !result -->
</div>
