<div ng-controller="FPSProdSIController">
  <!-- query -->
  <div class="block query-box container"
       ng-class="{'no-area': arrowUp}">
    <!-- fake title -->
    <div class="content-wrapper"
         style="background-color:#bfe2f7;margin-top:-1px;">
      <div class="content-title font-bold">商品清單</div>
      <div class="content-body">
        <div class="toggle-wrapper btn-fps"
             ng-click="arrowUp=!arrowUp">
          查詢條件
          <img ng-src="{{arrowPath[arrowUp?'down':'up']}}"
               class="icon">
        </div>
      </div>
    </div>
    <!-- fake body -->
    <div class="content-wrapper product_query"
         ng-show="!arrowUp">
      <table>
        <tbody>
          <tr>
            <th>SI代號：</th>
            <td>
              <!--  ng-blur="getName()" -->
              <input type="text"
                     class="form-control"
                     style="text-transform: uppercase;"
                     placeholder="請輸入..."
                     ng-model="inputVO.SIID"
                     ng-change="inputVO.SIID = inputVO.SIID.toUpperCase()"
                     e-length-limit="16">
            </td>
            <th>SI名稱：</th>
            <td>
              <input type="text"
                     class="form-control"
                     style="text-transform: uppercase;"
                     placeholder="請輸入..."
                     ng-model="inputVO.SIName"
                     e-length-limit="255">
            </td>
          </tr>
          <tr>
            <th>計價幣別：</th>
            <td>
              <e-combobox ng-paramtype="PRD.BOND_CURRENCY"
                          ng-model="inputVO.currency"
                          ng-validate="false"
                          ng-readonly="false"
                          ng-editable="false"
                          ng-format="F3"
                          ng-required="false"
                          width="180" />
            </td>
            <th>商品年限：</th>
            <td>
              <e-combobox ng-paramtype="PRD.DATE_OF_MATURITY"
                          ng-model="inputVO.maturity"
                          ng-validate="false"
                          ng-readonly="false"
                          ng-editable="false"
                          ng-format="F3"
                          ng-required="false"
                          width="180" />
            </td>
          </tr>
          <tr>
            <th>是否保本：</th>
            <td>
              <e-combobox ng-paramtype="PRD.SI_NEW_RATE_GUARANTEEPAY"
                          ng-model="inputVO.rateGuarantee"
                          ng-validate="false"
                          ng-readonly="false"
                          ng-editable="false"
                          ng-format="F3"
                          ng-required="false"
                          width="180" />
            </td>
            <th>商品風險等級：</th>
            <td>
              <e-combobox ng-paramtype="FPS.PROD_RISK_LEVEL"
                          ng-model="inputVO.riskLev"
                          ng-validate="false"
                          ng-readonly="false"
                          ng-editable="false"
                          ng-format="F3"
                          ng-required="false"
                          width="180" />
            </td>
          </tr>
          <tr>
          <th>專案：</th>
						<td>
							<e-combobox id="si_project" 
								ng-paramtype="PRD.SI_PROJECT"
								ng-model="inputVO.si_project"
		    					ng-validate="false"
		    					ng-readonly="false" 
		    					ng-editable="false"
		    					ng-format="F3"
		    					ng-required="false"
		    					width="150px"
		    					multiple="true"
			  					separator=";"
			  					label-separator="；"
		    					style="line-height:20px;" />
						</td>
		  <th>客群：</th>
						<td>
							<e-combobox id="si_customer_level" 
								ng-paramtype="PRD.SI_CUSTOMER_LEVEL"
								ng-model="inputVO.si_customer_level"
		    					ng-validate="false"
		    					ng-readonly="false" 
		    					ng-editable="false"
		    					ng-format="F3"
		    					ng-required="false"
		    					width="150px"
		    					multiple="true"
			  					separator=";"
			  					label-separator="；"
		    					style="line-height:20px;" />
						</td>						
          </tr>
        </tbody>
      </table>
      <div class="search_box_btn text-center">
        <a class="btn-fps"
           ng-click="inquire()">查詢</a>
        <a class="btn-fps"
           ng-click="init()">清除</a>
      </div>
    </div>
  </div>
  <!-- !query -->
  <!-- result -->
  <div>
    <e-jumping-once output="outputVO"
                    list="paramList"
                    totallist="prodList"></e-jumping-once>
  </div>
  <div class="ps-wrapper">
    <img src="assets/images/ic-refresh.svg"
         style="height:1.5em;
                vertical-align:middle;">
    <div style="position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:2.5em;">3個工作天內募集結束</div>
  </div>
  <table class="table thickerHead">
    <thead>
      <tr>
        <th style="min-width:2em;"></th>
        <th>狀態</th>
        <th style="width:360px">商品</th>
        <th>計價幣別</th>
        <th>風險等級</th>
        <th>商品年期</th>
        <th>是否保本</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in paramList"
          ng-show="row.action!='delete'"
          class="repeat-row"
          ng-class-odd="'rowOdd'"
          ng-class-even="'rowEven'">
        <td>
          <input type="checkbox"
                 ng-model="row.selected"
                 ng-change="selected(row)">
        </td>
        <td>
          <!-- 推薦 -->
          <img src="assets/images/ic-refresh.svg"
               ng-if="row.PRD_RANK==='Y'">
        </td>
        <td style="text-align:left;">
          <a ng-bind="row.PRD_ID+' '+row.SI_CNAME"
             ng-click="go('detail', row)"></a>
          <!-- 代號商品 -->
        </td>
        <td ng-bind="row.CURRENCY_STD_ID">
          <!-- 計價幣別 -->
        </td>
        <td ng-bind="row.RISKCATE_ID">
          <!-- 風險等級 -->
        </td>
        <td ng-bind="row.DATE_OF_MATURITY">
          <!-- 商品年期 -->
        </td>
        <td ng-bind="row.RATE_GUARANTEEPAY | mapping: mapping.guaranteePay">
          <!-- 是否保本-->
        </td>
      </tr>
    </tbody>
  </table>
  <!-- !result -->
</div>
